<p-tabView>
    <p-tabPanel header="Integration Point">
        <app-integration-pt></app-integration-pt>
    </p-tabPanel>
    <p-tabPanel header="Endpoint URL Capturing">
        <app-url-capturing (keywordData)="saveKeywordData($event)"></app-url-capturing>
    </p-tabPanel>
</p-tabView>

<p-dialog class="profile-dialog" header="Runtime changes partially applied on instances" *ngIf="errDialog" [(visible)]="errDialog" modal="modal"
  width="500" responsive="true">
  <div style="max-height: 500px; overflow-y: auto;">
    <ul>
     <li *ngFor="let err of msg">
        <span>{{err}}</span>
     </li>
    </ul>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
      <button type="button" pButton (click)="errDialog=false" icon="fa-check" label="Ok"></button>
    </div>
  </footer>
</p-dialog>