<p-tabView>
    <p-tabPanel header="Detection By Classes">
        <app-integration-pt (keywordData)="saveKeywordData($event)"></app-integration-pt>
    </p-tabPanel>
    <p-tabPanel header="Detection By Interfaces" *ngIf="agentType == 'Java'">
        <app-interface-point (keywordData)="saveKeywordData($event)"></app-interface-point>
    </p-tabPanel>
    <p-tabPanel header="Settings" *ngIf="agentType == 'Java'">
        <app-url-capturing (keywordData)="saveKeywordData($event)"></app-url-capturing>
    </p-tabPanel>
</p-tabView>

<p-dialog class="profile-dialog" header="Runtime changes partially applied on instances" *ngIf="errDialog" [(visible)]="errDialog" modal="modal"
width="500" responsive="true">
<div style="max-height: 500px; overflow-y: auto;">
  Runtime changes successfully applied on: 
  <ul>
   <li *ngFor="let err of msg">
      <span>{{err}}</span>
   </li>
  </ul>
  Error while applying Runtime changes on:
  <ul>
    <li *ngFor="let e of errMsg">
       <span>{{e}}</span>
    </li>
   </ul>
</div>
<footer>
  <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
    <button type="button" pButton (click)="errDialog=false" icon="fa-check" label="Ok"></button>
  </div>
</footer>
</p-dialog>
