<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Flowpath">
        <app-flowpath *ngIf="index == 0" (keywordData)="saveKeywordData($event)"></app-flowpath>
    </p-tabPanel>
    <p-tabPanel header="Hotspot">
        <app-hotspot *ngIf="index == 1" (keywordData)="saveKeywordData($event)"></app-hotspot>
    </p-tabPanel>
    <p-tabPanel header="JVM Thread Stats Monitor">
        <app-thread-stats *ngIf="index == 2" (keywordData)="saveKeywordData($event)"></app-thread-stats>
    </p-tabPanel>
    <p-tabPanel header="Exception ">
        <app-exception *ngIf="index == 3" (keywordData)="saveKeywordData($event)"></app-exception>
    </p-tabPanel>
    <p-tabPanel header="Flowpath Header ">
        <app-header *ngIf="index == 4" (keywordData)="saveKeywordData($event)"></app-header>
    </p-tabPanel>
    <p-tabPanel header="Intrumentation Profiles">
        <app-instrumentation-profiles [profileId]="profileId" *ngIf="index == 5" (keywordData)="saveKeywordData($event)"></app-instrumentation-profiles>
    </p-tabPanel>
</p-tabView>