<p-tabView>
    <p-tabPanel header="Flowpath">
        <app-flowpath></app-flowpath>
    </p-tabPanel>
    <p-tabPanel header="Hotspot">
        <app-hotspot></app-hotspot>
    </p-tabPanel>
    <p-tabPanel header="Exception ">
        <app-exception></app-exception>
    </p-tabPanel>
    <p-tabPanel header="Flowpath Header ">
        <app-header></app-header>
    </p-tabPanel>
    <p-tabPanel header="JVM Thread Stats Monitor">
        <app-thread-stats></app-thread-stats>
    </p-tabPanel>
    <p-tabPanel header="Intrumentation Profiles">
        <app-instrumentation-profiles></app-instrumentation-profiles>
    </p-tabPanel>
</p-tabView>