<p-toolbar *ngIf="isMetaDataDisplay">
    <div class="ui-g">
        <div class="ui-g-12" style="display:inline-flex">
            {{label}}
            <span title="Java" *ngIf="type == 'Java'"><i class="icon ndegui-java java-color" ></i></span>
            <span title="NodeJS" *ngIf="type == 'NodeJS'"><i class="icon ndegui-nodejs noedjs-color" ></i></span>
            <span title="Dot Net" *ngIf="type == 'Dot Net'"><i class="icon ndegui-dotnet dotnet-color" ></i></span>
        </div>

    </div>
</p-toolbar>