<div class="ui-g-12" style="background: #f6f7f9">
    <div class="ui-g-2">
        <p-radioButton name="sessionAttribute" label="All" value="All" [(ngModel)]="selectedSessionAttribute" (click)="getSelectedAtribute()"></p-radioButton>
    </div>
    <div class="ui-g-2">
        <p-radioButton name="sessionAttribute" label="Specific" value="Specific" [(ngModel)]="selectedSessionAttribute" (click)="getSelectedAtribute()"></p-radioButton>
    </div>
</div>

<div class="ui-g" *ngIf="selectedSessionAttribute == 'Specific'" style="margin-bottom:10px; border: ridge;">
    <!--For showing Session Attribute(s) list -->
    <p-dataTable [value]="sessionAttributeComponentInfo" [(selection)]="selectedSessionAttributeList" [rows]="4" [paginator]="sessionAttributeComponentInfo?.length >4" [pageLinks]="3">
        <p-header>
            <span style="float: left"> Session Attribute(s) </span>
            <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" [disabled]="saveDisable" (click)="opensSessionAttributeDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit"[disabled]="saveDisable" (click)="editSessionAttribute()" icon="fa-pencil" ></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete" [disabled]="saveDisable"  (click)="deleteSessionAttribute()" icon="fa-trash"></button>
                    </span>
        </p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column class="col-overflow" field="attrName" header="Name" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="attrType" header="Attribute Type" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="valName" header="Values" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>

    </p-dataTable>
</div>

<!--Dialog for ADD and Edit Session Attribute-->
<p-dialog header="{{isNewSessionAttr ? 'Add Session Attribute(s)' : 'Edit Session Attribute(s)'}}" *ngIf="addEditSessionAttrDialog" [(visible)]="addEditSessionAttrDialog" modal="modal" width="550" responsive="true">
    <form (ngSubmit)="saveADDEditSessionAttr()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>Name</label>
                </div>
                <div class="ui-g-5">
                    <input name="attrName" type="text" size="40" pInputText [(ngModel)]="sessionAttributeDetail.attrName" placeholder="Name" title="Please enter valid name.   &#013;Please enter alphabets and numeric values only." required pattern="^[0-9a-zA-Z][a-zA-Z0-9]{0,31}$"
                        ngModel/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <p-checkbox name="complete" label="Complete" [(ngModel)]="sessionAttributeDetail.complete" binary="true"></p-checkbox>
                </div>
                <div class="ui-g-4">
                    <p-checkbox name="specific" label="Specific" [(ngModel)]="sessionAttributeDetail.specific" binary="true"></p-checkbox>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="sessionAttributeDetail.specific">
                <p-dataTable [value]="customValueTypeInfo" [(selection)]="selectedSessionValueType" [rows]="5" [paginator]="customValueTypeInfo?.length > 5" [pageLinks]="3">
                    <p-header>
                        <span> Session Attribute(s) </span>
                        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openSessionAttrTypeValueDialog()" icon="fa-plus"></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete" (click)="deleteSessionValueType()" icon="fa-trash"></button>
                    </span>
                    </p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column class="col-overflow" field="valName" header="Value Name" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="lb" header="Left Bound" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="rb" header="Right Bound" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>

                </p-dataTable>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--Dialog for ADD Value Types-->
<p-dialog header="Value Type Info" *ngIf="sessionAttrTypeValueDialog" [(visible)]="sessionAttrTypeValueDialog" modal="modal" width="600" responsive="true">
    <form (ngSubmit)="saveTypesValues()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Name</label>
                </div>
                <div class="ui-g-4">
                    <input name="valName" type="text" size="20" pInputText [(ngModel)]="customValueTypeDetail.valName" placeholder="Name" autofocus required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Custom Type</label>
                </div>
                <div class="ui-g-4">
                    <p-dropdown name="customValueType" [style]="{'width':'87%'}" [options]="customValueType" [(ngModel)]="customValueTypeDetail.customValTypeName" required ngModel placeholder="--Select--"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Left Bound</label>
                </div>
                <div class="ui-g-4">
                    <input name="lb" type="text" size="20" pInputText [(ngModel)]="customValueTypeDetail.lb" placeholder="Left Bound" autofocus required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Right Bound</label>
                </div>
                <div class="ui-g-4">
                    <input name="rb" type="text" size="20" pInputText [(ngModel)]="customValueTypeDetail.rb" placeholder="Right Bound" autofocus required ngModel/>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeValueInfoDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>

</p-dialog>