<p-dataTable class="nde-ui config-ui" [value]="asynchronousRuleData" [(selection)]="selectedAsynchronousRule" [rows]="12" [paginator]="asynchronousRuleData?.length > 12"
    [pageLinks]="3">
    <p-header>
        <span class="configui-float-css">
            <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="isProfilePerm" [disabled]="isProfilePerm"></p-checkbox>
            <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="!isProfilePerm" [disabled]="saveDisable"></p-checkbox>
        </span>
        <span class="configui-float-css">Enable Asynchronous Transaction Rules </span>
        <span class="configui-float">
            <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm"  label="Save"></button>
            <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="saveAsynchronousRuleToFile()" label="Save"></button>
        </span>
    </p-header>
    <p-column class="tableCss" field="containerType" header="Container Name" [sortable]="true" [style]="{'width':'10%'}">
        <template let-col let-asynchronousRuleType="rowData" pTemplate>
            <span title="{{asynchronousRuleType[col.field]}}">{{asynchronousRuleType[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss config-ui" field="enabled" header="Enable/Disable" [sortable]="true" [style]="{'text-align':'center','width':'10%'}">
        <template class="config-ui" let-col let-asynchronousRuleType="rowData" pTemplate>
            <md-slide-toggle *ngIf="isProfilePerm" [disabled]="isProfilePerm" [(ngModel)]="asynchronousRuleType[col.field]"></md-slide-toggle>
            <md-slide-toggle *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="enableToggle(asynchronousRuleType)" [(ngModel)]="asynchronousRuleType[col.field]"></md-slide-toggle>
        </template>
    </p-column>
    <p-column class="tableCss" field="description" header="Description" [sortable]="true" [style]="{'width':'30%'}">
            <template let-col let-asynchronousRuleType="rowData" pTemplate>
                <span title="{{asynchronousRuleType[col.field]}}">{{asynchronousRuleType[col.field]}}</span>
            </template>
    </p-column>
</p-dataTable>
