<div class="ui-g">
<div class="ui-g" id="top-div">
    <div class="ui-g-12">
        <div class="ui-g-6">
            <md-card class="md-card-css" style="background: #413CD0;width:543px">
                <md-card-subtitle class="md-card-subtitle-css">
                    <a [routerLink]="['../../general', profileId]">GENERAL</a>
                </md-card-subtitle>

                <div class="ui-g-6" id="icon-position">
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Flowpath Capturing</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Hotspot Capturing</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Capture Exception</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Flow Path Header Capturing</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Choose Instrumentation Profiles</a></md-slide-toggle>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-6">
                        
                    </div>
                    <div class="ui-g-6"> <i class="fa fa-users" style="font-size: 100px;color:white;"></i>
                    </div>
                </div>
            </md-card>
        </div>
        <div class="ui-g-6">
            <md-card style="background: #407445;width:543px" class="md-card-css">
               <md-card-subtitle class="md-card-subtitle-css">
                    <a [routerLink]="['../../instrumentation', profileId]">INSTRUMENTATION</a>
                </md-card-subtitle>

                <div class="ui-g-6" id="icon-position">
                    <md-slide-toggle [(ngModel)]="checked1"><a [routerLink]="" class="contents">Service Entry Point</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Integration Point Detection</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Transaction Configuration</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Instrument Monitors</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Error detection</a></md-slide-toggle>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-6">
                        
                    </div>
                    <div class="ui-g-6"> <i class="fa fa-cube" style="font-size: 100px;color:white;"></i>
                    </div>
                </div>
            </md-card>
        </div>

    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            <md-card style="background: #9043BC;width:543px" class="md-card-css">
                <md-card-subtitle class="md-card-subtitle-css">
                    <a [routerLink]="['../../advance', profileId]">ADVANCE</a>
                </md-card-subtitle>

                <div class="ui-g-6" id="icon-position">
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Debug Level Capturing</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Put Delay in Method</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Backend Monitor, Monitors</a></md-slide-toggle>
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">Generate Exception in Method</a></md-slide-toggle>
                    
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-6">
                        
                    </div>
                    <div class="ui-g-6"> <i class="fa fa-cog" style="font-size: 100px;color:white;"></i>
                    </div>
                </div>
            </md-card>
        </div>
        <div class="ui-g-6">
            <md-card style="background: #221D24;width:543px" class="md-card-css">
              <md-card-subtitle class="md-card-subtitle-css">
                    <a [routerLink]="['../../integration', profileId]">PRODUCT INTEGRATION</a>
                </md-card-subtitle>

                <div class="ui-g-6" id="icon-position">
                    <md-slide-toggle [(ngModel)]="checked"><a [routerLink]="" class="contents">NV Cookie</a></md-slide-toggle>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-6">
                        
                    </div>
                    <div class="ui-g-6"> <i class="fa fa-support" style="font-size: 100px;color:white;"></i>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>
</div>