<div class='tabs-all' *ngIf="agentType != 'NodeJS'">
    <p-tabView (onChange)="handleChange($event)">
        <p-tabPanel header="Service Entry Point" [selected]="index == 0" *ngIf="agentType != 'NodeJS'">
            <app-service-entry-point *ngIf="index == 0" [saveDisable]="saveDisable" [profileId]="profileId" (keywordData)="saveKeywordData($event)"></app-service-entry-point>
        </p-tabPanel>
        <p-tabPanel header="Integration Point" [selected]="index == 1" *ngIf="agentType != 'NodeJS'">
            <app-integration-pt-detection *ngIf="index == 1" [profileId]="profileId"></app-integration-pt-detection>
        </p-tabPanel>

        <p-tabPanel header="Business Transaction" [selected]="index == 2">
            <app-transaction-configuration *ngIf="index == 2" [profileId]=profileId></app-transaction-configuration>
        </p-tabPanel>
        <p-tabPanel header="Instrument Monitors" [selected]="index == 3" >
            <app-instrument-monitors *ngIf="index == 3" [profileId]=profileId (keywordData)="saveKeywordData($event)"></app-instrument-monitors>
        </p-tabPanel>
        <p-tabPanel *ngIf="agentType != 'Dot Net'" header="Error Detection" [selected]="index == 4">
            <app-error-detection *ngIf="index == 4" [profileId]=profileId (keywordData)="saveKeywordData($event)"></app-error-detection>
        </p-tabPanel>
        <p-tabPanel *ngIf="agentType != 'Dot Net'" header="Asynchronous Rule" [selected]="index == 5">
            <app-asynchronous-rule *ngIf="index == 5" [profileId]=profileId (keywordData)="saveKeywordData($event)"></app-asynchronous-rule>
        </p-tabPanel>
    </p-tabView>
</div>

<div class='tabs-all' *ngIf="agentType == 'NodeJS'">
        <p-tabView (onChange)="handleChange($event)">
    
            <p-tabPanel header="Business Transaction" [selected]="index == 0">
                <app-transaction-configuration *ngIf="index == 0" [profileId]=profileId></app-transaction-configuration>
            </p-tabPanel>
            <p-tabPanel header="Instrument Monitors" [selected]="index == 1" >
                <app-instrument-monitors *ngIf="index == 1" [profileId]=profileId (keywordData)="saveKeywordData($event)"></app-instrument-monitors>
            </p-tabPanel>
            <p-tabPanel header="Error Detection" [selected]="index == 2">
                <app-error-detection *ngIf="index == 2" [profileId]=profileId (keywordData)="saveKeywordData($event)"></app-error-detection>
            </p-tabPanel>
        </p-tabView>
    </div>

<p-dialog class="profile-dialog" header="Runtime changes partially applied on instances" *ngIf="errDialog" [(visible)]="errDialog" modal="modal"
width="500" responsive="true">
<div style="max-height: 500px; overflow-y: auto;">
  Runtime changes successfully applied on: 
  <ul>
   <li *ngFor="let err of msg">
      <span>{{err}}</span>
   </li>
  </ul>
  Error while applying Runtime changes on:
  <ul>
    <li *ngFor="let e of errMsg">
       <span>{{e}}</span>
    </li>
   </ul>
</div>
<footer>
  <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
    <button type="button" pButton (click)="errDialog=false" icon="fa-check" label="Ok"></button>
  </div>
</footer>
</p-dialog>
