<p-dataTable class="nde-ui" [value]="btHttpHeadersInfo" [(selection)]="selectedHTTPHeaders" [rows]="12" [pageLinks]="3">
    <p-header>
        <span style="float: left"> BT HTTP Headers list</span>
        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add HTTP header" (click)="openHeader()" icon="fa-plus"></button>
                        <button pButton type="button" title="Edit HTTP header " (click)="openEditHttpHeader()" icon="fa-pencil" ></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete HTTP header(s)" (click)="deleteBTHTTPHeaders()" icon="fa-trash"></button>
        </span>
    </p-header>
    <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
    <p-column class="col-overflow" field="headerName" header="Header name" [sortable]="true">
        <template let-col let-application="rowData" pTemplate>
            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="col-overflow" field="headerValType" header="Header type" [sortable]="true">
        <template let-col let-application="rowData" pTemplate>
            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="col-overflow" field="hdrBtNames" header="BT name" [sortable]="true">
        <template let-col let-application="rowData" pTemplate>
            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
        </template>
    </p-column>

</p-dataTable>

<!--Dialog for adding BT HTTP headers-->
<p-dialog class="profile-dialog" header="{{isNewHeader ? 'Add BT HTTP header' : 'Edit BT HTTP header'}}" *ngIf="addResReqHeaderDialog"
    [(visible)]="addResReqHeaderDialog" modal="modal" width="700" responsive="true">
    <form #groupForm="ngForm" (ngSubmit)="saveAddEditHttpheaders()" ngNativeValidate>

        <div class="ui-g">
            <!--<div class="ui-g-12">
                    <div class="ui-g-4">
                        <p-checkbox name="response" label="Add response header(s)" [(ngModel)]="enableResponse" binary="true"></p-checkbox>
                    </div>
                    <div class="ui-g-12" *ngIf="enableResponse">
                        <p-dataTable class="nde-ui" [rows]="4"
                            [pageLinks]="3">
                            <p-header>
                                <span style="float: left;">  Response headers </span>
                                <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add a response header"icon="fa-plus"></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete response header(s)"  icon="fa-trash"></button>
                    </span>
                            </p-header>
                            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                            <p-column class="col-overflow" field="value" header="Value" [sortable]="true">
                                <template let-col let-application="rowData">
                                    <span title="{{application[col.field]}}"><a [routerLink]="['/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
                                </template>
                            </p-column>
                            <p-column class="col-overflow" field="operationName" header="Operation" [sortable]="true">
                                <template let-col let-application="rowData">
                                    <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                                </template>
                            </p-column>
                            </p-dataTable>
                    </div>
                </div>-->
            <div class="ui-g-12">
                <div class="ui-g-1">
                    <label>Name</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="header" type="text" size="35" pattern="[a-zA-Z0-9_-]*" pInputText [(ngModel)]="btHttpHeadersDetail.headerName"
                        required ngModel/>
                </div>
            </div>
            <div class="ui-g-12">
                <p-dataTable class="nde-ui" [rows]="4" [value]="headerConditionInfo" [pageLinks]="3" [(selection)]="selectedRequestHeader">
                    <p-header>
                        <span style="float: left;">  Request header conditions </span>
                        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add a request header condition" (click)="openReqDialog()" icon="fa-plus"></button>
                        <button pButton type="button" title="Edit a request header condition" (click)="openEditReqDialog()" icon="fa-pencil" ></button>                       
                       <button pButton type="button"class="ui-button-danger" title="Delete request header condition(s)" (click)="deleteReqHdr()" icon="fa-trash"></button>
                    </span>
                    </p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column class="col-overflow" field="operation" header="Operation" [sortable]="true">
                        <template let-col let-application="rowData">
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column class="col-overflow" field="btName" header="BT name" [sortable]="true">
                        <template let-col let-application="rowData">
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column class="col-overflow" field="hdrValue" header="Pattern" [sortable]="true">
                        <template let-col let-application="rowData">
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--Dialog to add Request header-->
<p-dialog class="profile-dialog" header="{{isNewCond ? 'Add request header condition' : 'Edit request header condition'}}"
    modal="modal" *ngIf="addReqDialog" [(visible)]="addReqDialog" width="400" responsive="true">
    <form #groupForm="ngForm" (ngSubmit)="saveConditions()" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Operation</label>
                </div>
                <div class="ui-g-3">
                    <input name="type" type="text" size="14" class='hidden-validator' pInputText [(ngModel)]="headerConditionDetail.operation"
                        required ngModel/>
                    <p-dropdown name="operationName" [options]="operationName" size="20" [(ngModel)]="headerConditionDetail.operation" placeholder="--Select--"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>BT name</label>
                </div>
                <div class="ui-g-3">
                    <input name="btname" type="text" size="20" pattern="[a-zA-Z0-9-_]*" [(ngModel)]="headerConditionDetail.btName" [disabled]="headerConditionDetail.operation=='VALUE'||headerConditionDetail.operation==''"
                        pInputText required ngModel/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Pattern</label>
                </div>
                <div class="ui-g-3">
                    <input name="hdrValue" type="text" size="20" pattern="[a-zA-Z0-9-%_./&]*" [(ngModel)]="headerConditionDetail.hdrValue" [disabled]="headerConditionDetail.operation=='VALUE'||headerConditionDetail.operation=='OCCURS'||headerConditionDetail.operation==''"
                        pInputText required ngModel/>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeResponseDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>