<div class="ui-g">
    <img src="assets/img/Capture.PNG" style="width: 1350px;">
</div>
<div class="ui-g" style="height: 550px">
    <div class="ui-g-1" class="app-sidenav">
        <app-config-left-side-bar></app-config-left-side-bar>
    </div>
    <div class="ui-g-11">
        <div class="ui-g top-nav-bar">
            <app-config-top-nav-bar></app-config-top-nav-bar>
            <!--<md-progress-bar *ngIf="isProgressBar" mode="indeterminate" [color]="color"></md-progress-bar>-->
        </div>

        <div class="ui-g" style="height: 550px">
            <div>
                <perfect-scrollbar class="container" style="height: 550px" [config]="config">
                    <!--<div class="content">Scrollable content</div>-->
                    <app-config-right-content></app-config-right-content>
                </perfect-scrollbar>
            </div>
        </div>
    </div>