<form (ngSubmit)="saveAutoInjectionDataOnFile()" #groupForm="ngForm" ngNativeValidate>
    <div class="configUI ndegui-mainbox" style="height: fit-content">
        <div class="header label">
            <span class="configui-float-css">
                <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="isProfilePerm"
                    [disabled]="isProfilePerm"></p-checkbox>
                <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="!isProfilePerm"
                    [disabled]="saveDisable"></p-checkbox>
            </span>
            <span class="configui-float-css" style="margin-top: 2px">Enable Auto Injection </span>
            <div class="pull-right">
                <i class="fa fa-question-circle" title="Help" (click)="sendHelpNotification()"></i>
                <button pButton type="button" title="Browse" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="openFileManager()"
                    icon="fa-folder-open"></button>
                <button pButton type="button" title="Browse" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openFileManager()"
                    icon="fa-folder-open"></button>
                <button pButton type="submit" title="Save" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-save"
                    label="Save"></button>
                <button pButton type="submit" title="Save" *ngIf="!isProfilePerm" [disabled]="saveDisable" icon="fa-save"
                    label="Save"></button>
            </div>
        </div>
        <div class="ndegui-mainbox">
            <div class="accordian-css">
                <p-accordion class="ndagent">
                    <p-accordionTab header="Auto Injection Policy Rules" [selected]="true">
                        <p-dataTable class="nde-ui" [value]="nvautoinjectionPolicyData" [(selection)]="selectedAutoInjectionPolicyRule"
                            [rows]="6" [paginator]="nvautoinjectionPolicyData?.length > 6" [pageLinks]="3">
                            <p-header>
                                <span class="configui-float-css"> Auto Injection Policy Rule List </span>
                                <span class="configui-float">
                                    <button pButton type="button" title="Add Auto-Injection Policy Rule" *ngIf="isProfilePerm"
                                        [disabled]="isProfilePerm" icon="fa-plus"></button>
                                    <button pButton type="button" title="Add Auto-Injection Policy Rule" *ngIf="!isProfilePerm"
                                        [disabled]="saveDisable" (click)="openAddPolicyRuleDialog()" icon="fa-plus"></button>
                                    <button pButton type="button" title="Edit Auto-Injection Policy Rule" *ngIf="isProfilePerm"
                                        [disabled]="isProfilePerm" icon="fa-pencil"></button>
                                    <button pButton type="button" title="Edit Auto-Injection Policy Rule" *ngIf="!isProfilePerm"
                                        [disabled]="saveDisable" (click)="openEditPolicyRuleDialog()" icon="fa-pencil"></button>
                                    <button pButton type="button" class="ui-button-danger" title="Delete Auto-Injection Policy Rule(s)"
                                        *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-trash"></button>
                                    <button pButton type="button" class="ui-button-danger" title="Delete Auto-Injection Policy Rule(s)"
                                        *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteAutoInjectionRule()"
                                        icon="fa-trash"></button>
                                </span>
                            </p-header>
                            <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
                            <p-column class="tableCss" field="ruleName" header="Rule Name" [sortable]="true" [style]="{'width':'12%'}">
                                <template let-col let-policyRule="rowData" pTemplate>
                                    <span title="{{policyRule[col.field]}}">{{policyRule[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column class="tableCss" field="btName" header="BT Name" [sortable]="true" [style]="{'width':'12%'}">
                                <template let-col let-policyRule="rowData" pTemplate>
                                    <span title="{{policyRule[col.field]}}">{{policyRule[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column class="tableCss" field="httpUrl" header="HTTP URL" [sortable]="true" [style]="{'width':'29%'}">
                                <template let-col let-policyRule="rowData" pTemplate>
                                    <span title="{{policyRule[col.field]}}">{{policyRule[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column class="tableCss" field="httpMethod" header="HTTP Method" [sortable]="true"
                                [style]="{'width':'9%'}">
                                <template let-col let-policyRule="rowData" pTemplate>
                                    <span title="{{policyRule[col.field]}}">{{policyRule[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column class="tableCss" field="queryParameter" header="Query Parameter" [sortable]="true"
                                [style]="{'width':'16%'}">
                                <template let-col let-policyRule="rowData" pTemplate>
                                    <span title="{{policyRule[col.field]}}">{{policyRule[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column class="tableCss" field="httpHeader" header="HTTP Header" [sortable]="true"
                                [style]="{'width':'16%'}">
                                <template let-col let-policyRule="rowData" pTemplate>
                                    <span title="{{policyRule[col.field]}}">{{policyRule[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column field="enabled" header="Enabled" [sortable]="true" [style]="{'text-align': 'center','width':'6%'}">
                                <template let-col let-policyRule="rowData" pTemplate>
                                    <span *ngIf="policyRule[col.field] == true" title="Enabled">
                                        <md-icon class="activeIconClass">fiber_manual_record</md-icon>
                                    </span>
                                    <span *ngIf="policyRule[col.field] == false" title="Disabled">
                                        <md-icon class="inActiveIconClass">fiber_manual_record</md-icon>
                                    </span>
                                </template>
                            </p-column>
                        </p-dataTable>

                        <!-- Download reports as PDF,Excel and Word File  -->
                        <div style="margin-top:5px">
                            <label>Download Reports as: </label>
                            <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer'
                                    title="Download Word file" (click)='downloadPolicyRuleReports("WordFile")' src='./images/iconWord.gif'></span>
                            <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer'
                                    title="Download Excel file" (click)='downloadPolicyRuleReports("ExcelFile")' src='./images/iconExcel.gif'></span>
                            <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer'
                                    title="Download PDF file" (click)='downloadPolicyRuleReports("PDFFile")' src='./images/iconPDF.gif'></span>
                        </div>


                    </p-accordionTab>
                    <p-accordionTab header="Auto Injection Configuration" [selected]="false">
                        <p-dataTable class="nde-ui" [value]="nvautoinjectionTagRuleData" [(selection)]="selectedAutoInjectionTagRule"
                            [rows]="6" [paginator]="nvautoinjectionTagRuleData?.length > 6" [pageLinks]="3">

                            <p-header>
                                <span class="configui-float-css"> Auo Injection Configuration Rule List </span>
                                <span class="configui-float">
                                    <button pButton type="button" title="Add Auto-Injection Configuration Rule" *ngIf="isProfilePerm"
                                        [disabled]="isProfilePerm" icon="fa-plus"></button>
                                    <button pButton type="button" title="Add Auto-Injection Configuration Rule" *ngIf="!isProfilePerm"
                                        [disabled]="saveDisable" (click)="openAddTagInjectionDialog()" icon="fa-plus"></button>
                                    <button pButton type="button" title="Edit Auto-Injection Configuration Rule" *ngIf="isProfilePerm"
                                        [disabled]="isProfilePerm" icon="fa-pencil"></button>
                                    <button pButton type="button" title="Edit Auto-Injection Configuration Rule" *ngIf="!isProfilePerm"
                                        [disabled]="saveDisable" (click)="openEditTagInjectionDialog()" icon="fa-pencil"></button>
                                    <button pButton type="button" class="ui-button-danger" title="Delete Auto-Injection Configuration Rule(s)"
                                        *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-trash"></button>
                                    <button pButton type="button" class="ui-button-danger" title="Delete Auto-Injection Configuration Rule(s)"
                                        *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteTagInjectionRules()"
                                        icon="fa-trash"></button>
                                </span>
                            </p-header>
                            <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
                            <p-column class="tableCss" field="ruleName" header="Rule Name" [sortable]="true" [style]="{'width':'25%'}">
                                <template let-col let-nvtag="rowData" pTemplate>
                                    <span title="{{nvtag[col.field]}}">{{nvtag[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column class="tableCss" field="htmlTag" header="HTML Tag" [sortable]="true" [style]="{'width':'15%'}">
                                <template let-col let-nvtag="rowData" pTemplate>
                                    <span title="{{nvtag[col.field]}}">{{nvtag[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column class="tableCss" field="jsCode" header=" JavaScript Code" [sortable]="true"
                                [style]="{'width':'53%'}">
                                <template let-col let-nvtag="rowData" pTemplate>
                                    <span title="{{nvtag[col.field]}}">{{nvtag[col.field]}}</span>
                                </template>
                            </p-column>
                            <p-column field="enabled" header="Enabled" [sortable]="true" [style]="{'text-align': 'center','width':'7%'}">
                                <template let-col let-nvtag="rowData" pTemplate>
                                    <span *ngIf="nvtag[col.field] == true" title="Enabled">
                                        <md-icon class="activeIconClass">fiber_manual_record</md-icon>
                                    </span>
                                    <span *ngIf="nvtag[col.field] == false" title="Disabled">
                                        <md-icon class="inActiveIconClass">fiber_manual_record</md-icon>
                                    </span>
                                </template>
                            </p-column>
                        </p-dataTable>
                        <!-- Download reports as PDF,Excel and Word File  -->
                        <div style="margin-top:5px">
                            <label>Download Reports as: </label>
                            <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer'
                                    title="Download Word file" (click)='downloadTagRuleReports("WordFile")' src='./images/iconWord.gif'></span>
                            <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer'
                                    title="Download Excel file" (click)='downloadTagRuleReports("ExcelFile")' src='./images/iconExcel.gif'></span>
                            <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer'
                                    title="Download PDF file" (click)='downloadTagRuleReports("PDFFile")' src='./images/iconPDF.gif'></span>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
</form>

<p-dialog class="profile-dialog" header="{{isNewAutoInjectionPolicyRule ? 'Add Auto Injection Rule' : 'Edit Auto Injection Rule'}}"
    *ngIf="addEditAutoInjectionPolicyRuleDialog" [(visible)]="addEditAutoInjectionPolicyRuleDialog" modal="modal" width="720"
    responsive="true" [resizable]="false">
    <form (ngSubmit)="saveAddEditAutoInject()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-2">
                <label>Rule Name</label>
            </div>
            <div class="ui-g-5">
                <input name="ruleName" type="text" size="49" style="width: 327px" pInputText [(ngModel)]="autoInjectionPolicyRuleDialogData.ruleName"
                    (keydown.space)="$event.preventDefault()" autofocus required pattern="^(?!.*\|).*$" ngModel />
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-2" style="margin-left: 22px">
                <label>Enabled</label>
            </div>
            <div class="ui-g-1 config-ui" style="margin-left: -22px">
                <md-slide-toggle [(ngModel)]="autoInjectionPolicyRuleDialogData.enabled" name="enabled" class="configui-error-css-2"></md-slide-toggle>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-2">
                <label>BT Name</label>
            </div>
            <div class="ui-g-5">
                <input name="btName" type="text" size="49" style="width: 327px" pInputText (keydown.space)="$event.preventDefault()"
                    [(ngModel)]="autoInjectionPolicyRuleDialogData.btName" pattern="^(?!.*\|).*$" ngModel />
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-2" style="margin-left: 22px">
                <label>Exclude</label>
            </div>
            <div class="ui-g-2" style="margin-left: -22px">
                <p-checkbox name="checkbox" value="val" [(ngModel)]="autoInjectionPolicyRuleDialogData.exclude" binary="true"></p-checkbox>
            </div>

        </div>

        <div class="ui-g">
            <div class="ui-g-2">
                <label>HTTP URL</label>
            </div>
            <div class="ui-g-5">
                <input name="httpUrl" type="text" size="49" style="width: 327px" pInputText (keydown.space)="$event.preventDefault()"
                    [(ngModel)]="autoInjectionPolicyRuleDialogData.httpUrl" pattern="^(?!.*\|).*$" ngModel />
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-2" style="margin-left: 22px">
                <label>HTTP Method</label>
            </div>
            <div class="ui-g-2" style="margin-left: -22px">
                <input name="dropdown2" type="text" size="8" class='hidden-validator' pInputText [(ngModel)]="autoInjectionPolicyRuleDialogData.httpMethod"
                    required ngModel />
                <p-dropdown name="httpMethod" [style]="{'width':'81.5%'}" [options]="methodTypeList" placeholder="--Select--"
                    [(ngModel)]="autoInjectionPolicyRuleDialogData.httpMethod" appendTo="body" ngModel></p-dropdown>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-2">
                <label>File Extension</label>
            </div>
            <div class="ui-g-2">
                <input name="extension" type="text" size="15" pInputText (keydown.space)="$event.preventDefault()"
                    [(ngModel)]="autoInjectionPolicyRuleDialogData.extension" pattern="^(?!.*\|).*$" ngModel />
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-2" style="margin-left:-25px">
                <label>Content Type</label>
            </div>
            <div class="ui-g-2" style="margin-left:-31px">
                <input name="type" type="text" size="12" pInputText (keydown.space)="$event.preventDefault()"
                    [(ngModel)]="autoInjectionPolicyRuleDialogData.type" pattern="^(?!.*\|).*$" ngModel />
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-2">
                <label>Parameter Name</label>
            </div>
            <div class="ui-g-2">
                <input name="parameterName" type="text" size="15" pInputText (keydown.space)="$event.preventDefault()"
                    [(ngModel)]="autoInjectionPolicyRuleDialogData.parameterName" pattern="^(?!.*\|)(?!.*%3A).*$"
                    ngModel />
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-1" style="margin-left:-25px">
                <label>Operation</label>
            </div>
            <div class="ui-g-2" style="margin-left:25px">
                <input name="dropdown" type="text" size="10" class='hidden-validator' [disabled]="autoInjectionPolicyRuleDialogData.parameterName == '' || autoInjectionPolicyRuleDialogData.parameterName == null"
                    pInputText [(ngModel)]="autoInjectionPolicyRuleDialogData.parameterOperation" required ngModel />
                <p-dropdown name="parameterOperation" [style]="{'width':'100.5%'}" [options]="operationList" [disabled]="autoInjectionPolicyRuleDialogData.parameterName == '' || autoInjectionPolicyRuleDialogData.parameterName == null"
                    placeholder="--Select--" [(ngModel)]="autoInjectionPolicyRuleDialogData.parameterOperation"
                    appendTo="body" ngModel></p-dropdown>
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-1" style="margin-left:-36px">
                <label>Value</label>
            </div>
            <div class="ui-g-2">
                <input name="parameterValue" [disabled]="autoInjectionPolicyRuleDialogData.parameterName == '' || autoInjectionPolicyRuleDialogData.parameterName == null"
                    type="text" size="15" pInputText (keydown.space)="$event.preventDefault()" [(ngModel)]="autoInjectionPolicyRuleDialogData.parameterValue"
                    required pattern="^(?!.*\|)(?!.*%3A).*$" ngModel />
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-2">
                <label>Header Name</label>
            </div>
            <div class="ui-g-2">
                <input name="headerName" type="text" size="15" pInputText (keydown.space)="$event.preventDefault()"
                    [(ngModel)]="autoInjectionPolicyRuleDialogData.headerName" pattern="^(?!.*\|)(?!.*%3A).*$" ngModel />
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-1" style="margin-left:-25px">
                <label>Operation</label>
            </div>
            <div class="ui-g-2" style="margin-left:25px">
                <input name="dropdown1" type="text" size="10" class='hidden-validator' [disabled]="autoInjectionPolicyRuleDialogData.headerName == '' || autoInjectionPolicyRuleDialogData.headerName == null"
                    pInputText [(ngModel)]="autoInjectionPolicyRuleDialogData.headerOperation" required ngModel />
                <p-dropdown name="headerOperation" [style]="{'width':'100.5%'}" [options]="operationList" [disabled]="autoInjectionPolicyRuleDialogData.headerName == '' || autoInjectionPolicyRuleDialogData.headerName == null"
                    placeholder="--Select--" [(ngModel)]="autoInjectionPolicyRuleDialogData.headerOperation" appendTo="body"
                    ngModel></p-dropdown>
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-1" style="margin-left:-36px">
                <label>Value</label>
            </div>
            <div class="ui-g-2">
                <input name="headerValue" [disabled]="autoInjectionPolicyRuleDialogData.headerName == '' || autoInjectionPolicyRuleDialogData.headerName == null"
                    type="text" size="15" pInputText (keydown.space)="$event.preventDefault()" [(ngModel)]="autoInjectionPolicyRuleDialogData.headerValue"
                    required pattern="^(?!.*\|)(?!.*%3A).*$" ngModel />
            </div>
        </div>

        <footer>
            <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix" style="margin-top: -1px;">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditAutoInjectionPolicyRuleDialog=false"
                    label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<p-dialog class="profile-dialog" header="{{isNewAutoInjectionTagRule ? 'Add Auto Injection Configuration Rule' : 'Edit Auto Injection Configuration Rule'}}"
    *ngIf="addEditAutoInjectionTagRule" [(visible)]="addEditAutoInjectionTagRule" modal="modal" width="500" responsive="true"
    [resizable]="false">
    <form (ngSubmit)="saveAddEditTagInject()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-2">
                <label>Rule Name</label>
            </div>
            <div class="ui-g-4">
                <input name="ruleName" type="text" size="27" pInputText (keydown.space)="$event.preventDefault()"
                    [(ngModel)]="autoInjectionTagRuleDialogData.ruleName" autofocus required pattern="^(?!.*\|).*$"
                    ngModel />
            </div>
            <div class="ui-g-2"></div>

            <div class="ui-g-2">
                <label>Enabled</label>
            </div>
            <div class="ui-g-1 config-ui">
                <md-slide-toggle [(ngModel)]="autoInjectionTagRuleDialogData.enabled" name="enabled" class="configui-error-css-2"></md-slide-toggle>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-2">
                <label>HTML Tag</label>
            </div>
            <div class="ui-g-4">
                <input name="htmlTag" size="27" type="text" [(ngModel)]="autoInjectionTagRuleDialogData.htmlTag"
                    pInputText required pattern="^<[^<>|]+>$" ngModel />
            </div>
            <div class="ui-g-1" style="margin-left: 43px;margin-top: 4px;">
                <i class="fa fa-info-circle" aria-hidden="true" title="This field can only contain single HTML tag for example:- <head> , </head>"></i>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-2"></div>
            <div class="ui-g-4">
                <p-radioButton name="beforeAfterTag" label="Inject Before Tag" value="1" [(ngModel)]="autoInjectionTagRuleDialogData.beforeAfterTag"></p-radioButton>
            </div>
            <div class="ui-g-4">
                <p-radioButton name="beforeAfterTag" label="Inject After Tag" value="0" [(ngModel)]="autoInjectionTagRuleDialogData.beforeAfterTag"></p-radioButton>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-2">
                <label>JavaScript Code</label>
            </div>
            <div class="ui-g-8">
                <textarea name="desc" rows="5" cols="53" pInputTextarea [(ngModel)]="autoInjectionTagRuleDialogData.jsCode"
                    required pattern="^(?!.*\|).*$" ngModel></textarea>
            </div>
        </div>

        <footer>
            <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix" style="margin-top: -3px;">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditAutoInjectionTagRule=false" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--Dialog to open file explorer dialog -->
<p-dialog class="profile-dialog browseTopCss headerCss" header="File Manager" *ngIf="openFileExplorerDialog"
    [(visible)]="openFileExplorerDialog" modal="modal" width="650" responsive="true" [resizable]="false">

    <!-- This will look for this component in the ProductUI at this path -
         ..\ProductUI\gui\src\app\modules\file-explorer\components\config-nd-file-explorer-->

    <!-- <app-config-nd-file-explorer></app-config-nd-file-explorer> -->
</p-dialog>