<p-panel header="Delay in Method Settings">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-g">
            <form *ngIf="delay" (ngSubmit)="saveKeywordData()" #form="ngForm">
                <div class="ui-g-12">
                    <!--<div class = "ui-g-6">-->
                    <div class="ui-g-5">
                        <label>Fully Qaulified Method Name</label>
                    </div>

                    <div class="ui-g-4">
                        <input name="fullyQualifiedName" type="text" size="30" pInputText autofocus required ngModel/>
                    </div>
                </div>

                <div class="ui-g-12">
                    <!--<div class = "ui-g-6">-->
                    <div class="ui-g-5">
                        <label>Delay Time Range(in ms)</label>
                    </div>

                    <div class="ui-g-1">
                        From: <input name="delayFrom" type="text" size="30" pInputText autofocus required ngModel/>
                    </div>
                    <div class="ui-g-1">
                        To: <input name="delayTo" type="text" size="30" pInputText autofocus required ngModel/>
                    </div>
                </div>
                <div class="ui-g-12">
                    <!--<div class = "ui-g-6">-->

                    <div class="ui-g-5">
                        <p-checkbox name="cpuHogg" label="Is CPU Hogg" binary="true"></p-checkbox>
                    </div>

                    <div class="ui-g-2">
                        <i>(Add delay in any specified method using instrumentation)</i>
                    </div>
                </div>
                <div class="ui-g-12">
                    <!--<div class = "ui-g-6">-->

                    <div class="ui-g-5">
                        <p-checkbox name="autoInstrument" label="Is Auto Instrument" binary="true"></p-checkbox>
                    </div>

                    <div class="ui-g-2">
                        <i>(Forcefully putDelay by auto-instrumenting the method if not mentioned in instrProfiles)</i>
                    </div>
                </div>

                <footer>
                    <div class="pull-right">
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="submit" pButton icon="fa-check" label="Save"></button>
                            <button type="button" pButton icon="fa-refresh" (click)="closeDialog()" label="Reset"></button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</p-panel>