<div class="">
    <div class="header-content"><i aria-hidden="true"></i> <span>{{selectedEntityArr}} Detail (s)</span>
        <span style="float: right; margin-top:-2px">
            <button pButton type="button" title="Edit" (click)="editDialog()" icon="fa-pencil" ></button>
        </span>
    </div>

    <p-dataTable class="nde-ui" [value]=topologyData [rows]="15" [paginator]="topologyData?.length > 15" [pageLinks]="3" [(selection)]="selectedTopologyData">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

        <p-column *ngFor="let col of tableHeaderInfo" [field]="col.field" [header]="col.header" class="col-overflow" [sortable]="true">
            <template *ngIf="col.field == 'profileName'" let-col let-entity="rowData" pTemplate="body">
          <a class="hyperlink" (click)="routeToConfiguration(entity)" >{{entity[col.field]}}</a>
        </template>
            <template *ngIf="col.field == 'enabled'" let-col let-entity="rowData" pTemplate="body">
                <md-slide-toggle class="toggle-space" (change)="disableProfInstance(entity['instanceId'], entity[col.field])" [(ngModel)]=entity[col.field]></md-slide-toggle>
        </template>
        </p-column>
    </p-dataTable>

</div>


<!--Dialog for changing profile-------->
<p-dialog class="profile-dialog" header="Change Profile" *ngIf="changeProf" [(visible)]="changeProf" modal="modal" width="500" responsive="true">
    <form (ngSubmit)="saveEditProfile(groupForm)" #groupForm="ngForm" ngNativeValidate>

        <div class="ui-g">
            <div class="ui-g-4">
                <label>Profile</label>
            </div>
            <div class="ui-g-8">
                <!--<input id="in2" type="text" size="30" pInputText [(ngModel)]="applicationDetail.topoName" />-->
                <p-dropdown name="profileId" [options]="profileSelectItem" [(ngModel)]="topoData.profileId" required ngModel></p-dropdown>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>