.text-width {
    width: 138px;
}

.progressIcon {
    background: #fdfdfd;
    text-align: center;
    font-size: 13px;
    padding: 6px;
}

.loadingIcon {
    color: white;
    height: 18px;
    /* padding-left: 50%;
    margin-bottom: -22%;
    position: relative;
    z-index: 12345; */
}