<div>
    <div class="header-content"><i aria-hidden="true"></i> <span>{{selectedEntityArr}} Detail (s)</span>
        <span class="appIcon-css">
            <button pButton type="button" title="Edit" [disabled]="perm" (click)="editDialog()" icon="fa-pencil" ></button>
            </span>
    </div>

    <p-dataTable class="nde-ui toggleChk" [value]=topologyData [rows]="15" [paginator]="topologyData?.length > 15" [pageLinks]="3" [(selection)]="selectedTopologyData">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

        <p-column [style]="{'text-overflow':'ellipsis','white-space': 'nowrap'}" *ngFor="let col of tableHeaderInfo" [field]="col.field" [header]="col.header" class="config-ui toggleChk" [sortable]="true">
            <template *ngIf="col.field == 'profileName'" let-col let-entity="rowData" pTemplate="body">
                    <a class="hyperlink" *ngIf="noProfilePerm" (click)="accessMessage()" >{{entity[col.field]}}</a>
                    <a class="hyperlink" *ngIf="!noProfilePerm" (click)="routeToConfiguration(entity)" >{{entity[col.field]}}</a>
            </template>
            <!-- <template *ngIf="col.field == 'enabled'" let-col let-entity="rowData" pTemplate="body">
            <md-slide-toggle  *ngIf="perm" [disabled]="perm" style="margin-left: 35%; padding-top: 4px;" [(ngModel)]=entity[col.field]></md-slide-toggle>
                    <md-slide-toggle *ngIf="!perm" (change)="disableProfInstance(entity['instanceId'], entity[col.field], entity['profileId'])" style="margin-left: 35%; padding-top: 4px;" [(ngModel)]=entity[col.field]></md-slide-toggle>
            </template> -->
            <template *ngIf="col.field == 'aiEnable'" let-col let-entity="rowData" pTemplate="body">
                    <span *ngIf="entity[col.field]== false" title="Start">
                        <a class="hyperlink iconFontSize" *ngIf="isAIPerm"  (click)="accessMessage()" style="margin-left: 45%; color:green">
                            <i class="fa fa-play-circle-o" ></i>
                        </a>
                        <a class="hyperlink iconFontSize" style="margin-left: 45%; color:green" *ngIf="!isAIPerm" (click)="openAutoInstrDialog(entity['instanceDisplayName'], entity['instanceId'], entity['instanceType'])">
                            <i class="fa fa-play-circle-o" ></i>
                        </a>
                       </span>
                     <span *ngIf="entity[col.field]== true" title="Stop">
                        <a class="hyperlink iconFontSize" style="margin-left: 45%; color:red" *ngIf="isAIPerm"  (click)="accessMessage()">
                            <i class="fa fa-stop-circle"></i>
                        </a>
                        <a class="hyperlink iconFontSize" style="margin-left: 45%; color:red" *ngIf="!isAIPerm" (click)="stopInstrumentation(entity['instanceDisplayName'], entity['instanceId'], entity['instanceDesc'])">
                            <i class="fa fa-stop-circle"></i>
                        </a>
                       </span>
                  
                  </template>
        </p-column>
    </p-dataTable>

</div>


<!--Dialog for changing profile-------->
<p-dialog class="profile-dialog" header="Change Profile" *ngIf="changeProf" [(visible)]="changeProf" modal="modal" width="500" responsive="true" [resizable]="false">
    <form (ngSubmit)="saveEditProfile(groupForm)" #groupForm="ngForm" ngNativeValidate>

        <div class="ui-g">
            <div class="ui-g-4">
                <label>Profile</label>
            </div>
            <div class="ui-g-8">
                <!--<input id="in2" type="text" size="30" pInputText [(ngModel)]="applicationDetail.topoName" />-->
                <p-dropdown name="profileId" [options]="profileSelectItem" [(ngModel)]="topoData.profileId" [style]="{'width':'70%','margin-left':'-75px'}" appendTo="body" required ngModel></p-dropdown>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!-- Dialog for Auto Instrumentation settings -->
<p-dialog class="profile-dialog headerCss" header="Auto Instrumentation Configuration" [resizable]="false" *ngIf="showInstr" [(visible)]="showInstr" modal="modal" width="500" [contentStyle]="{'max-height':'605px'}" responsive="true">
    <app-dynamic-diagnostics (closeAIDDGui)="closeAIDDDialog($event)" (topologyData)="setTopologyData($event)" [passAIDDSettings]="passAIDDSettings"></app-dynamic-diagnostics>
</p-dialog>