<form ngNativeValidate>
    <p-panel header="Integrate with other Cavisson Products">
        <p-header>
            <div class="pull-right">
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="submit" pButton icon="fa-check" label="Save"></button>
                    <button type="button" pButton icon="fa-refresh" label="Reset"></button>
                </div>
            </div>
        </p-header>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-g">

                <div class="ui-g-12">
                    <!--<div class = "ui-g-6">-->
                    <div class="ui-g-1"> </div>
                    <div class="ui-g-3">
                       <p-checkbox name="methodEntry" binary="true"  label="Enable Cookie at Method Entry"></p-checkbox>
                    </div>
                    <div class="ui-g-3">
                       <p-checkbox name="methodExit" binary="true"  label="Enable Cookie at Method Exit"></p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12">
                    <!--<div class = "ui-g-6">-->
                    <div class="ui-g-1"> </div>
                    <div class="ui-g-3">
                       <p-checkbox name="OnResponseCommitEvent" binary="true"  label="Enable Cookie OnResponseCommitEvent"></p-checkbox>
                    </div>
                    <div class="ui-g-3">
                       <p-checkbox name=" XCavNVHeader" binary="true"  label="Enable X CavNV Header"></p-checkbox>
                    </div>
                </div>
                <div></div>
                <div class="ui-g-12">
                    <div class="ui-g-1"> </div>
                    <div class="ui-g-3">
                        <label style="margin-left: 20px">ND Session Cookie Name</label>
                    </div>
                    <div class="ui-g-2">
                        <input name="cookieName" type="text" size="30" required  />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-1"> </div>
                    <div class="ui-g-3">
                        <label style="margin-left: 20px">Domain Name</label>
                    </div>
                    <div class="ui-g-2">
                        <input name="domainName" type="text" size="30" required  />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-1"> </div>
                    <div class="ui-g-3">
                        <label style="margin-left: 20px">Idle Timeout</label>
                    </div>
                    <div class="ui-g-2">
                        <input name="timeout" type="text" size="30" required  />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-1"> </div>
                    <div class="ui-g-3">
                        <label style="margin-left: 20px">Maximum Flowpath in Session Count</label>
                    </div>
                    <div class="ui-g-2">
                        <input name="sessionCount" type="text" size="30" required  />
                    </div>
                </div>

            </div>
        </div>
    </p-panel>
</form>