<p-dataTable class="nde-ui" [value]="methodMonitorData" [(selection)]="selectedMethodMonitorData">
    <p-header>
        <span style="float: left"><p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" (click)="saveKeywordData()"></p-checkbox></span>
        <span style="float: left">Method monitors list </span>
        <span style="float :right; margin-top:-5px">
            <button pButton type="button" title="Add a method monitor" [disabled]="saveDisable" (click)="openAddMethodMonitorDialog()" icon="fa-plus"></button>
            <button pButton type="button" title="Edit a method monitor" [disabled]="saveDisable" (click)="openEditMethodMonitorDialog()" icon="fa-pencil"></button>
            <button pButton class="ui-button-danger" type="button" title="Delete method monitor(s)" [disabled]="saveDisable" (click)="deleteMethodMonitor()" icon="fa-trash"></button>
        </span>
    </p-header>
    <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
    <p-column class="tableCss" field="methodName" header="Method name" [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="methodDisplayName" header="Display name" [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="methodDesc" header="Description" [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>

</p-dataTable>

<!--Dialog for method monitor-->

<p-dialog class="profile-dialog" header="{{isNewMethodMonitor ? 'Add method monitor' : 'Edit method monitor'}}" *ngIf="addEditMethodMonitorDialog" [(visible)]="addEditMethodMonitorDialog" modal="modal" width="500" responsive="true">
    <form (ngSubmit)="saveMethodMonitor()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Method name</label>
            </div>
            <div class="ui-g-9">
                <input name="methodName" type="text" size="50" pInputText [(ngModel)]="methodMonitorDetail.methodName" required autofocus ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Display name</label>
            </div>
            <div class="ui-g-9">
                <input name="methodDisplayName" type="text" size="50" pInputText [(ngModel)]="methodMonitorDetail.methodDisplayName" ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Description</label>
            </div>
            <div class="ui-g-9">
                <textarea name="methodDesc" rows="2" cols="50" pInputTextarea [(ngModel)]="methodMonitorDetail.methodDesc" ngModel></textarea>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditMethodMonitorDialog=false" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>