<p-dataTable *ngIf="agentType == 'Java' || agentType == 'NodeJS' || agentType == 'Php'" class="nde-ui" [value]="methodMonitorData"
    [(selection)]="selectedMethodMonitorData" [rows]="10" [paginator]="methodMonitorData?.length > 10" [pageLinks]="3"
    [rowsPerPageOptions]="[10,20,50,100,200,400]" (onHeaderCheckboxToggle)="onTableHeaderCheckboxToggle($event)"
    scrollable="true" scrollHeight="300px">
    <p-header>
        <span class="configui-float-css">
            <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="isProfilePerm"
                [disabled]="isProfilePerm"></p-checkbox>
            <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="!isProfilePerm"
                [disabled]="saveDisable"></p-checkbox>
        </span>
        <span class="configui-float-css"> Enable Method Monitors </span>
        <span class="configui-float">
            <i class="fa fa-question-circle" title="Help" (click)="sendHelpNotification()"></i>
            <button pButton type="button" title="Browse" *ngIf="!isProfilePerm" [disabled]="saveDisable"
                (click)="openFileManager()" icon="fa-folder-open"></button>
            <button pButton type="button" title="Browse" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
                (click)="openFileManager()" icon="fa-folder-open"></button>
            <button pButton type="button" title="Add a method monitor" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
                icon="fa-plus"></button>
            <button pButton type="button" title="Add a method monitor" *ngIf="!isProfilePerm" [disabled]="saveDisable"
                (click)="openAddMethodMonitorDialog()" icon="fa-plus"></button>
            <button pButton type="button" title="Edit a method monitor" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
                icon="fa-pencil"></button>
            <button pButton type="button" title="Edit a method monitor" *ngIf="!isProfilePerm" [disabled]="saveDisable"
                (click)="openEditMethodMonitorDialog()" icon="fa-pencil"></button>
            <button pButton class="ui-button-danger" type="button" title="Delete method monitor(s)"
                *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-trash"></button>
            <button pButton class="ui-button-danger" type="button" title="Delete method monitor(s)"
                *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteMethodMonitor()"
                icon="fa-trash"></button>
            <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
                label="Save"></button>
            <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable"
                (click)="saveMethodMonitorOnFile()" label="Save"></button>
        </span>
    </p-header>
    <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
    <p-column [style]="{'width':'53%'}" class="tableCss" field="methodName" header="Fully Qualified Method Name"
        [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>
    <p-column [style]="{'width':'20%'}" class="tableCss" field="methodDisplayName" header="Display Name in Monitor"
        [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>
    <p-column [style]="{'width':'25%'}" class="tableCss" field="methodDesc" header="Description" [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>

</p-dataTable>
<p-dataTable *ngIf="agentType == 'Dot Net' || agentType == 'Python'" class="nde-ui" [value]="methodMonitorData"
    [(selection)]="selectedMethodMonitorData" [rows]="10" [paginator]="methodMonitorData?.length > 10" [pageLinks]="3"
    [rowsPerPageOptions]="[10,20,50,100,200,400]" (onHeaderCheckboxToggle)="onTableHeaderCheckboxToggle($event)">
    <p-header>
        <span class="configui-float-css">
            <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="isProfilePerm"
                [disabled]="isProfilePerm"></p-checkbox>
            <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="!isProfilePerm"
                [disabled]="saveDisable"></p-checkbox>
        </span>
        <span class="configui-float-css"> Enable Method Monitors </span>
        <span class="configui-float">
            <i class="fa fa-question-circle" title="Help" (click)="sendHelpNotification()"></i>
            <button pButton type="button" title="Browse" *ngIf="!isProfilePerm" [disabled]="saveDisable"
                (click)="openFileManager()" icon="fa-folder-open"></button>
            <button pButton type="button" title="Browse" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
                (click)="openFileManager()" icon="fa-folder-open"></button>
            <button pButton type="button" title="Add a method monitor" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
                icon="fa-plus"></button>
            <button pButton type="button" title="Add a method monitor" *ngIf="!isProfilePerm" [disabled]="saveDisable"
                (click)="openAddMethodMonitorDialog()" icon="fa-plus"></button>
            <button pButton type="button" title="Edit a method monitor" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
                icon="fa-pencil"></button>
            <button pButton type="button" title="Edit a method monitor" *ngIf="!isProfilePerm" [disabled]="saveDisable"
                (click)="openEditMethodMonitorDialog()" icon="fa-pencil"></button>
            <button pButton class="ui-button-danger" type="button" title="Delete method monitor(s)"
                *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-trash"></button>
            <button pButton class="ui-button-danger" type="button" title="Delete method monitor(s)"
                *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteMethodMonitor()"
                icon="fa-trash"></button>
            <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
                label="Save"></button>
            <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable"
                (click)="saveMethodMonitorOnFile()" label="Save"></button>
        </span>
    </p-header>
    <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
    <p-column class="tableCss" field="module" header="Module" [sortable]="true" [style]="{'width':'18%'}">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>
    <p-column [style]="{'width':'40%'}" class="tableCss" field="methodName" header="Fully Qualified Method Name"
        [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>
    <p-column [style]="{'width':'18%'}" class="tableCss" field="methodDisplayName" header="Display Name in Monitor"
        [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>
    <p-column [style]="{'width':'22%'}" class="tableCss" field="methodDesc" header="Description" [sortable]="true">
        <template let-col let-MethodMonitor="rowData" pTemplate>
            <span title="{{MethodMonitor[col.field]}}">{{MethodMonitor[col.field]}}</span>
        </template>
    </p-column>

</p-dataTable>

<!-- Download reports as PDF,Excel and Word File  -->
<div style="margin-top:5px">
    <label>Download Reports as: </label>
    <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download Word file"
            (click)='downloadReports("WordFile")' src='./images/iconWord.gif'></span>
    <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download Excel file"
            (click)='downloadReports("ExcelFile")' src='./images/iconExcel.gif'></span>
    <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download PDF file"
            (click)='downloadReports("PDFFile")' src='./images/iconPDF.gif'></span>
</div>

<!--Dialog for method monitor-->

<p-dialog class="profile-dialog" header="{{isNewMethodMonitor ? 'Add Method to Monitor' : 'Edit Method to Monitor'}}"
    *ngIf="addEditMethodMonitorDialog" [(visible)]="addEditMethodMonitorDialog" modal="modal" width="600"
    responsive="true" [resizable]="false">
    <form (ngSubmit)="saveMethodMonitor()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g" *ngIf="agentType == 'Dot Net' || agentType == 'Python'">
            <div class="ui-g-4">
                <label>Module</label>
            </div>
            <div class="ui-g-8">
                <input name="module" type="text" size="50" class="configUI-common-len" pInputText
                    [(ngModel)]="methodMonitorDetail.module" required (keydown.space)="$event.preventDefault()" required
                    autofocus ngModel />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Fully Qualified Method Name</label>
            </div>
            <div class="ui-g-8" *ngIf="agentType != 'Dot Net'">
                <input name="methodName" type="text" size="50" class="configUI-common-len"
                    (keydown.space)="$event.preventDefault()" pInputText [(ngModel)]="methodMonitorDetail.methodName"
                    title="Please enter valid method name. &#013;Rule 1: Method name can include package,class and method name separated by dot(.) . &#013;Rule 2: Method name cannot include whitespaces."
                    required pattern="[a-zA-Z]+[a-zA-Z0-9_$.]+(\((.*)\))+.*" autofocus ngModel />
            </div>
            <div class="ui-g-8" *ngIf="agentType == 'Dot Net'">
                <input name="methodName" type="text" size="50" class="configUI-common-len"
                    (keydown.space)="$event.preventDefault()" pInputText [(ngModel)]="methodMonitorDetail.methodName"
                    title="Please enter valid method name. &#013;Rule 1: Method name can include package,class and method name separated by dot(.) . &#013;Rule 2: Method name cannot include whitespaces."
                    required pattern="[a-zA-Z]+[a-zA-Z0-9_$.]+((.*))+.*" ngModel />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Display Name in Monitor</label>
                <i class="fa fa-info-circle" aria-hidden="true"
                    title="User specified alias name for Method Monitor"></i>
            </div>
            <div class="ui-g-8">
                <input name="methodDisplayName" class="configUI-common-len" (keydown.space)="$event.preventDefault()"
                    type="text" size="50" pInputText [(ngModel)]="methodMonitorDetail.methodDisplayName" ngModel />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Description</label>
            </div>
            <div class="ui-g-8">
                <textarea name="methodDesc" rows="2" cols="50" class="configUI-common-len" pInputTextarea
                    [(ngModel)]="methodMonitorDetail.methodDesc" ngModel></textarea>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditMethodMonitorDialog=false"
                    label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--Dialog to open file explorer dialog -->
<p-dialog class="profile-dialog browseTopCss headerCss" header="File Manager" *ngIf="openFileExplorerDialog"
    [(visible)]="openFileExplorerDialog" modal="modal" width="650" responsive="true" [resizable]="false">

    <!-- This will look for this component in the ProductUI at this path -
     ..\ProductUI\gui\src\app\modules\file-explorer\components\config-nd-file-explorer\-->

    <!-- <app-config-nd-file-explorer></app-config-nd-file-explorer>  -->
</p-dialog>