<div class="ndegui-mainbox">
<div class="configUI">
    <div class="header"><i aria-hidden="true"></i> Topology List</div>
    <div class="config-ui-table-margin">
        <p-dataTable class="nde-ui" [value]="topologyData" [rows]="15" [paginator]="topologyData?.length > 15" [pageLinks]="3">

            <p-column [style]="{'width':'120px','text-overflow':'ellipsis'}" field="topoName" header="Name" [sortable]="true">
                <template let-col let-topology="rowData" pTemplate>
      <span title="Click to open '{{topology[col.field]}}' topology details"><a class="hyperlink" (click)="routeToTreemain(topology['topoId'], topology['name'],'topology')">{{topology[col.field]}}</a></span>
    </template>
            </p-column>
            <!--<p-column [style]="{'width':'120px','text-overflow':'ellipsis'}" field="topoDesc" header="Description" [sortable]="true">
        </p-column>-->
          <p-column [style]="{'width':'120px'}" field="timeStamp" header="Last imported on" [sortable]="true">
            <template let-col let-topology="rowData" pTemplate>
              <span title="{{topology[col.field]}}" class="timpStamp-float-css">{{topology[col.field]}}</span>
            </template>
          </p-column>
        </p-dataTable>
    </div>
</div>
</div>
