<div class="widget">
    <div class="header"><i aria-hidden="true"></i> Topology List</div>
    <p-dataTable [value]="topologyData" [rows]="15" [paginator]="topologyData?.length > 15" [pageLinks]="3">

        <p-column [style]="{'width':'120px','text-overflow':'ellipsis'}" field="topoName" header="Name" [sortable]="true">
            <template let-col let-topology="rowData" pTemplate>
      <span title="Click to open '{{topology[col.field]}}' topology details"><a class="hyperlink" (click)="routeToTreemain(topology['topoId'], topology['name'],'topology')">{{topology[col.field]}}</a></span>
    </template>
        </p-column>
        <!--<p-column [style]="{'width':'120px','text-overflow':'ellipsis'}" field="topoDesc" header="Description" [sortable]="true">
        </p-column>-->
    </p-dataTable>
</div>