<form *ngIf="genExceptionData" (ngSubmit)="saveKeywordData(form)" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Generate exception in method settings
            <div class="pull-right">
                <button type="button" pButton icon="fa-refresh" (click)="resetKeywordData()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="saveDisable || !enableGroupKeyword" label="Save"></button>
            </div>
        </div>
        <p-panel class="hideheader">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid configui-hideheader">
                <div class="ui-g">

                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-2">
                            <label>Fully qualified method name</label>
                        </div>

                        <div class="ui-g-4">
                            <input name="fullName" type="text" class="configui-fqm-css" [(ngModel)]="genExceptionData.fullyqualifiedName" pInputText title="Please enter valid method name. &#013;Rule 1: Method name can include package,class and method name separated by dot(.) . &#013;Rule 2: Method name cannot include whitespaces."
                                required pattern="[a-zA-Z0-9.]+(\(([^)\(\s]*)\))[^]*" ngModel/>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-2">
                            <label>Exception type</label>
                        </div>
                        <div class="ui-g-3">
                            <input name="dropdown" type="text" size="30" class='hidden-validator' pInputText [(ngModel)]="genExceptionData.exceptionType" required ngModel/>
                            <p-dropdown name="exceptionType" [style]="{'width': '100%'}" scrollHeight="150px" [(ngModel)]="genExceptionData.exceptionType" [autoWidth]="true" [options]="exceptionType" required ngModel></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-2">
                            <label>Exception name</label>
                        </div>

                        <div class="ui-g-3">
                            <input name="exceptionName" type="text" size="30" [(ngModel)]="genExceptionData.exceptionName" pInputText autofocus required pattern="[^]{0,49}$" ngModel/>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-2">
                            <label>Percentage <b> (%)</b></label>
                        </div>

                        <div class="ui-g-1">
                            <input type="number" name="percentage" min=0 max=100 [(ngModel)]="genExceptionData.percentage" required ngModel>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</form>
