<p-dataTable class="nde-ui" [value]="ipDetectionData" selectionMode="single" [(selection)]="selectedIpDetectionData" (onRowSelect)="onRowSelect()" [rows]="12" [paginator]="ipDetectionData?.length > 12" [pageLinks]="3">
    <p-header>
            <span class="configui-float-css">
                    <p-checkbox name="groupname" value="val1" [(ngModel)]="checkboxtrue" binary="true" [disabled]="true"></p-checkbox>
                </span>
        <span style="float: left">Enable Integration Points</span>
        <span style="float :right; margin-top:-3px">
              <button pButton type="button" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-plus" title="Add Integration Point Detection" ></button>
              <button pButton type="button" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="onAddIntegrationPTDetection()" icon="fa-plus" title="Add Integration Point Detection" ></button>
              <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm"  label="Save"></button>
              <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="saveIntegrationPointOnFile()" label="Save"></button>
        </span>
    </p-header>
    <!--<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>-->
    <p-column class="tableCss" field="type" header="Integration Point Type" [sortable]="true">
        <template let-col let-integrationPTDetection="rowData" pTemplate>
            <span class="hyperlink" title=" Click to Open {{integrationPTDetection[col.field]}} details">{{integrationPTDetection[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="detail" header="Description" [sortable]="true">
        <template let-col let-integrationPTDetection="rowData" pTemplate>
            <span title="{{integrationPTDetection[col.field]}}">{{integrationPTDetection[col.field]}}</span>
        </template>
    </p-column>
</p-dataTable>


<!--Dialog for Adding New Integration PT Detection-->

<p-dialog class="profile-dialog" header="New Integration Point Detection" *ngIf="displayNewIPDetection" [(visible)]="displayNewIPDetection"
    modal="modal" width="700" responsive="true" [resizable]="false">
    <form (ngSubmit)="saveAddIntegrationPTDetection()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Integration Point Type</label>
            </div>
            <div class="ui-g-8">
                <input name="dropdown" type="text" class='hidden-validator' pInputText [(ngModel)]="addIPDetectionDetail.backendTypeId" required
                    ngModel/>
                <p-dropdown [options]="backendTypeSelecetItem" [style]="{'width':'205px'}" name="backendTypeId" [(ngModel)]="addIPDetectionDetail.backendTypeId"
                    placeholder="-- Select --" required ngModel></p-dropdown>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Name</label>
            </div>
            <div class="ui-g-8">
                <input name="name" pattern="[a-zA-Z]+[a-zA-Z0-9_#@./&-]{0,99}$" (keydown.space)="$event.preventDefault()" title="Please enter valid name. &#013;Rule 1: It will accept alphanumeric characters.  &#013;Rule 2: It will not accept special charcters other then (. @ # & - _ /) in between the character. &#013;Rule 3: It will not accept whitespaces. &#013;Rule 4:Name is of maximum 100 characters."
                    type="text" size="60" pInputText [(ngModel)]="addIPDetectionDetail.name" required ngModel/>
            </div>
        </div>
        <div class="ui-g" *ngIf="agentType =='Dot Net'">
            <div class="ui-g-4">
                <label>Module</label>
            </div>
            <div class="ui-g-8">
                <input name="module" type="text" size="60" pInputText [(ngModel)]="addIPDetectionDetail.module" required (keydown.space)="$event.preventDefault()"
                required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Fully Qualified Method Name</label>
            </div>
            <div class="ui-g-8">
            <ng-container *ngIf="(addIPDetectionDetail.backendTypeId === 3 || addIPDetectionDetail.backendTypeId === 10 || addIPDetectionDetail.backendTypeId === 11 || addIPDetectionDetail.backendTypeId === 12 || addIPDetectionDetail.backendTypeId === 21); then first else second">
            </ng-container>
            <ng-template #first>
            <input name="fqm" type="text" size="60" title="Please enter valid FQM" pattern="[a-zA-Z]+[a-zA-Z0-9_$.]+(([;_$\/\[a-zA-Z0-9]*))+[;_$\/\[a-zA-Z0-9].*"
            (keydown.space)="$event.preventDefault()" pInputText [(ngModel)]="addIPDetectionDetail.fqm" required ngModel
            />
            </ng-template>
            <ng-template #second>
                <input name="fqm" type="text" size="60" title="Please enter valid FQM" pattern="[a-zA-Z]+[a-zA-Z0-9_$.]+(\(([;_$\/\[a-zA-Z0-9]*)\))+[;_$\/\[a-zA-Z0-9]*"
                (keydown.space)="$event.preventDefault()" pInputText [(ngModel)]="addIPDetectionDetail.fqm" required ngModel
                />
                </ng-template>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Enabled</label>
            </div>
            <div class="ui-g-2 toggleChk">
                <md-slide-toggle [(ngModel)]="addIPDetectionDetail.enabled" name="enabled" style="margin:0px 0px;"></md-slide-toggle>
            </div>

            <div class="ui-g-2" *ngIf="addIPDetectionDetail.backendTypeId === 13 || addIPDetectionDetail.backendTypeId === 14">
                <label>Argument Index</label>
            </div>
            <div class="ui-g-4" *ngIf="addIPDetectionDetail.backendTypeId === 13 || addIPDetectionDetail.backendTypeId === 14">
                <input name="dropdown" type="text" class='hidden-validator' pInputText [(ngModel)]="addIPDetectionDetail.argumentIndex" required
                ngModel/>
                <p-dropdown [options]="argumentIndexSelecetItem" [style]="{'width':'171px'}" name="argumentIndex" [(ngModel)]="addIPDetectionDetail.argumentIndex"
                (click)="validateArgAndGetArgumentsNumberList(addIPDetectionDetail.fqm,addIPDetectionDetail.backendTypeId)"     placeholder="-- Select --" required ngModel></p-dropdown>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Description</label>
            </div>
            <div class="ui-g-8">
                <textarea name="desc" rows="2" cols="30" pInputTextarea [(ngModel)]="addIPDetectionDetail.desc" pattern="[^|]*" ngModel></textarea>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="displayNewIPDetection=false" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--This dialog showing the 'Integration Point Naming Rules' & 'Exit Points' values for particular service entry point-->
<p-dialog class="profile-dialog" *ngIf="detailDialog" header="Manage {{integrationDetail.type}} Integration Point" [(visible)]="detailDialog"
    modal="modal" width="500" responsive="true" [resizable]="false">
    <div style="max-height: 500px; overflow-y: auto;">
        <!--Integration Point Naming Rules are not showing for these Integration Points COHERENCE, MEM_CACHE, CLOUDANT, CUSTOM -->
        <div *ngIf="agentType =='Java'">
            <div class="ui-g config-ui" *ngIf="integrationDetail.type ==  IP.WS || integrationDetail.type ==  IP.RMI || integrationDetail.type ==  IP.HTTP || integrationDetail.type ==  IP.JDBC  || integrationDetail.type ==  IP.REDIS  || integrationDetail.type ==  IP.MONGO || integrationDetail.type ==  IP.Cloudant_NoSQL">
                <label style="font-weight: bolder;font-size: larger">Integration Point Naming Rule(s)</label>
            </div>
        </div>
        <div class="ui-g config-ui" [ngSwitch]="integrationDetail.type">
            <div class="ui-g" *ngSwitchCase="IP.WS">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.url"> Query String </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.serviceName"> Service Name </md-checkbox>
            </div>
            <div class="ui-g config-ui" *ngSwitchCase="IP.RMI">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.serviceName"> Service name </md-checkbox>
            </div>
<!--            <div class="ui-g config-ui" *ngSwitchCase="IP.HADOOP">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.tableName"> Table name </md-checkbox>
            </div> -->
            <div *ngIf="agentType =='Java'">
                <div class="ui-g config-ui" *ngSwitchCase="IP.HTTP">
                    <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                    <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
                    <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.url"> Query String </md-checkbox>
                    <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.query"> Query </md-checkbox>
                </div>
            </div>
            <div class="ui-g" *ngSwitchCase="IP.JDBC">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.url"> Query String</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.databaseProductName"> Database Product Name</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.databaseProductVersion"> Database Product Version</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.driverName"> Driver Name</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.driverVersion"> Driver Version</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.userName"> User Name </md-checkbox>

                <!--Host Port Query String, Database Product Name, Database Product Version, Driver Name, Driver Version, UserName-->
            </div>
            <div class="ui-g" *ngSwitchCase="IP.REDIS">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.url"> Query String </md-checkbox>
            </div>
            <div class="ui-g" *ngSwitchCase="IP.MONGO">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
            </div>
            <div class="ui-g" *ngSwitchCase="IP.Cloudant_NoSQL">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.url"> Query String </md-checkbox>
            </div>
            <div class="ui-g" *ngSwitchCase="IP.DBConnection">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.url"> Query String</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.databaseProductName"> Database Product Name</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.databaseProductVersion"> Database Product Version</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.driverName"> Driver Name</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.driverVersion"> Driver Version</md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.userName"> User Name </md-checkbox>

                <!--Host Port Query String, Database Product Name, Database Product Version, Driver Name, Driver Version, UserName-->
            </div>
            <div class="ui-g" *ngSwitchCase="IP.NEO4J">
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.host"> Host </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.port"> Port </md-checkbox>
                <md-checkbox class="config-margin" [(ngModel)]="integrationDetail.namingRule.url"> Query String </md-checkbox>
            </div>
            <div class="ui-g" *ngSwitchDefault>
            </div>
        </div>

        <div class="ui-g config-ui">
            <div class="ui-g-12">
                <label style="font-weight: bolder;font-size: larger">Integration Exit Point(s)</label>
                <div class="ui-g" style="padding: 0px" *ngFor="let endPoints of integrationDetail.lstEndPoints">
                    <div class="ui-g-8">
                        <label>{{endPoints.name}}</label><i class="fa fa-info-circle" aria-hidden="true" title={{endPoints.fqm}}></i>
                    </div>
                    <div class="ui-g-2">
                        <div>
                            <md-slide-toggle class="config-toggle" [(ngModel)]="endPoints.enabled"></md-slide-toggle>
                        </div>
                    </div>
                    <div class="ui-g-2">
                        <div>
                            <button *ngIf="endPoints.customEntry == true || endPoints.isCustomEntry == true" pButton class="ui-button-danger" type="button"
                                (click)="deleteIP(endPoints)" title="Delete custom integration point" icon="fa-trash"></button>
                            <button *ngIf="endPoints.customEntry == false" pButton type="button" style="background:gray;border:gray" title="Pre-Defined Custom Integration Point"
                                icon="fa-trash"></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" [disabled]="saveDisable" (click)="saveIntegrationDetail()" label="Save"></button>
            <button type="button" pButton icon="fa-close" (click)="detailDialog=false" label="Cancel"></button>
        </div>
    </footer>
</p-dialog>
