<form *ngIf="HeaderForm" (ngSubmit)="saveKeywordData()" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Flow Path Header
            <div class="pull-right" >
                <button type="button" pButton icon="fa-refresh" (click)="resetKeywordData()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="!enableGroupKeyword" label="Save"></button>

            </div>
        </div>
    <p-panel class ="hideheader">
        <div style="margin: 5px 0px">
            <p-accordion>
                <p-accordionTab header="HTTP Headers">
                    <app-http-header [data]="httpKeywordObject"></app-http-header>
                </p-accordionTab>
                <p-accordionTab header="Custom Data" [selected]="true">
                    <app-custom-data  [data]="header"></app-custom-data>
                </p-accordionTab>

            </p-accordion>
        </div>
    </p-panel>
    </div>
</form>