<div class="ui-g-12">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
            <app-config-ui-application></app-config-ui-application>
        </div>
        <div class="ui-g-12 ui-md-6">
            <app-config-ui-profile></app-config-ui-profile>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
            <app-config-ui-topology></app-config-ui-topology>
        </div>
        <div class="ui-g-12 ui-md-6">
            <app-config-ui-application></app-config-ui-application>
        </div>
    </div>
</div>