<div class="widget">
    <div class="header"><i class="fa fa-user" aria-hidden="true"></i> Profile Detail(s)
        <span style="float :right; margin-top:-2px">
            <button pButton type="button" title="Add Profile" (click)="openProfileDialog()" icon="fa-plus"></button>
        </span>

    </div>

    <p-dataTable [value]="profileData" [(selection)]="selectedProfile">

        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

        <p-column class="tableCss" field="profileName" header="Name" [sortable]="true">
            <template let-col let-profile="rowData" pTemplate>
      <span title="{{profile[col.field]}}"><a class="hyperlink" (click)="routeToConfiguration(profile['profileId'], profile['profileName'])" >{{profile[col.field]}}</a></span>
    </template>
        </p-column>
        <p-column class="tableCss" field="profileDesc" header="Description" [sortable]="true">
            <template let-col let-profile="rowData" pTemplate>

      <span title="{{profile[col.field]}}">{{profile[col.field]}}</span>
    </template>
        </p-column>
    </p-dataTable>
</div>
<!--Dialog for Adding New Profile -->
<p-dialog header="Add New Profile Configuration " *ngIf="displayNewProfile" [(visible)]="displayNewProfile" modal="modal" width="500" responsive="true">
    <form (ngSubmit)="saveNewProfile()" #groupForm="ngForm">
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Name</label>
            </div>
            <div class="ui-g-8">
                <input name="profileName" type="text" size="30" pInputText [(ngModel)]="profileDetail.profileName" autofocus required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Description</label>
            </div>
            <div class="ui-g-8">
                <input name="profileDesc" type="text" size="30" pInputText [(ngModel)]="profileDetail.profileDesc" required ngModel />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Copy Profile</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="profileListItem" name="dropdown" [style]="{'width':'150px'}" [(ngModel)]="profileDetail.parentProfileId" placeholder="Select a Profile to be copied"></p-dropdown>

            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayNewProfile=false" label="Cancel"></button>
                <button type="submit" pButton icon="fa-check" label="OK"></button>
            </div>
        </footer>
    </form>
</p-dialog>