.tableCss {
    width: 120px;
    text-overflow: ellipsis;
}

.profile-dialog .ui-dialog .ui-dialog-titlebar{
    margin: 0 !important;
    padding: 5px !important;
    background: #282828 !important;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}
.profile-dialog .ui-dialog .ui-dialog-titlebar-close {
    color: #fff;
}