.example-card {
    width: 400px;
}

.example-header-image {
    /*background-image: url('./assets/img/001.png');*/
    background: url("../../../../../assets/img/001.png") repeat;
    background-size: cover;
}

div {
    border: 2px solid;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}