<div class="ui-g-12" id=top-div>
    <div class="ui-g" style="height:50%">
        <div class="ui-g-6">
            <md-card style="background: #413CD0;">
                <md-card-content>
                    <a [routerLink]="['../../general', profileId, 0]">GENERAL</a>
                    <div class="ui-g">
                        <div class="ui-g-8">
                            <div>
                                <!--keywordGroup {{keywordGroup.general | json}}-->

                                <md-slide-toggle (click)="change('flowpath')" [(ngModel)]="keywordGroup.general.flowpath.enable"><a [routerLink]="['../../general', profileId, 0]" class="contents">Flowpath Capturing</a></md-slide-toggle>
                            </div>
                            <div>
                                <md-slide-toggle (click)="change('hotspot')" [(ngModel)]="keywordGroup.general.hotspot.enable"><a [routerLink]="['../../general', profileId, 1]" class="contents">Hotspot Capturing</a></md-slide-toggle>
                            </div>
                            <div>
                                <md-slide-toggle (click)="change('thread_stats')" [(ngModel)]="keywordGroup.general.thread_stats.enable"><a [routerLink]="['../../general', profileId, 2]" class="contents">JVM Thread Stats Monitor</a></md-slide-toggle>
                            </div>
                            <div>
                                <md-slide-toggle (click)="change('exception')" [(ngModel)]="keywordGroup.general.exception.enable"><a [routerLink]="['../../general', profileId, 3]" class="contents">Capture Exception</a></md-slide-toggle>
                            </div>
                            <div>
                                <md-slide-toggle (click)="change('header')" [(ngModel)]="keywordGroup.general.header.enable"><a [routerLink]="['../../general', profileId, 4]" class="contents">Flow Path Header Capturing</a></md-slide-toggle>
                            </div>
                            <div>
                                <md-slide-toggle (click)="change('instrumentation_profiles')" [(ngModel)]="keywordGroup.general.instrumentation_profiles.enable"><a [routerLink]="['../../general', profileId, 5]" class="contents">Choose Instrumentation Profiles</a></md-slide-toggle>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <i class="fa fa-users" style="font-size: 150px;color:white;"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div class="ui-g-6">
            <md-card style="background: #407445;">
                <md-card-content>
                    <a [routerLink]="['../../instrumentation', profileId, 0]">INSTRUMENTATION</a>
                    <div class="ui-g">
                        <div class="ui-g-8">
                            <ul>
                                <li>
                                    <a [routerLink]="['../../instrumentation', profileId, 0]" class="contents">Service Entry Point</a>
                                </li>
                                <li>
                                    <a [routerLink]="['../../instrumentation', profileId, 1]" class="contents">Integration Point Detection</a>
                                </li>
                                <li>
                                    <a [routerLink]="['../../instrumentation', profileId, 2]" class="contents">Transaction Configuration</a>
                                </li>
                                <li>
                                    <a [routerLink]="['../../instrumentation', profileId, 3]" class="contents">Instrument Monitors</a>
                                </li>
                                <li>
                                    <a [routerLink]="['../../instrumentation', profileId, 4]" class="contents">Error detection</a>
                                </li>
                            </ul>
                            <!--<div>
                                 <md-slide-toggle (click)="change('')" [(ngModel)]="instrumentation.service_entry_point"><a [routerLink]="['../../instrumentation', profileId, 0]" class="contents">Service Entry Point</a></md-slide-toggle>
                            </div>
                            <div>
                                 <md-slide-toggle (click)="change('')" [(ngModel)]="instrumentation.integration_pt_detection"><a [routerLink]="['../../instrumentation', profileId, 1]" class="contents">Integration Point Detection</a></md-slide-toggle>
                            </div>
                            <div>
                                 <md-slide-toggle (click)="change('')" [(ngModel)]="instrumentation.transaction_configuration"><a [routerLink]="['../../instrumentation', profileId, 2]" class="contents">Transaction Configuration</a></md-slide-toggle>
                            </div>
                            <div>
                                 <md-slide-toggle (click)="change('')" [(ngModel)]="instrumentation.instrument_monitors"><a [routerLink]="['../../instrumentation', profileId, 3]" class="contents">Instrument Monitors</a></md-slide-toggle>
                            </div>
                            <div>
                                 <md-slide-toggle (click)="change('')" [(ngModel)]="instrumentation.error_detection"><a [routerLink]="['../../instrumentation', profileId, 4]" class="contents">Error detection</a></md-slide-toggle>
                            </div>-->
                        </div>
                        <div class="ui-g-4">
                            <i class="fa fa-cube" style="font-size: 150px;color:white;"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <md-card style="background: #9043BC;">
                <md-card-content>
                    <a [routerLink]="['../../advance', profileId, 0]">ADVANCE</a>
                    <div class="ui-g">
                        <div class="ui-g-8">
                            <div>
                                <md-slide-toggle (click)="change('debug')" [(ngModel)]="keywordGroup.advance.debug.enable"><a [routerLink]="['../../advance', profileId, 0]" class="contents">Debug Level Capturing</a></md-slide-toggle>
                            </div>
                            <div>
                                <md-slide-toggle (click)="change('delay')" [(ngModel)]="keywordGroup.advance.delay.enable"><a [routerLink]="['../../advance', profileId, 1]" class="contents">Put Delay in Method</a></md-slide-toggle>
                            </div>
                            <div>
                                <md-slide-toggle (click)="change('backend_monitors')" [(ngModel)]="keywordGroup.advance.backend_monitors.enable"><a [routerLink]="['../../advance', profileId, 2]" class="contents">Backend Monitor, Monitors</a></md-slide-toggle>
                            </div>
                            <div>
                                <md-slide-toggle (click)="change('generate_exception')" [(ngModel)]="keywordGroup.advance.generate_exception.enable"><a [routerLink]="['../../advance', profileId, 3]" class="contents">Generate Exception in Method</a></md-slide-toggle>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <i class="fa fa-cog" style="font-size: 150px;color:white;"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div class="ui-g-6">
            <md-card style="background: #221D24;">
                <md-card-content>
                    <a [routerLink]="['../../integration', profileId]">PRODUCT INTEGRATION</a>
                    <div class="ui-g">
                        <div class="ui-g-8">
                            <div>
                                <md-slide-toggle (click)="change('nvcookie')" [(ngModel)]="keywordGroup.product_integration.nvcookie.enable"><a [routerLink]="['../../integration', profileId]" class="contents">NV Cookie</a></md-slide-toggle>
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <i class="fa fa-refresh" style="font-size: 150px;color:white;"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>