<div class="ui-g-12" id=top-div>
    <div class="ui-g configUI_card-css">
        <div class="ui-g-6" >
            <md-card>
                <md-card-content>
                    <div class="heading"><a [routerLink]="['../../general', profileId, 0]">GENERAL SETTINGS</a></div>
                    <div class="ui-g configCard">
                        <div class="ui-g-8">
                            <ul class="intrumentation">
                                <li>
                                    <a [routerLink]="['../../general', profileId, 0]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Flowpath</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'Dot Net' || agentType == 'NodeJS'">
                                    <a [routerLink]="['../../general', profileId, 1]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Hotspot</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'Dot Net' || agentType == 'NodeJS'">
                                    <a [routerLink]="['../../general', profileId, 2]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Capture Exception</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'Dot Net' || agentType == 'NodeJS'">
                                    <a [routerLink]="['../../general', profileId, 3]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Flowpath Header</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'NodeJS'">
                                    <a [routerLink]="['../../general', profileId, 4]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Custom Data</a>
                                </li>
                                <li *ngIf="agentType == 'Php' || agentType == 'Python'">
                                    <a [routerLink]="['../../general', profileId, 1]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Instrumentation Profile</a>
                                </li>
                                <li *ngIf="agentType == 'Dot Net'">
                                    <a [routerLink]="['../../general', profileId, 4]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Instrumentation Profile</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'NodeJS'">
                                    <a [routerLink]="['../../general', profileId, 5]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Instrumentation Profile</a>
                                </li>
                                <li *ngIf="agentType == 'NodeJS'">
                                    <a [routerLink]="['../../general', profileId, 6]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Event Correlation</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ui-g-4">
                            <i class="fa fa-users icon_big"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        
        <div class="ui-g-6">
            <md-card>
                <md-card-content>
                    <div class="heading"><a [routerLink]="['../../instrumentation', profileId, 0]">INSTRUMENTATION SETTINGS</a></div>
                    <div class="ui-g configCard">
                        <div class="ui-g-8">
                            <ul class="intrumentation">
                                <li *ngIf="agentType == 'Java' || agentType == 'Dot Net'">
                                    <a [routerLink]="['../../instrumentation', profileId, 0]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Service Entry Point</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'Dot Net'">
                                    <a [routerLink]="['../../instrumentation', profileId, 1]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Integration Point Detection</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'Dot Net'">
                                    <a [routerLink]="['../../instrumentation', profileId, 2]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Business Transaction</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'Dot Net'">
                                    <a [routerLink]="['../../instrumentation', profileId, 3]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Instrument Monitors</a>
                                </li>
                                <li *ngIf="agentType == 'Java'">
                                    <a [routerLink]="['../../instrumentation', profileId, 4]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Error Detection</a>
                                </li>
                                <li *ngIf="agentType == 'Java'">
                                    <a [routerLink]="['../../instrumentation', profileId, 5]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Asynchronous Transaction</a>
                                </li>
                                <li *ngIf="agentType == 'NodeJS' || agentType == 'Php' || agentType == 'Python'">
                                    <a [routerLink]="['../../instrumentation', profileId, 0]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Integration Point Detection</a>
                                </li>
                                <li  *ngIf="agentType == 'NodeJS' || agentType == 'Php' || agentType == 'Python'">
                                    <a [routerLink]="['../../instrumentation', profileId, 1]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Business Transaction</a>
                                </li>
                                <li  *ngIf="agentType == 'NodeJS' || agentType == 'Php' || agentType == 'Python'">
                                    <a [routerLink]="['../../instrumentation', profileId, 2]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Instrument Monitors</a>
                                </li>
                                <li  *ngIf="agentType == 'NodeJS'">
                                    <a [routerLink]="['../../instrumentation', profileId, 3]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Error Detection</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ui-g-4">
                            <i class="fa fa-cube icon_big"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div class="ui-g configUI_card-css">
        <div class="ui-g-6" >
            <md-card>
                <md-card-content>
                    <div class="heading"><a [routerLink]="['../../advance', profileId, 0]">ADVANCE SETTINGS</a></div>
                    <div class="ui-g configCard">
                        <div class="ui-g-8">
                            <ul class="intrumentation">
                                <li *ngIf="agentType == 'Java' || agentType == 'NodeJS'">
                                    <a [routerLink]="['../../advance', profileId, 0]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Debug Level</a>
                                </li>
                                <li *ngIf="agentType == 'Java' || agentType == 'NodeJS'">
                                    <a [routerLink]="['../../advance', profileId, 1]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Monitors</a>
                                </li>
                                <li *ngIf="adminMode && agentType == 'Java'">
                                    <a [routerLink]="['../../advance', profileId, 2]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Put Delay in Method</a>
                                </li>
                                <li *ngIf="adminMode && agentType == 'Java'">
                                    <a [routerLink]="['../../advance', profileId, 3]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Generate Exception in Method</a>
                                </li>
                                <li *ngIf="adminMode && agentType == 'Java'">
                                    <a [routerLink]="['../../advance', profileId, 4]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Custom Configuration</a>
                                </li>
                                <!-- Support for NodeJs-->
                                <li *ngIf="adminMode && agentType == 'NodeJS'">
                                    <a [routerLink]="['../../advance', profileId, 2]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Custom Configuration</a>
                                </li>
                                <!-- Support for DotNet, Php and Python -->
                                <li *ngIf="agentType == 'Dot Net' || agentType == 'Php' || agentType == 'Python'">
                                    <a [routerLink]="['../../advance', profileId, 0]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Monitors</a>
                                </li>
                                <li *ngIf="adminMode && agentType == 'Dot Net' || agentType == 'Php' || agentType == 'Python'">
                                    <a [routerLink]="['../../advance', profileId, 1]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Custom Configuration</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ui-g-4">
                            <i class="fa fa-cog icon_big"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div class="ui-g-6" *ngIf="agentType == 'Java' || agentType == 'NodeJS' || agentType == 'Dot Net'">
            <md-card>
                <md-card-content>
                    <div class="heading"><a [routerLink]="['../../integration', profileId, 0]">PRODUCT INTEGRATION SETTINGS</a></div>
                    <div class="ui-g configCard">
                        <div class="ui-g-8">
                            <ul class="intrumentation">
                                <li *ngIf="agentType == 'Java' || agentType == 'NodeJS' || agentType == 'Dot Net'">
                                    <a [routerLink]="['../../integration', profileId, 0]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> NV-ND Sessions</a>
                                </li>
                                <li *ngIf="agentType == 'Java'">
                                    <a [routerLink]="['../../integration', profileId, 1]" class="contents"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> NV-ND Auto Inject</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ui-g-4">
                            <i class="fa fa-refresh icon_big"></i>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
