<p-panel header="FlowPath Capturing">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-g">
            <form *ngIf="flowPath" (ngSubmit)="saveKeywordData()" #form="ngForm">
                <div class="ui-g-12">
                    <!--<div class = "ui-g-6">-->
                    <div class="ui-g-5">
                        <label>Full Flow Path capturing percentage[0-100%]</label>
                    </div>

                    <div class="ui-g-2">
                        <p-spinner size="30" name="bciInstrSessionPct" [(ngModel)]="flowPath.bciInstrSessionPct.value" min={{flowPath.bciInstrSessionPct.min}} max={{flowPath.bciInstrSessionPct.max}} required ngModel autofocus></p-spinner>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-5">
                        <label>Capture complete transaction flow forcefully</label>
                    </div>


                    <div class="ui-g-2">
                        <p-dropdown name="enableForcedFPChain" [style]="{'width': '100%'}" scrollHeight="150px" [autoWidth]="true" [(ngModel)]="flowPath.enableForcedFPChain.value" [options]="enableForcedFPChainSelectItem" appendTo="body" required ngModel></p-dropdown>
                    </div>
                </div>


                <div class="ui-g-12">
                    <div class="ui-g-5">
                        <label>Capture Cpu Times</label>
                    </div>

                    <div class="ui-g-2">
                        <p-dropdown name="enableCpuTime" [style]="{'width': '100%'}" scrollHeight="150px" [(ngModel)]="flowPath.enableCpuTime.value" [options]="enableCpuTimeSelectItem" appendTo="body" required ngModel></p-dropdown>
                    </div>
                </div>


                <div class="ui-g-12">
                    <div class="ui-g-5">
                        <label>Capture HTTP header for correlation id</label>
                    </div>

                    <div class="ui-g-2">
                        <input name="correlationIDHeader" type="text" size="30" pInputText [(ngModel)]="flowPath.correlationIDHeader.value" min={{flowPath.correlationIDHeader.min}} max={{flowPath.correlationIDHeader.max}} required ngModel/>
                    </div>
                </div>

                <footer>
                    <div class="pull-right">
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="submit" pButton icon="fa-check" label="Save"></button>
                            <button type="button" pButton icon="fa-refresh" label="Reset"></button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
    </div>
</p-panel>