<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Method Monitor">
        <app-method-monitors></app-method-monitors>
    </p-tabPanel>
    <p-tabPanel header="HTTP Stats Monitor">
        <app-http-stats-monitors></app-http-stats-monitors>
    </p-tabPanel>
    <p-tabPanel header="Exception Monitor">
        <app-exception-monitors></app-exception-monitors>
    </p-tabPanel>
    <p-tabPanel header="JVM Thread CPU Monitor">
        <app-thread-stats [saveDisable]="saveDisable" [profileId]="profileId" (keywordData)="saveKeywordData($event)"></app-thread-stats>
    </p-tabPanel>

</p-tabView>