<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Method Monitor">
        <app-method-monitors [profileId]="profileId" (keywordData)="saveKeywordData($event)"></app-method-monitors>
    </p-tabPanel>
    <p-tabPanel header="HTTP Stats Monitor" *ngIf="agentType == 'Java' || agentType == 'NodeJS'">
        <app-http-stats-monitors [profileId]="profileId" (keywordData)="saveKeywordData($event)"></app-http-stats-monitors>
    </p-tabPanel>
    <p-tabPanel header="Exception Monitor" *ngIf="agentType == 'Java' || agentType == 'NodeJS'">
        <app-exception-monitors [profileId]="profileId" (keywordData)="saveKeywordData($event)"></app-exception-monitors>
    </p-tabPanel>
    <p-tabPanel header="JVM Thread CPU Monitor" *ngIf="agentType == 'Java'">
        <app-thread-stats [saveDisable]="saveDisable" [profileId]="profileId" (keywordData)="saveKeywordData($event)"></app-thread-stats>
    </p-tabPanel>

</p-tabView>


<p-dialog class="profile-dialog" header="{{dialogHeader}}" *ngIf="errDialog" [(visible)]="errDialog" modal="modal"
  width="500" responsive="true">
  <div style="max-height: 500px; overflow-y: auto;" *ngIf="!showLevels">
    Runtime changes successfully applied on: 
    <ul>
     <li *ngFor="let err of msg">
        <span>{{err}}</span>
     </li>
    </ul>
    Error while applying Runtime changes on:
    <ul>
      <li *ngFor="let e of errMsg">
         <span>{{e}}</span>
      </li>
     </ul>
  </div>
  <div *ngIf="showLevels" style="font-size: 13px;color: #111113;">
This profile is applied at following levels:
<br><br>
<b>
  <ul>
    <li *ngFor="let i of info">
      <span>{{i}}</span>
    </li>
  </ul>
</b>
<br>
Are you sure you want to send Run Time Changes ?
<br>
<!-- <h6 style="color: red">Saving settings will also send the RTC at the above levels</h6> -->
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
      <button type="button" pButton (click)="errDialog=false" *ngIf="!showLevels"  icon="fa-check" label="Ok"></button>
      <button type="button" pButton (click)="saveSettings()" *ngIf="showLevels" icon="fa-check" label="Save"></button> 
      <button type="button" pButton (click)="errDialog=false" *ngIf="showLevels" icon="fa-close" label="Cancel"></button>      
    </div>
  </footer>
</p-dialog>

