<p-tabView>
    <p-tabPanel header="SERVICE ENTRY POINT">
        <app-service-entry-point [profileId]=profileId></app-service-entry-point>
    </p-tabPanel>
    <p-tabPanel header="INTEGRATION PT DETECTION">
        <app-integration-pt-detection [profileId]=profileId></app-integration-pt-detection>
    </p-tabPanel>
    <p-tabPanel header="TRANSACTION CONFIGURATION">
        <app-transaction-configuration [profileId]=profileId></app-transaction-configuration>
    </p-tabPanel>
    <p-tabPanel header="INSTRUMENT MONITORS">
        <app-instrument-monitors [profileId]=profileId></app-instrument-monitors>
    </p-tabPanel>
    <p-tabPanel header="ERROR DETECTION">
        <app-error-detection [profileId]=profileId></app-error-detection>
    </p-tabPanel>
</p-tabView>