<p-checkbox name="captureCustomData" label="Capture custom data from" [(ngModel)]="data.captureCustomData.value" binary="true">
</p-checkbox>

<p-tabView class="sessionTab">
    <p-tabPanel header="Java Method">
        <app-java-method></app-java-method>
    </p-tabPanel>
    <p-tabPanel header="Session Attribute">
        <app-session-attribute></app-session-attribute>
    </p-tabPanel>
    <p-tabPanel header="HTTP Request Header">
        <app-http-request></app-http-request>
    </p-tabPanel>
</p-tabView>