<!--For showing Business Transaction Pattern(s) list -->
<p-dataTable class="nde-ui" [value]="businessTransMethodInfo" [(selection)]="selectedbusinessTransMethod" [rows]="12" [paginator]="businessTransMethodInfo?.length > 12" [pageLinks]="3">
    <p-header>
        <span style="float: left"> Manage Method Business Transaction Rule(s)</span>
        <span style="float: right; margin-top:-3px">
                           <button pButton type="button" title="Add a Method Business Transaction" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-plus"></button>
                           <button pButton type="button" title="Add a Method Business Transaction" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openMethodDialog()" icon="fa-plus"></button>
                           <button pButton type="button" title="Edit a Method Business Transaction " *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-pencil" ></button>
                           <button pButton type="button" title="Edit a Method Business Transaction " *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="editMethodTrans()" icon="fa-pencil" ></button>
                           <button pButton type="button"class="ui-button-danger" title="Delete Method Business Transaction(s)" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-trash"></button>
                           <button pButton type="button"class="ui-button-danger" title="Delete Method Business Transaction(s)" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteMethodTrans()" icon="fa-trash"></button>
        </span>
    </p-header>
    <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
    <p-column class="col-overflow" field="fqm" header="Fully Qualified Method Name" [sortable]="true">
        <template let-col let-application="rowData" pTemplate>
                <span title="{{application[col.field]}}">{{application[col.field]}}</span>
            </template>
    </p-column>
    <p-column class="col-overflow" field="capturingType" header="Capturing Type" [sortable]="true">
        <template let-col let-application="rowData" pTemplate>
                <span title="{{application[col.field]}}">{{application[col.field]}}</span>
            </template>
    </p-column>
    <!--<p-column class="col-overflow" field="returnType" header="Return type" [sortable]="true">
            <template let-col let-application="rowData" pTemplate>
                <span title="{{application[col.field]}}">{{application[col.field]}}</span>
            </template>
        </p-column>-->
</p-dataTable>

<!--Dialog for adding Business Transaction Method-->
<p-dialog class="profile-dialog" header="{{isNewMethod ? 'Add Business Transaction Method Rule' :'Edit Business Transaction Method Rule'}}" *ngIf="addBusinessTransMethodDialog" [(visible)]="addBusinessTransMethodDialog" modal="modal" width="700" responsive="true"
    [resizable]="false">
    <form (ngSubmit)="saveADDEditMethodTrans(fqmField)" #groupForm="ngForm" ngNativeValidate>

        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Fully Qualified Method Name</label>
                </div>
                <div class="ui-g-8">
                    <input name="fqm" type="text" size="65" title="Please enter valid FQM" #fqmField pattern="[a-zA-Z]+[a-zA-Z0-9_$.]+(\(([;_$\/\[a-zA-Z0-9]*)\))+[;_$\/\[a-zA-Z0-9]*" [disabled]="!isNewMethod" pInputText [(ngModel)]="businessTransMethodDetail.fqm" autofocus
                        required ngModel/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <p-radioButton name="enableArgumentType" value="returnType" label="BT Rule Based on Return Type" [(ngModel)]="enableArgumentType"></p-radioButton>
                </div>
                <div class="ui-g-12" *ngIf="enableArgumentType=='returnType'">
                    <p-dataTable class="nde-ui" [value]="methodRulesInfo" *ngIf="enableArgumentType" [(selection)]="selectedMethodRules" [rows]="4" [paginator]="methodRulesInfo?.length > 4" [pageLinks]="3">
                        <p-header>
                            <span style="float: left;">  Return Type Value Rule(s) </span>
                            <span style="float: right; margin-top:-3px">
                           <button pButton type="submit" title="Add Return Type Value Rule" (click)="first=true" icon="fa-plus"></button>
                           <button pButton type="button" title="Edit" (click)="openEditReturnRulesDialog()" icon="fa-pencil" ></button>
                           <button pButton type="button"class="ui-button-danger" title="Delete Return Type Setting(s)" (click)="deleteRules()" icon="fa-trash"></button>
                        </span>
                        </p-header>
                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                        <p-column class="col-overflow" field="btName" header="BT Name" [sortable]="true">
                            <template let-col let-application="rowData">
                                        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                                    </template>
                        </p-column>
                        <p-column class="col-overflow" field="operationName" header="Match Criteria" [sortable]="true">
                            <template let-col let-application="rowData">
                                        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                                    </template>
                        </p-column>
                        <p-column class="col-overflow" field="value" header="Match Value" [sortable]="true">
                            <template let-col let-application="rowData">
                                        <span title="{{application[col.field]}}"><a [routerLink]="['/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
                                    </template>
                        </p-column>
                    </p-dataTable>
                </div>
                <!--<div class="ui-g-3">
                            <input name="dropdown" type="text" size="22" class='hidden-validator' pInputText [(ngModel)]="businessTransMethodDetail.returnType"
                                required ngModel/>
                            <p-dropdown name="returnType" [style]="{'min-width':'100%'}" [options]="returnTypeList" [(ngModel)]="businessTransMethodDetail.returnType"
                                placeholder="--Select--" required ngModel></p-dropdown>
                        </div>-->
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <p-radioButton name="enableArgumentType" value="argument" label="BT Rule Based on Argument" [(ngModel)]="enableArgumentType" (click)="validateReturnType(businessTransMethodDetail.fqm)"></p-radioButton>
                </div>
                <!--<div class="ui-g-2">
                            <label> Argument Index</label>
                        </div>-->
                <div class="ui-g-3" style="margin-top: -5px">
                    <input name="argumentIndex" type="text" class='hidden-validator' pInputText [(ngModel)]="businessTransMethodDetail.argumentIndex" required ngModel/>
                    <p-dropdown name="argumentIndex" [disabled]="!(enableArgumentType=='argument')" [style]="{'width': '100%'}" (click)="validateArgAndGetArgumentsNumberList()" placeholder="--Select argument index--" [(ngModel)]="businessTransMethodDetail.argumentIndex"
                        [options]="indexList" appendTo="body"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="businessTransMethodDetail.argumentIndex>0 && enableArgumentType=='argument'">
                <p-dataTable class="nde-ui" [value]="methodArgRulesInfo" *ngIf="businessTransMethodDetail.argumentIndex>0 && enableArgumentType=='argument'" [(selection)]="selectedArgRules" [rows]="4 " [paginator]="methodArgRulesInfo?.length> 4" [pageLinks]="3">
                    <p-header>
                        <span style="float: left;"> Argument Rule(s) </span>
                        <span style="float: right; margin-top:-3px">
                           <button pButton type="submit" title="Add Argument Rule" (click)="second=true" icon="fa-plus"></button>
                           <button pButton type="button" title="Edit" (click)="openEditArgRulesDialog()" icon="fa-pencil" ></button>
                           <button pButton type="button"class="ui-button-danger" title="Delete argument type setting(s)" (click)="deleteArgumentsRules()" icon="fa-trash"></button>
                        </span>
                    </p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column class="col-overflow" field="btName" header="BT Name" [sortable]="true">
                        <template let-col let-application="rowData">
                                    <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                                </template>
                    </p-column>
                    <p-column class="col-overflow" field="operationName" header="Match Criteria" [sortable]="true">
                        <template let-col let-application="rowData">
                                    <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                                </template>
                    </p-column>
                    <p-column class="col-overflow" field="value" header="Match Value" [sortable]="true">
                        <template let-col let-application="rowData">
                                    <span title="{{application[col.field]}}"><a [routerLink]="['/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
                                </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!-- Add new Return type info -->

<p-dialog class="profile-dialog" header="{{isNewReturn ? 'Add Return Type Value Rule' :'Edit Return Type Value Rule'}}" *ngIf="addRulesDialog" [(visible)]="addRulesDialog" modal="modal" width="600" responsive="true" [resizable]="false">
    <form (ngSubmit)="saveRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>BT Name</label>
                </div>
                <div class="ui-g-4">
                    <label>Match Criteria</label>
                </div>
                <div class="ui-g-4">
                    <label>Match Value</label>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <input name="btName" type="text" autofocus pInputText [(ngModel)]="btMethodRulesDetail.btName" pattern="[a-zA-Z0-9]+[a-zA-Z0-9-_%@#.]*" (keydown.space)="$event.preventDefault()" title="Please enter valid BT name. &#013;Rule 1:Cannot include whitespaces & Can't start with special characters . &#013;Rule 2: In between alphanumeric character only this set of special character will be accepted [_-@#%.] ."
                        required ngModel/>
                </div>
                <div class="ui-g-4">
                    <input name="operationName" type="text" class='hidden-validator' pInputText [(ngModel)]="btMethodRulesDetail.operationName" required ngModel/>
                    <p-dropdown name="operationName" [options]="returnOperationList" [style]="{'width':'83%'}" [(ngModel)]="btMethodRulesDetail.operationName" placeholder="--Select--" appendTo="body"></p-dropdown>
                </div>
                <div class="ui-g-4" *ngIf="btMethodRulesDetail.operationName != 'INVOCATION'">
                    <input name="value" type="text" pInputText [(ngModel)]="btMethodRulesDetail.value" title="Please enter valid Match value. &#013; Whitespaces are not allowed." required (keydown.space)="$event.preventDefault()" ngModel />
                </div>
                <div class="ui-g-4" *ngIf="btMethodRulesDetail.operationName == 'INVOCATION'">
                    <input name="value" type="text" pInputText [(ngModel)]="btMethodRulesDetail.value" title="Please enter valid Match value. &#013; Whitespaces are not allowed."  (keydown.space)="$event.preventDefault()" ngModel />
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="submit" pButton icon="fa-close" (click)="closeReturnDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!-- Add new Argument type info -->

<p-dialog class="profile-dialog" header="{{isNewArg ? 'Add Argument Rule' :'Edit Argument Rule'}}" *ngIf="addArgRulesDialog" [(visible)]="addArgRulesDialog" modal="modal" width="600" responsive="true" [resizable]="false">
    <form (ngSubmit)="saveArgRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>BT Name</label>
                </div>
                <div class="ui-g-4">
                    <label>Match Criteria</label>
                </div>
                <div class="ui-g-4">
                    <label>Match Value</label>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <input name="btName" type="text" autofocus pInputText [(ngModel)]="btMethodRulesDetail.btName" pattern="[a-zA-Z0-9]+[a-zA-Z0-9-_%@#.]*" (keydown.space)="$event.preventDefault()" title="Please enter valid BT name. &#013;Rule 1:Cannot include whitespaces & Can't start with special characters . &#013;Rule 2: In between alphanumeric character only this set of special character will be accepted [_-@#%.] ."
                        required ngModel/>
                </div>
                <div class="ui-g-4">
                    <input name="operationName" type="text" class='hidden-validator' pInputText [(ngModel)]="btMethodRulesDetail.operationName" required ngModel/>
                    <p-dropdown name="operationName" [options]="operationList" [style]="{'width':'83%'}" [(ngModel)]="btMethodRulesDetail.operationName" placeholder="--Select--" (click)="operationListArgumentType()" appendTo="body"></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <input name="value" type="text" pInputText [(ngModel)]="btMethodRulesDetail.value" title="Please enter valid Match value. &#013; Whitespaces are not allowed." (keydown.space)="$event.preventDefault()" required ngModel/>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="submit" pButton icon="fa-close" (click)="closeArgDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>
