<!--For showing Bussiness Transaction Pattern(s) list -->
<p-dataTable [value]="businessTransMethodInfo" [(selection)]="selectedbusinessTransMethod" [rows]="15" [paginator]="true" [pageLinks]="3">
    <p-header>
        <span> Method Bussiness Transaction(s) </span>
        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openMethodDialog()" icon="fa-plus"></button>
                        <button pButton type="button" title="Edit"(click)="editMethodTrans()" icon="fa-pencil" ></button>
                       <button pButton type="button"title="Delete" (click)="deleteMethodTrans()" icon="fa-trash"></button>
                    </span>
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column class="col-overflow" field="fqm" header="Fully Qualified Method Name" [sortable]="true">
        <template let-col let-application="rowData" type="body">
                   <span title="{{application[col.field]}}"><a [routerLink]="['/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
            </template>
    </p-column>
    <p-column class="col-overflow" field="returnType" header="Return Type" [sortable]="true">
        <template let-col let-application="rowData">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
    </p-column>
</p-dataTable>

<!--Dialog for adding Business Transaction Method-->
<p-dialog header="{{isNewMethod ? 'Add Bussiness Transaction Method' : 'Edit Bussiness Transaction Method'}}" *ngIf="addBusinessTransMethodDialog" [(visible)]="addBusinessTransMethodDialog" modal="modal" width="700" responsive="true">
    <form (ngSubmit)="saveADDEditMethodTrans()" #groupForm="ngForm" ngNativeValidate>

        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Fully Qualified Method Name</label>
                </div>
                <div class="ui-g-8">
                    <input name="fqm" type="text" size="65" pInputText [(ngModel)]="businessTransMethodDetail.fqm" autofocus required ngModel/>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <p-checkbox name="enableArgumentType" label="Enable Argument Type" [(ngModel)]="businessTransMethodDetail.enableArgumentType" binary="false"></p-checkbox>
                </div>
                <div class="ui-g-8">
                    <div class="ui-g-3">
                        Argument Index
                    </div>
                    <div class="ui-g-5" style="margin-top: -5px">
                        <input name="argumentIndex" [disabled]="!businessTransMethodDetail.enableArgumentType" type="text" size="12" pInputText [(ngModel)]="businessTransMethodDetail.argumentIndex" placeholder="Argument Index" autofocus required ngModel/>
                    </div>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-3">
                    Return Type
                </div>
                <div class="ui-g-3">
                    <p-dropdown name="returnType" [style]="{'min-width':'100%'}" [options]="returnTypeList" [(ngModel)]="businessTransMethodDetail.returnType" appendTo="body" placeholder="Return Type"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <p-dataTable [value]="methodRulesInfo" *ngIf="businessTransMethodDetail.returnType" [(selection)]="selectedMethodRules" [rows]="5" [paginator]="true" [pageLinks]="3">
                    <p-header>
                        <span>  Return Type Info </span>
                        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openAddRulesDialog()" icon="fa-plus"></button>
                       <button pButton type="button"title="Delete" (click)="deleteRules()" icon="fa-trash"></button>
                    </span>
                    </p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column class="col-overflow" field="value" header="Value" [sortable]="true">
                        <template let-col let-application="rowData">
                   <span title="{{application[col.field]}}"><a [routerLink]="['/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
            </template>
                    </p-column>
                    <p-column class="col-overflow" field="operationName" header="Operation" [sortable]="true">
                        <template let-col let-application="rowData">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="btName" header="BT Name" [sortable]="true">
                        <template let-col let-application="rowData">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!-- Add new Return type info -->

<p-dialog header="Add Return Type Info" *ngIf="addRulesDialog" [(visible)]="addRulesDialog" modal="modal" width="400" responsive="true">
    <form (ngSubmit)="saveRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Value</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="value" type="text" size="30" pInputText [(ngModel)]="btMethodRulesDetail.value" placeholder="Value" autofocus required ngModel/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Select Operation</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="operationName" [options]="operationList" [(ngModel)]="btMethodRulesDetail.operationName" appendTo="body" placeholder="Selecte Operation"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Bt Name</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="btName" type="text" size="30" pInputText [(ngModel)]="btMethodRulesDetail.btName" placeholder="Bt Name" required ngModel/>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="submit" pButton icon="fa-check" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>