<div class="accordian-css">
  <p-accordion class="ndagent">
    <p-accordionTab header="Add NDE Server">
      <p-dataTable class="nde-ui" [value]="ndeInfo" [(selection)]="selectedNDEData" [rows]="12" [paginator]="ndeInfo?.length > 12"
        [pageLinks]="3">

        <p-header>
          <span class="configui-float">
            <button pButton type="button" title="Add NDE" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-plus"></button>
            <button pButton type="button" title="Add NDE" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openNDEDialog()" icon="fa-plus"></button>
            <button pButton type="button" title="Edit an NDE" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-pencil"></button>
            <button pButton type="button" title="Edit an NDE" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openEditNDEDialog()"
              icon="fa-pencil"></button>
            <button pButton type="button" class="ui-button-danger" title="Delete NDE" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
              icon="fa-trash"></button>
            <button pButton type="button" class="ui-button-danger" title="Delete NDE" *ngIf="!isProfilePerm" [disabled]="saveDisable"
              (click)="deleteNDE()" icon="fa-trash"></button>
          </span>
        </p-header>
        <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
        <p-column class="tableCss" field="name" header="NDE Server" [sortable]="true" [style]="{'width':'20%'}">
          <template let-col let-nde="rowData" pTemplate>
            <span title="{{nde[col.field]}}">{{nde[col.field]}}</span>
          </template>
        </p-column>
        <p-column class="tableCss" field="ip" header="IP" [sortable]="true" [style]="{'width':'20%'}">
          <template let-col let-nde="rowData" pTemplate>
            <span title="{{nde[col.field]}}">{{nde[col.field]}}</span>
          </template>
        </p-column>
        <p-column class="tableCss" field="port" header="Port" [sortable]="true" [style]="{'width':'20%'}">
          <template let-col let-nde="rowData" pTemplate>
            <span title="{{nde[col.field]}}">{{nde[col.field]}}</span>
          </template>
        </p-column>
        <p-column class="tableCss" field="wsPort" header="WS Port" [sortable]="true" [style]="{'width':'20%'}">
          <template let-col let-nde="rowData" pTemplate>
            <span title="{{nde[col.field]}}">{{nde[col.field]}}</span>
          </template>
        </p-column>
        <p-column class="tableCss" field="wssPort" header="WSS Port" [sortable]="true" [style]="{'width':'20%'}">
          <template let-col let-nde="rowData" pTemplate>
            <span title="{{nde[col.field]}}">{{nde[col.field]}}</span>
          </template>
        </p-column>
      </p-dataTable>


    </p-accordionTab>
    <p-accordionTab header="NDE Routing Rules">
      <p-dataTable class="nde-ui" [value]="ndeRoutingRulesInfo" [(selection)]="selectedNDERoutingRules" [rows]="12" [paginator]="ndeData?.length > 12"
        [pageLinks]="3">

        <p-header>
          <span class="configui-float">
            <button pButton type="button" title="Add NDE Routing Rules" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-plus"></button>
            <button pButton type="button" title="Add NDE Routing Rules" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openNDERoutingRules()"
              icon="fa-plus"></button>
            <button pButton type="button" title="Edit an NDE Routing Rules" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-pencil"></button>
            <button pButton type="button" title="Edit an NDE Routing Rules" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openEditNDERoutingDialog()"
              icon="fa-pencil"></button>
            <button pButton type="button" class="ui-button-danger" title="Delete NDE Routing Rules" *ngIf="isProfilePerm" [disabled]="isProfilePerm"
              icon="fa-trash"></button>
            <button pButton type="button" class="ui-button-danger" title="Delete NDE Routing Rules" *ngIf="!isProfilePerm" [disabled]="saveDisable"
              (click)="deleteNDERoutingRules()" icon="fa-trash"></button>
            <!-- <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm"  label="Save"></button> -->
            <!-- <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="savendeOnFile()" label="Save"></button> -->
          </span>
        </p-header>
        <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
        <p-column class="tableCss" field="nde" header="NDE" [sortable]="true" [style]="{'width':'15%'}">
          <template let-col let-nde="rowData" pTemplate>
            <span title="{{nde[col.field]}}">{{nde[col.field]|ndeName}}</span>
          </template>
        </p-column>
        <p-column class="tableCss" field="tierGroup" header="Tier Group Definition" [sortable]="true" [style]="{'width':'50%'}">
          <template let-col let-nde="rowData" pTemplate>
            <span title="{{nde[col.field]}}">{{nde[col.field]}}</span>
          </template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
  </p-accordion>
</div>

<p-dialog class="profile-dialog" header="{{isNDE ? 'Add NDE Server' : 'Edit NDE Server'}}" *ngIf="addEditNDE" [(visible)]="addEditNDE"
  modal="modal" width="500" responsive="true" [resizable]="false">
  <form (ngSubmit)="saveEditNDE()" #groupForm="ngForm" ngNativeValidate>
    <div class="ui-g">
      <div class="ui-g-2">
        <label>Server Name</label>
      </div>
      <div class="ui-g-4">
        <input name="name" type="text" pInputText [(ngModel)]="ndeData.name" autofocus required ngModel />
      </div>
      <div class="ui-g-2"></div>
      <div class="ui-g-2">
        <p-checkbox name="isMaster" [(ngModel)]="isMasterChk" [disabled]="disableMaster" binary="true" ngModel label="Master"></p-checkbox>
      </div>
    </div>
    <div class="ui-g">
    </div>
    <div class="ui-g">
      <div class="ui-g-2">
        <label>IP</label>
      </div>
      <div class="ui-g-4">
        <input name="ip" type="text" pInputText [(ngModel)]="ndeData.ip" autofocus required ngModel />
      </div>
      <div class="ui-g-1"></div>
      <div class="ui-g-1">
        <label>Port</label>
      </div>
      <div class="ui-g-4">
        <input name="port" type="text" pInputText [(ngModel)]="ndeData.port" autofocus required ngModel />
      </div>

    </div>
    <div class="ui-g">
      <p-fieldset legend="Advanced Settings" [toggleable]="true" [collapsed]="true">
            <div class="ui-g-12">
        <div class="ui-g-2">
          <label>WS Port</label>
        </div>
        <div class="ui-g-3">
          <input name="wsPort" type="text" pInputText [(ngModel)]="ndeData.wsPort" ngModel />
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-2">
          <label>WSS Port</label>
        </div>
        <div class="ui-g-3">
          <input name="wssPort" type="text" pInputText [(ngModel)]="ndeData.wssPort" ngModel />
        </div>
        </div>
        
      </p-fieldset>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
        <button type="submit" pButton icon="fa-check" label="Save"></button>
        <button type="button" pButton icon="fa-close" (click)="addEditNDE=false" label="Cancel"></button>
      </div>
    </footer>
  </form>
</p-dialog>

<p-dialog class="profile-dialog" header="{{isNDERule ? 'Add NDE Routing Rule' : 'Edit NDE Routing Rule'}}" *ngIf="addEditNDERules"
  [(visible)]="addEditNDERules" modal="modal" width="400" responsive="true" [resizable]="false">
  <form (ngSubmit)="saveEditNDERoutingRules()" #groupForm="ngForm" ngNativeValidate>
    <div class="ui-g">
      <div class="ui-g-4">
        <label>NDE</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown class="nde-ui" name="nde" (click)="loadNDEList()" appendTo="body" placeholder="--Select--" [(ngModel)]="ndeRoutingRulesData.nde.name" [options]="ndeListItem" [style]="{'width':'60%'}"
          required ngModel></p-dropdown>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <label>Tier Group</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect name="tierGroup" class="multiselectdropReqResp headerhttpres nde-ui" appendTo="body" [options]="tierGrpList" [(ngModel)]="tierGroupList" [style]="{'min-width':'20%'}"></p-multiSelect>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
        <button type="submit" pButton icon="fa-check" label="Save"></button>
        <button type="button" pButton icon="fa-close" (click)="addEditNDERules=false" label="Cancel"></button>
      </div>
    </footer>
  </form>
</p-dialog>
