@charset "UTF-8";
.alert-nav-item {
    color: #fff;
}
.alert-nav-item:hover {
    background-color: #e0e0e0;
    color: #000;
}

app-alert-home .md-button-toggle-checked {
    color: #000;
}


/*History left panel accordion styling start*/

app-alert-home .ui-accordion .ui-accordion-header:hover {
    background: #00aacc;
}

app-alert-home .ui-accordion .ui-accordion-header.ui-state-active {
    font-size: 1em;
}

app-alert-home .ui-accordion .ui-accordion-header a {
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
}


/*History left panel accordion styling end*/

app-alert-home .ui-datatable thead tr {
    height: 30px;
    font-size: 12px;
}

app-alert-home .table-header-icon {
    margin: -7px -6px;
}




app-alert-home .ui-datatable th.ui-state-default {
    font-weight: 600;
}

.alert .ui-widget-header {
    background: #bbccff;
    border: 0px;
}

app-alert-home .ui-paginator .ui-paginator-page,
app-alert-home .ui-paginator .ui-paginator-pages,
app-alert-home .ui-paginator .ui-paginator-next,
app-alert-home .ui-paginator .ui-paginator-last,
app-alert-home .ui-paginator .ui-paginator-first,
app-alert-home .ui-paginator .ui-paginator-prev,
app-alert-home .ui-paginator .ui-paginator-current {
    margin-top: 0.3em !important;
}

app-alert-home .ui-tooltip {
    max-width: 30%;
}

app-alert-home .ui-tooltip-text.ui-shadow.ui-corner-all {
    white-space: pre-wrap;
}


/* History components styling */

app-alert-home .selectRule .ui-multiselect-label-container {
    width: 200px !important;
    height: 20px !important;
}

app-alert-home .select-topology .ui-multiselect-label-container {
    width: 150px !important;
}


/*History Table pane*/

app-alert-home .detailTable .ui-datatable-thead>tr>th {
    background: #082648 !important;
    color: #fff;
}


/*history preset dropdown */

app-alert-home .ui-dropdown-items-wrapper {
    max-height: 202px !important;
}

app-alert-home .history-calendar .ui-datepicker .ui-datepicker-calendar {
    font-size: 0.8em;
}

app-alert-home .ui-growl {
    position: absolute;
    width: initial;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*border-radius: 10px;*/
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #cfe1f1;
}

::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #b7b5b5), color-stop(0.72, #b3adad), color-stop(0.86, #a29b9b));
}


/*--------------New Style------------------*/

app-alert-home .mat-button-toggle-checked {
   /* padding: 11px;*/
}

app-alert-home .mat-button-toggle {
   
    padding: 10px;
}

app-alert-home .mat-button-toggle-checked {
    
    padding: 10px;
}

app-alert-home .mat-sidenav-container {
    background-color: rgba(255, 255, 255, 0) !important;
}

app-alert-home .mat-sidenav.mat-sidenav-opened,
app-alert-home .mat-sidenav.mat-sidenav-opening {
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
}

app-alert-home .ui-accordion .ui-accordion-content {
    padding: 10px 4px !important;
}

app-alert-home .ui-fieldset,
app-alert-home .ui-fieldset .ui-fieldset-legend {
    background: #f9f9f9 !important;
}

app-alert-home .margin-right-20 {
    color: #fff;
}

app-alert-home .md-button-toggle-checked .md-button-toggle-label-content {
    background-color: rgba(148, 197, 230, 0.91);
}

app-alert-home .ui-widget-header .ui-state-default,
app-alert-home .ui-widget-content .ui-state-default,
app-alert-home .ui-state-default {
    border: 1px solid #8e8e8e;
}

app-alert-home .alertSeverity .ui-widget-header .ui-state-default,
app-alert-home .alertSeverity .ui-widget-content .ui-state-default {
    border: 1px solid rgba(142, 142, 142, 0);
}

app-alert-home .ui-widget-header .ui-button,
app-alert-home .ui-widget-content .ui-button,
app-alert-home .ui-button {
    border: 1px solid #0b2138 !important;
    background: #0b2a3e;
}

app-alert-home .ui-button:hover, app-alert-home button.ui-button.ui-state-default:hover, app-alert-home .ui-button.ui-state-default:hover {
    color: #FFFFFF;
    background: #2399e5;
}


/*************hidtory table styles**************************/


app-alert-home .historyTable .ui-datatable thead tr
{
  height: 30px;
  font-size: 12px;
}



app-alert-home .detailTable .ui-datatable th span.ui-column-title {
    color: #fff
}

app-alert-home .detailTable .ui-datatable thead tr {
    height: 22px;
    font-size: 12px;
}

app-alert-home .detailTable .ui-datatable th.ui-state-default {
    font-weight: 100 !important;
}


/*************alert faunts icons defnitions**************/

.alertgui-word {
    color: #0055cc !important;
}

.alertgui-excel {
    color: #00aa77 !important;
}

.alertgui-pdf {
    color: #ff4040 !important;
}

.alertgui-type {
    color: #ff2020 !important;
}

.alertgui-capacity {
    color: #774bca !important;
}

.alertgui-behavior {
    color: #f3d809 !important;
}

.alertgui-critical-event {
    color: #B60308 !important;
}

.alertgui-major-event {
    color: #fe5400 !important;
}

.alertgui-minor-event {
    color: #ffbb00 !important;
}

.alertgui-tomcat {
    color: #ef1818 !important;
}

.normal {
    color: #00aacc !important;
}

.icon {
    height: 20px;
    margin: 0;
    overflow: hidden;
    float: left;
    font-size: 1.5em;
}

@font-face {
    font-family: "alert-icon";
    src: url("../fonts/alert-icon.eot");
    src: url("../fonts/alert-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/alert-icon.woff") format("woff"), url("../fonts/alert-icon.ttf") format("truetype"), url("../fonts/alert-icon.svg#alert-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "alert-icon" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="alertgui-"]:before,
[class*=" alertgui-"]:before {
    font-family: "alert-icon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.alertgui-all-alert:before {
    content: "\e001";
}

.alertgui-archive:before {
    content: "\e002";
}

.alertgui-severity:before {
    content: "\e003";
}

.alertgui-tomcat:before {
    content: "\e004";
}

.alertgui-type:before {
    content: "\e005";
}

.alertgui-word:before {
    content: "\e006";
}

.alertgui-play:before {
    content: "\e007";
}

.alertgui-behavior:before {
    content: "\e008";
}

.alertgui-capacity:before {
    content: "\e009";
}

.alertgui-excel:before {
    content: "\e00b";
}

.alertgui-graphical:before {
    content: "\e00c";
}

.alertgui-lateraltringle:before {
    content: "\e00d";
}

.alertgui-lock-tr:before {
    content: "\e00e";
}

.alertgui-major-event:before {
    content: "\e00f";
}

.alertgui-pdf:before {
    content: "\e012";
}

.alertgui-critical-event:before {
    content: "\e000";
}

.alertgui-minor-event:before {
    content: "\e00a";
}
