.ui-tooltip
{
    word-break:break-all;
    cursor:pointer;
    color:blue;
    max-width:1000px;
}

.Ddr-popup-footer .ui-dialog-footer{
    text-align: left;
}
.ddrbreadcrumb .ui-breadcrumb.ui-widget.ui-widget-header{
    border: 0;
    padding: 5px 0;
    border-radius: 0;
}
.showoffset {
    padding: 2px;
}
.headerInfo{
   font-size: 11px;
}
.reportInfo {
    text-align: center;
    border-bottom: 1px #bbbbbb solid;
    padding: 2px;
}
.ddr-toolbar .ui-toolbar.ui-widget.ui-widget-header{
         border-radius: 0;
         border:0           
}
.ddr-toolbar button.ui-button.ui-state-default {
    font-size: 10px;
}

.ddr-table-right{
    text-align: right;
    cursor: pointer;
}

.ddr-table-left{
    text-align: left;
    cursor: pointer;
}

