/*-----------------------------Fonts-------------------------------*/
@charset "UTF-8";

@font-face {
  font-family: "kpi-icon";
  src:url("../fonts/kpi-icon.eot");
  src:url("../fonts/kpi-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/kpi-icon.woff") format("woff"),
    url("../fonts/kpi-icon.ttf") format("truetype"),
    url("../fonts/kpi-icon.svg#kpi-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kpi-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="kpi-"]:before,
[class*=" kpi-"]:before {
  font-family: "kpi-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kpi-android:before {
  content: "\e000";
}
.kpi-cpu:before {
  content: "\e001";
}
.kpi-csc:before {
  content: "\e002";
}
.kpi-data-center:before {
  content: "\e003";
}
.kpi-db:before {
  content: "\e004";
}
.kpi-ed:before {
  content: "\e005";
}
.kpi-g-kpi:before {
  content: "\e006";
}
.kpi-g-kpi2:before {
  content: "\e007";
}

.kpi-inventory-grid:before {
  content: "\e008";
}
.kpi-iphone:before {
  content: "\e009";
}
.kpi-kiosk:before {
  content: "\e00a";
}
.kpi-kpi:before {
  content: "\e00b";
}
.kpi-mcom:before {
  content: "\e00c";
}
.kpi-offer-grid:before {
  content: "\e00d";
}
.kpi-pvs:before {
  content: "\e00e";
}
.kpi-response-time:before {
  content: "\e00f";
}
.kpi-tablet:before {
  content: "\e010";
}
.kpi-tier:before {
  content: "\e011";
}
.kpi-total-kohls:before {
  content: "\e012";
}
.kpi-total-mobile:before {
  content: "\e013";
}
.kpi-webstore:before {
  content: "\e014";
}
.kpi-store-map:before {
  content: "\e015";
}
.kpicon {
    height: 18px;
    margin: 0;
    padding-top: 2px;
    overflow: hidden;
    float: left;
    font-size: 1.5em;
}
.topicon{
    margin-top: 4px;
    
    overflow: hidden;
    float: left;
    font-size: 2.0em;
}
.storeicon {
    margin-top: 0px;
    font-size: 1.6em;
}
.edCross.top-panel-nav-cross-icon {
    left: 0 !important;
   float: right;
   top:10px !important;
}
.ed-table .ui-datatable .ui-datatable-thead > tr > th {
    padding: 0;
    line-height: 22px;
}
/*-----------------------------ED CSS------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
body {
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 11px;
}
.ed-table .ui-datatable .ui-datatable-thead>tr>th {
    font-size: 11px;
    font-weight: 500;
    padding-left: 4px;
    font-family: 'Roboto', sans-serif;
}
.edtable .ui-datatable th.ui-state-default {
    word-wrap: break-word;
}

.ed-toolbar .ui-toolbar.ui-widget.ui-widget-header{
        border: 0;
        padding: 6px 0 0; 
        border-radius: 0;
        height: 30px;
}
.ed-kpi {
    display: inline-block;
    margin: 4px 2px 2px;
    padding: 2px;
    height: 90vh;
    overflow-y: auto;
    border-radius: 4px;
  }
.timeLabel {
    margin-right: 5px;
    font-weight: 500;
    font-size: 11px;
}
.sampleTimeClass{
    font-weight:500;
}
.loadingClass{
    color: #000;
    z-index: 100;
}

.ed-table .ui-widget-header span.ui-rowgroup-header-name {
    font-weight: 500;
    text-transform: uppercase;              
}

.kpi_pvs_pky_data {
  word-wrap: break-word;
}

.graphtimeClass .ui-state-disabled, .ui-widget:disabled {
    opacity: 0.50;
}

.timePeriodDrpClass .ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover{
  background:#C1C1C1 !important;
}

.edSinglePanelPopup .ui-dialog.ui-widget .ui-dialog-content {
    padding: 0;
}
.graphicalHandle {
    position: absolute;
    top: 2%;
    left:1%;
    z-index: 1;
    font-size: 16px;
    cursor:pointer;
  }
.graphicalHandle:hover {
    font-size: xx-large;
}
.gKpiLoadingIcon {
   position:absolute;
   top:45%;
   left:48%;
   color: white;
}


/*------------------ ED Store----------------*/
.ed-box {
    margin: 6px 4px;
    min-height: 80vh;
    padding: 2px;
    border-radius: 4px;
}
.storePanel{
  height: 99vh;
  font-size: 11px;
  font-weight: 500;
}
.storePanel .ui-panel.ui-widget .ui-panel-titlebar.ui-corner-all {
    padding: 2px;
}
.labelClass{
    font-size: 11px;
    padding: 2px 10px 0 5px;
    font-weight: 500;
}
.storePanel .ui-panel .ui-panel-content {
  height: 88vh ;
  border-top: 0;
  overflow-y: auto;
}

.geoMapDivClass .ui-datatable th.ui-state-default {
    padding: 7px;
}

#appContainer {
    width: 20em;
    margin-top: 1%;
    margin-left: 25px;
    display: inline-block;
    border: 2px solid;
    padding: 1%;
    cursor: pointer;
    border-radius: 10px;
}
.datalabel{
  float:right;
  cursor:pointer;
}
.appLabel{
    position: absolute;
    font-size: 1.8em;
    margin-top: 4px;
    padding-left: 10px;
    width: 163px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.appHeader{
     
}
.app-label {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
}

.app-body {
    padding: 0 10px 0 10px;
}

.app-body,.app-data {
    margin-top: 7%;
}
/* .app-data {
    margin-top: 7%;
} */
.app-img{
    width:18%;
}

.legendClass {

}

.divClass {
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
    width: 100%;
}
.divMap {
    height: 100%;
    display: inline-block;
    width: 66%;
}

.divTable {
  display: inline-block;
  width: 33%;
  height: auto;
  position: absolute;
  max-height: 50%;
 /* overflow: auto;
  overflow-y: scroll;*/
}

.labelClass {
  bottom: 4px;
  position: relative;
}
.labelClass-titilebar {
    font-size: 11px;
    font-weight: 500;
    margin:0 4px 0 8px;
}

.store-table {
    padding-top: 5px;
}
.store-table th {
  padding: 6px;
}
.store-table td{
    text-align: left;
    padding: 4px;
    max-width: 355px;
    white-space: nowrap;
    overflow: hidden;
}
.store-table .iconClass {
    font-size: 14px;
    padding-right: 5px;
    cursor: pointer;
}
.store-map-setting{
  margin: 0 8px;
}
.storeloadingIcon{
  position:absolute;
   top:45%;
   left:48%;
   color: black;
}
.geoMapDivClass .ui-datatable .ui-datatable-data>tr>td {
    padding:6px;
}
