body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 11px;
}
.monitor-brdcmp {
padding: 0;
width:100%;
}
.monitor-brdcmp .ui-breadcrumb.ui-widget.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  border: 0;
  border-radius: 0;
  height: 28px;
  padding: 8px;
}
.monitor-fieldset {
margin: 10px 2px 15px;
margin-bottom: 1px;
}

.monitor-btn-right {
 float: right;
 /* margin-top: -1px; */
}
.monitor-header-text {
 font-size: 12px;
 font-weight: 500;
}
.monitor-ui-table .ui-datatable th.ui-state-default {
  padding: 4px;
  font-weight: 400;
}
.treeTableToolbar {
  float: right;
  padding: 2px 0 0 0;
}
.treeTableToolbar span {
  font-weight: 500;
}
.monitor-ui-accordion .ui-accordion .ui-accordion-content.ui-widget-content{
/* display: -webkit-box; */
/* overflow-y: auto;
max-height: 350px; */
margin-bottom: 4px;
display: inline-block;
width: 100%;

}

.monitor-ui-table .ui-datatable .ui-datatable-header{
text-align: left;
height: 30px;
margin-top: 20px; 
}

.confDataTableCss .ui-datatable .ui-datatable-header
{
  margin-top: 1px; 
}


.mon-ui .ui-treetable  .ui-treetable -tfoot>tr>td,
.mon-ui .ui-treetable  .ui-treetable  table-data>tr>td {
  height: 26px;
  text-overflow: ellipsis;
}

.mon-ui .ui-treetable  thead tr {
  height: 24px;
}

.mon-ui .ui-treetable th.ui-state-default 
{
padding: 12em 0 0 ;
}
.monitor-toolbar .ui-widget-header {
  border: 0;
  border-radius: 0;
  margin: -2px -6px;
  margin-bottom: 3px;
}

.mon-ui .ui-treetable table {
border-collapse: collapse;
}

.mon-ui .ui-treetable th span.ui-column-title {
transform: rotate(90deg);
transform-origin: left top 0;

}

.mon-ui .ui-treetable  th span.ui-column-title
{
 transform: rotate(-90deg); 
 display: block;
 text-align: left;
 /*padding: 12em 0 0;*/
 margin-left: 7px;
 margin-bottom: -14px;
}

.monitorHeader
{
width:176px;
transform: rotate(0deg);
}

.mon-ui .ui-treetable  th:first-child  span.ui-column-title  
{
  transform: rotate(0deg); 
  display: block;
  /* width: 176px !important; */
  text-align: center;
  padding-bottom: 18px;
  font-size: 13px;
}

/* for rotating the up-arrow icon in the tree table */
.fa-rotate-45 {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.mon-ui .ui-datatable .ui-datatable-thead>tr>th {
  font-weight: 600;
}

.mon-ui .ui-datatable .ui-datatable-tfoot>tr>td,
.mon-ui .ui-datatable .ui-datatable-data>tr>td {
  height: 26px;
  text-overflow: ellipsis;
}

.mon-ui .ui-datatable thead tr {
  height: 24px;
}

.homefieldSet
{
margin: 5px 0px; 
}

.homedropdown
{
padding: .25em 2em .25em .25em;
width: 224px;
}

/** Configuration home screen css **/
/* #top-div {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0 6px 2px #565656;
  border-radius: 4px;
  overflow-x: scroll;
  overflow-y: auto;
  max-height: 529px;
} */

.configure .ui-accordion .ui-accordion-header {
  padding: .1em .2em .1em 0.1em ;
}
/* .ui-accordion .ui-accordion-header a {
  font-size: 1em;
  font-weight: 500;
  display: block;
  padding: .5em .5em .5em 2em;
  color: #fff;
} */


/* .accordian-css .ui-state-default a:link {
  color: #fff;
} */

/* Css for the header of the configured-data datatable */
.configured-datatable .ui-datatable .ui-datatable-header{
text-align: left;
height: 30px;
}

/*Css for each render-comp span*/
span .spanClass {
padding-right: 50px;
line-height: 25px;
margin: 10px 0;
}

/*Css for each render-comp inner span*/
.innerSpanClass{
padding-right: 71px;
}

/* for setting height of dropdown in span for each rendered comp*/
.spanClass2 .ui-dropdown {
line-height: 15px;
margin-top: 8px;
margin-bottom: 8px;
}

/* for setting line height of spinner in span for each rendered comp */
.spanClass2 .ui-spinner {
line-height: 17px;

}

#testUpload span.ui-button.ui-fileupload-choose.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
{
  /* background: #073c77; */
  margin-bottom: -5px;
  height: 20px;
  width: 23px
}

.treeTableSpan{
  margin-left: -3px;
  margin-right: 2px;
}

.monitor-progressbar{
  height: 1px;
}

/*Css for main-box in each screen for side margin spacing */
.monitor-block{
  margin-left: -4px;
  width: 99.85%
}

/*Css for check Monitor*/
.checkMon{
  margin-top: 5px; 
  width:7.333%
}

/*Added css for hide/show monitor dialog box*/
.hideShowMon .ui-dialog .ui-dialog-content
{
  overflow: hidden
}

/*Css added for server signature textbox*/
.mon-ui-serverSignature
{
  margin-top:-20px;
  margin-left: 314px;
}

/*Css added for server signature label in span tag*/
.serverSignatureSpan
{
  margin-left: 51px;
}

/*Added css for monitor group screen for the select topology dropdown filter*/
.homedropdown .ui-dropdown-filter-container
{
  width: 100%;
}

/*Css added for configuration of the monitor*/
.monitor-ui-form
{ 
  width: 100%;
  /* overflow-y: auto;
  max-height: 350px;
  margin-bottom: 13px; */
}

/*css for the form submit button  of the configuration screen for each monitor */
/* .monitor-ui-submitForm
{
  margin-bottom: 32px;
} */

.healthChkMonCss .ui-fieldset.ui-widget.ui-widget-content.ui-corner-all.ui-fieldset-toggleable{
  margin-top: 10px;
  /* margin-bottom: 48px; */
  margin-bottom: 2px;
}

/*Css for health check mon header in the treetable*/
.healthChk-treeTable .ui-treetable .ui-treetable-header
{
  /* background: black;
  color: white; */
  text-align: left;
}

/*css for panel padding*/
.monitor-ui-tab .ui-tabview .ui-tabview-panel
{
  padding: 0em;
}

/*css for dialog padding*/
/*.monitor-dialog .ui-dialog-content.ui-widget-content 
{
  padding: 6px;
}
*/
/* .monitor-ui-tab  .ui-tabview-panel ui-widget-content
{
  border: 1px #c00 solid;
  padding: 0 4px;
} */

.healthChkLegend .ui-fieldset-legend
{
    font-weight: 500;
}

.labelCss
{
  margin-top: 2px;
}

.hlthChkSettingsTab
{
  height: 350px;
  /* border: 1px #bbbbbb solid; */
  /* border: 1px #4a4a4a solid */
  overflow-y: auto;
  overflow-x: hidden;
}

.healthCheckCss
{
  padding: 2px;
}

.hlthChckDependentField
{
  margin-left: 20px;
  margin-top: 5px
}

.healthChkField
{
  margin-left: 29px
}
a.tierGroupIcon 
{
    letter-spacing: 1px;
}
.chkMonCss{
  padding: 2px;
}

.monitor-ui-div
{
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 4px;
  overflow-x: hidden;
}
/*Css added for hidding the scroll in the x-axis for configured DataTable monitor -configurtion scrreen*/
.configured-datatable .ui-datatable.ui-widget.ui-datatable-resizable
{
  overflow-x: hidden;
  float: left;
}

/** Added css for toggle in health check monitor */
.monconfig-ui .mat-slide-toggle-bar {
  width: 25px;
  height: 10px;
}
.monconfig-ui .mat-slide-toggle-thumb {
  height: 15px;
  width: 14px;
}
.monconfig-ui.mat-slide-toggle {
  height: auto;
  padding: 2px 6px 4px;
}

/*Css for gdf detail datable in log pattern monitor*/
.tableCss .ui-datatable .ui-datatable-header
{
  margin-top: -5px; 
}

/*Css for Advance Tier Configuration*/
.advTierConfDiv{
  width:400px;
  height:400px;
  overflow-y:scroll;
  border:1px #ccc solid;
  border-right:0;
  padding:2px;
}

/*Css for mjson dynamic table*/
.dynamicTable{
  padding-left: 9px;
  padding-right: 9px;
}
