@charset "UTF-8";
@font-face {
    font-family: "netocean-gui-icon";
    src: url("../fonts/netocean-gui-icon.eot");
    src: url("../fonts/netocean-gui-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/netocean-gui-icon.woff") format("woff"), url("../fonts/netocean-gui-icon.ttf") format("truetype"), url("../fonts/netocean-gui-icon.svg#netocean-gui-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "netocean-gui-icon" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="no-icon-"]:before,
[class*=" no-icon-"]:before {
    font-family: "netocean-gui-icon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-icon-index-datasource:before {
    content: "\e000";
}

.no-icon-logging:before {
    content: "\e001";
}

.no-icon-performance:before {
    content: "\e002";
}

.no-icon-service-time:before {
    content: "\e003";
}

.no-icon-ssl-setting:before {
    content: "\e004";
}

.no-icon-url-setting:before {
    content: "\e005";
}

.no-icon-internet-simulation-setting:before {
    content: "\e006";
}

.no-icon-http-setting:before {
    content: "\e007";
}

.no-icon-git-setting:before {
    content: "\e008";
}

.mat-sidenav-transition .mat-sidenav {
    overflow: visible;
}

.profile-dialog .ui-dialog .ui-dialog-titlebar {
    margin: 0;
    padding: 5px;
    color: #fff;
    font-size: 11px;
}

.profile-dialog .ui-dialog .ui-dialog-titlebar-close {
    color: #fff;
}

.profile-dialog .ui-dialog .ui-dialog-titlebar {
    margin: 0;
    padding: 5px;
    font-size: 11px;
}

.profile-dialog .ui-dialog .ui-dialog-buttonpane {
    padding: 0px;
    border: 0;
}

.NOtable {
    padding-top: 4px;
}
.NO-header {
    padding: 10px 10px 0;
    height: 20px;
    font-weight: 500;
    font-size: 12px;
}
.NO-accordian .ui-accordion .ui-accordion-header {
    padding: 0px;
}
.NO-header.new {
    margin: 0 0 0 -10px;
}
.NO-fieldset legend.ui-fieldset-legend.ui-unselectable-text {
    padding: 4px 3px;
}
.NO-fieldset fieldset.ui-fieldset.ui-widget.ui-widget-content.ui-corner-all {
    margin: 4px;
}
.NO-modal .ui-dialog.ui-widget .ui-dialog-content {
    padding: 8px 10px;
}
.NO-modal .ui-panel-titlebar {
    padding: 5px;
    font-weight: 500;
}
.NO-modal .ui-panel .ui-panel-content {
    margin: 0 0 5px;
}
.NO-modal .labelformgroup{
    font-weight: 400;
}

/*changes for the code mirror*/

.requestTrace .CodeMirror {
    height: 250px;
    width: 650px;
}

.responseData .CodeMirror {
    height: 250px;
    width: 650px;
}

.addRequest .CodeMirror {
    height: 320px;
    width: 650px;
}

.addResponse  .CodeMirror {
    height: 320px;
    width: 650px;
}

.addRequestForTemplate .CodeMirror {
    height: 120px;
    width: 1270px;
}

.addResponseForTemplate  .CodeMirror {
    height: 120px;
    width: 1270px;
}

.testRequest.CodeMirror {
    height: 320px;
    width: 150px;
}

.testResponse .CodeMirror {
    height: 320px;
    width: 150px;
}

.addrequestRec .CodeMirror {
    height: 150px;
    width: 650px;
}

.addresprec  .CodeMirror {
    height: 150px;
    width: 650px;
}

 .CodeMirror-scroll {
    z-index: 0 !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-tab-body .mat-tab-body-active {
    overflow: hidden !important;
}

.showRequest .CodeMirror {
    height: 120px;
    width: 550px;
}

