.dashboardrpt-box {
    margin: 3px 6px;
    height: 89vh;
    padding: 2px 4px;
    box-shadow: 0 0 6px 2px #565656;
    border-radius: 4px;
    overflow-y: auto;
}
.dashboard-reports-tempate-left-content {
    font-size: 12px;
    cursor: pointer;
    padding: 8px 10px 12px;
}
.dashboard-reports-direct-link {
    text-align: center;
}
.dashboardreports .ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    border-radius: 4px;
    padding: 6px;
}
.dashboardreports {
    margin-bottom: 10px;
    margin-top: 10px;
}
.dashboardrpt-modal-header {
    text-align: right;
    padding: 6px;
}
.dashboard-setting-win-tabs .mat-tab-label {
    line-height: 30px;
    height: 30px;
    padding: 0 4px;
    font-size: 12px;
}