ul.cav-menu-ul {
    padding: 0;
    list-style-type: none;
    color: white;
}

.mat-button-focus-overlay {
    background: white;
}

button[md-icon-button] {
    width: 70px !important;
    height: 50px  !important;
    border-radius: 0%  !important;
    margin-bottom: 1px  !important;
    background: #000000;
}

.iconCss {
    color: white  !important;
    border-radius: 0%  !important;
    display: inline-block  !important;
    overflow: hidden  !important;
    padding: 10px 0 0  !important;
}
