<md-sidenav #menuNavSide mode="side" opened="true" class="app-sidenav" layout-padding id="sideNav">

    <!-- Drawing Navigation Menu Here. -->
    <ul class="cav-menu-ul ndegui_left">
        <li *ngFor="let ngMenu of navMenuArray">
            <a class="iconCss config-ui" routerLink="{{ngMenu.route}}" routerLinkActive="active" pTooltip="{{ngMenu.tooltip}}" tooltipPosition="right">
                <button md-icon-button>
                    <i style="font-size: 32px" class="{{ngMenu.icon}}"></i>
             </button>
            </a>
        </li>
    </ul>
</md-sidenav>