<div class="ui-g">
    <div class="ui-g-12">
        <p-checkbox name="captureHttpRequestHeader" label="Capture HTTP request headers" [(ngModel)]="data[0].enableHttpReq" binary="true"></p-checkbox>
    </div>
</div>

<div class="ui-g httpHeaderCss" *ngIf="data[0].enableHttpReq">
    <div class="ui-g-12" style="margin-left:13px">
        <div class="ui-g-1">
            <label>Header type</label></div>
        <div class="ui-g-2">
            <p-dropdown name="customValueType" [style]="{'width':'60%'}" [options]="reqHeaderTypes" [(ngModel)]="data[0].headerMode" required ngModel></p-dropdown>
        </div>
        <div class="ui-g-8" *ngIf="(data[0].headerMode == 'Specified')">
            <p-multiSelect [options]="specifiedReqHeaderType" [style]="{'min-width':'20%'}" [(ngModel)]="data[0].headersName"></p-multiSelect>
            <!--<p-dropdown name="customValueType" [disabled]="!(selectedHeader == 'Specified')" [style]="{'width':'80%'}" [options]="specifiedHeaderType" [(ngModel)]="selectedHeaderType"  required ngModel placeholder="Custom value Type"></p-dropdown>-->
        </div>
    </div>
    <div class="ui-g-12" style="margin-left:13px">
        <div class="ui-g-2" style="width: 14.38%">
            <p-checkbox name="httpCaptureMode" label="limit header values to" [(ngModel)]="data[0].captureMode" binary="true"></p-checkbox>
            <!--<p-dropdown name="customValueType" [style]="{'width':'80%'}" [options]="captureMode" [(ngModel)]="selectedCaptureMode"  required ngModel placeholder="Select Capture Mode"></p-dropdown>-->
        </div>
        <div class="ui-g-5">
            <input name="btName" style="text-align:right; width:15%" type="number" max="9999" [disabled]="!data[0].captureMode" pInputText [(ngModel)]="data[0].briefVal" autofocus required ngModel/>
            <label style="margin-right: 5px"> characters</label>
        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <p-checkbox name="captureHTTPRespFullFp" label="Capture HTTP response headers" [(ngModel)]="data[1].enableHttpResp" binary="true"></p-checkbox>
    </div>
</div>

<div class="ui-g httpHeaderCss" *ngIf="data[1].enableHttpResp">
    <div class="ui-g-12" style="margin-left:13px">
        <div class="ui-g-1">
            <label>Header type</label></div>
        <div class="ui-g-2">
            <p-dropdown name="headerMode" [style]="{'width':'60%'}" [options]="resHeaderTypes" [(ngModel)]="data[1].headerModeResp" required ngModel></p-dropdown>
        </div>
        <div class="ui-g-8" *ngIf="(data[1].headerModeResp == 'Specified')">
            <p-multiSelect [options]="specifiedResHeaderType" [style]="{'min-width':'20%'}" [(ngModel)]="data[1].headersNameResp"></p-multiSelect>
            <!--<p-dropdown name="customValueType" [disabled]="!(selectedHeader == 'Specified')" [style]="{'width':'80%'}" [options]="specifiedHeaderType" [(ngModel)]="selectedHeaderType"  required ngModel placeholder="Custom value Type"></p-dropdown>-->
        </div>
    </div>
    <div class="ui-g-12" style="margin-left:13px">
        <div class="ui-g-2" style="width: 14.38%">

            <p-checkbox name="httpCaptureMode" label="limit header values to" [(ngModel)]="data[1].captureModeResp" binary="true"></p-checkbox>
            <!--<p-dropdown name="customValueType" [style]="{'width':'80%'}" [options]="captureMode" [(ngModel)]="selectedCaptureMode"  required ngModel placeholder="Select Capture Mode"></p-dropdown>-->
        </div>
        <div class="ui-g-5">
            <input name="btName" type="number" style="text-align:right; width:15%" max="9999" [disabled]="!data[1].captureModeResp" pInputText [(ngModel)]="data[1].briefValResp" autofocus required ngModel/>
            <label style="margin-right: 5px"> characters</label>
        </div>
    </div>
</div>