<!-- table for APPLICATION Detail -->
<div class="ui-g custom-pad">
    <div class="ui-g-6">
        <md-card class="md-card-css">
            <md-card-subtitle class="md-card-subtitle-css">
                <div class="header-Name">APPLICATION</div>
                <div class="header-button">
                    <a [routerLink]="[ ROUTING_PATH + '/application-list']"><button pButton type="button" icon="fa-info" label="Configure" class="ui-button-info"></button></a>
                </div>
            </md-card-subtitle>
            <div class="table-css">
                <p-dataTable [value]="applicationInfo" [rows]="5">
                    <p-column rowStyleClass="col-overflow" field="name" header="Name">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}"><a class="hyperlink" (click)="routeToTreemain(application['dcId'], application['name'],'application')">{{application[col.field]}}</a></span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="topology" header="Topology Applied">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="timestamp" header="Last Updated On">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}" style="float:right">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </md-card>
    </div>

    <!-- table for PROFILE Detail -->
    <div class="ui-g-6">
        <md-card class="md-card-css">
            <md-card-subtitle class="md-card-subtitle-css">
                <div class="header-Name">PROFILE</div>
                <div class="header-button">
                    <a [routerLink]="[ ROUTING_PATH + '/profile/profile-list']"><button pButton type="button" icon="fa-info" label="Configure" class="ui-button-info "></button></a>
                </div>
            </md-card-subtitle>
            <div class="table-css">
                <p-dataTable [value]="profileInfo">
                    <p-column rowStyleClass="col-overflow" field="name" header="Name">
                        <template let-col let-profile="rowData" pTemplate>
                            <span title="{{profile[col.field]}}"><a class="hyperlink" (click)="routeToConfiguration(profile['id'], profile['name'])" >{{profile[col.field]}}</a></span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="description" header="Description">
                        <template let-col let-profile="rowData" pTemplate>
                            <span title="{{profile[col.field]}}">{{profile[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="timestamp" header="Last Updated On">
                        <template let-col let-profile="rowData" pTemplate>
                            <span title="{{profile[col.field]}}" style="float:right">{{profile[col.field]}}</span>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </md-card>
    </div>
</div>

<!-- table for TOPOLOGY INFO -->
<div class="ui-g custom-pad">
    <div class="ui-g-5">
        <md-card class="md-card-css">
            <md-card-subtitle class="md-card-subtitle-css">
                <div class="header-Name">TOPOLOGY INFO</div>
                <div class="header-button">
                    <a (click)="importTopologyDialog()"> <button pButton type="button" label="Import Topologies" class="button-color" icon="fa-download"></button></a>
                    <a [routerLink]="[ ROUTING_PATH + '/topology-list']"><button pButton type="button" label="Show All" icon="fa-info" class="ui-button-info"></button></a>
                </div>
            </md-card-subtitle>
            <div class="table-css">
                <p-dataTable [value]="topologyInfo">
                    <p-column rowStyleClass="col-overflow" field="name" header="Name">
                        <template let-col let-application="rowData" pTemplate>
                            <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                            <span title="{{application[col.field]}}"><a class="hyperlink" (click)="routeToTreemain(application['id'], application['name'],'topology')">{{application[col.field]}}</a></span>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </md-card>
    </div>
    <!--<div class="ui-g-7">
        <md-card class="md-card-css">
            <md-card-subtitle class="md-card-subtitle-css">
                <div class="header-Name">ND AGENT STATUS</div>
                <div class="header-button">
                    <a [routerLink]="[ ROUTING_PATH + '/nd-agent']"><button pButton type="button" icon="fa-info" label="Show All" class="ui-button-info"></button></a>
                </div>
            </md-card-subtitle>

            <div class="table-css">
                <p-dataTable [value]="agentsInfo">
                    <p-column rowStyleClass="col-overflow" field="tier" header="Tier">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="server" header="Server">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="instance" header="Instance">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="installDir" header="Installation Dir">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="version" header="Version">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="bciRunningSince" header="Running Since">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}" style="float:right">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                    <p-column rowStyleClass="col-overflow" field="state" header="State">
                        <template let-col let-application="rowData" pTemplate>
                            <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                        </template>
                    </p-column>
                </p-dataTable>

            </div>
        </md-card>
    </div>-->
</div>
<!--Adding dialog for import topologies-->
<p-dialog header="Import Topologies" *ngIf="importTopo" [(visible)]="importTopo" modal="modal" width="500" responsive="true">
    This feature is used to sync the topology settings of GUI with the file system.
    <footer>
        <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
            <a (click)="importTopology()"> <button pButton type="button" label="Import" align="right" icon="fa-download"></button></a>
            <button type="button" pButton icon="fa-close" (click)="importTopo=false" label="Cancel"></button>
        </div>
    </footer>
</p-dialog>