<p-dataTable class="nde-ui" [value]="enableSourceCodeFiltersTableData" [(selection)]="selectedExceptionFilterData" [rows]="10" [paginator]="enableSourceCodeFiltersTableData?.length > 10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100,200,400]" scrollable="true"
    scrollHeight="300px" resizableColumns="true">
    <p-header>
        <span style="float: left">
       		<p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="isProfilePerm" [disabled]="isProfilePerm"></p-checkbox>
		<p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" binary="true" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="saveKeywordData()"></p-checkbox></span>
        <span style="float: left"> Apply Exception Filter </span>

        <span style="float :right; margin-top:-3px">
                 <button pButton type="button" title="Browse" *ngIf="isProfilePerm"  [disabled]="isProfilePerm"  (click)="openFileManager()" icon="fa-folder-open"></button>
                 <button pButton type="button" title="Browse" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openFileManager()" icon="fa-folder-open"></button>
                 <button pButton type="button" title="Add exception filter" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="openAddExceptionFilterDialog()" icon="fa-plus"></button>
                 <button pButton type="button" title="Add exception filter"  *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openAddExceptionFilterDialog()" icon="fa-plus"></button>
                 <button pButton type="button" title="Edit exception filter"  *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="openEditExceptionFilterrDialog()" icon="fa-pencil"></button>
                 <button pButton type="button" title="Edit exception filter" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openEditExceptionFilterrDialog()" icon="fa-pencil"></button>
                 <button pButton class="ui-button-danger" type="button" title="Delete exception filter(s)" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="deleteExceptionFilter()" icon="fa-trash"></button>
                 <button pButton class="ui-button-danger" type="button" title="Delete exception filter(s)" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteExceptionFilter()" icon="fa-trash"></button>
        </span>
    </p-header>
    <p-column [style]="{'width':'3%'}" selectionMode="multiple"></p-column>
    <p-column class="tableCss" field="advanceExceptionFilterPattern" header="Pattern" [sortable]="true">
        <template let-col let-ExceptionFilter="rowData" pTemplate>
            <span title="{{ExceptionFilter[col.field]}}">{{ExceptionFilter[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="advanceExceptionFilterMode" header="Mode" [sortable]="true">
        <template let-col let-ExceptionFilter="rowData" pTemplate>
            <span title="{{ExceptionFilter[col.field]}}">{{ExceptionFilter[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="advanceExceptionFilterOperation" header="Operation" [sortable]="true">
        <template let-col let-ExceptionFilter="rowData" pTemplate>
            <span title="{{ExceptionFilter[col.field]}}">{{ExceptionFilter[col.field]}}</span>
        </template>
    </p-column>

</p-dataTable>

<!--Dialog for exception filter-->

<p-dialog class="profile-dialog" header="{{isNewExceptionFilter ? 'Add Exception Filter' : 'Edit Exception Filter'}}" *ngIf="addEditExceptionFilterDialog" [(visible)]="addEditExceptionFilterDialog" modal="modal" width="500" responsive="true" [resizable]="false">
    <form (ngSubmit)="saveExceptionFilter()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Pattern</label>
            </div>
            <div class="ui-g-9">
                <input name="advanceExceptionFilterPattern" type="text" size="40" pInputText [(ngModel)]="enableSourceCodeFilters.advanceExceptionFilterPattern" title="Please enter valid exception filter pattern. &#013;Rule 1: Exception filter pattern can include package,class separated by dot(.) . &#013;Rule 2: Exception filter pattern cannot include special character and whitespaces."
                    pattern="[a-zA-Z]+[-._@$a-zA-Z0-9\/]*" (keydown.space)="$event.preventDefault()" autofocus required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Operation</label>
            </div>
            <div class="ui-g-4">
                <input name="dropdown1" type="text" size="14" class='hidden-validator config_exception_filter_operation_align configinput' pInputText [(ngModel)]="enableSourceCodeFilters.advanceExceptionFilterOperation" required ngModel/>
                <p-dropdown name="advanceExceptionFilterOperation" [style]="{'width':'110px'}" placeholder="--Choose--" [options]="exceptionFilter" [(ngModel)]="enableSourceCodeFilters.advanceExceptionFilterOperation" appendTo="body" required ngModel></p-dropdown>
            </div>
            <div class="ui-g-2">
                <p-checkbox name="advanceExceptionFilterMode" label="Mode" [(ngModel)]="exceptionfiltermode" binary="true"></p-checkbox>
            </div>
            <div class="ui-g-3">
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditExceptionFilterDialog=false" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>
<!--Dialog to open file explorer dialog -->
<p-dialog class="profile-dialog browseTopCss" [resizable]="false" header="File Manager" *ngIf="openFileExplorerDialog" [(visible)]="openFileExplorerDialog" modal="modal" width="650" responsive="true">

    <!-- This will look for this component in the ProductUI at this path -
         ..\ProductUI\gui\src\app\modules\file-explorer\components\config-nd-file-explorer\-->

    <!-- <app-config-nd-file-explorer></app-config-nd-file-explorer> -->
</p-dialog>