<form *ngIf="flowPath" (ngSubmit)="saveKeywordData()" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Flowpath settings

            <div class="pull-right">
                <button type="button" pButton icon="fa-refresh" (click)="resetKeywordData()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="saveDisable || !enableGroupKeyword" label="Save"></button>

            </div>
        </div>
        <p-panel class="hideheader">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-g">

                    <div class="ui-g-12">
                        <!--<div class = "ui-g-6">-->
                        <div class="ui-g-1"> </div>
                        <div class="ui-g-3">
                            <label>Flowpath instrumentation percentage</label>
                        </div>
                        <div class="ui-g-2">
                            <input type="number" name="bciInstrSessionPct" pInputText min={{flowPath.bciInstrSessionPct.min}} max={{flowPath.bciInstrSessionPct.max}} [(ngModel)]="flowPath.bciInstrSessionPct.value" required />
                            <p-slider name="bciInstrSessionPctSlider" [(ngModel)]="flowPath.bciInstrSessionPct.value"></p-slider>
                        </div>
                    </div>

                    <!--<div class="ui-g-12">
                        <div class="ui-g-1"> </div>
                        <div class="ui-g-3">
                            <label>Force detection of end to end transaction flow</label>
                        </div>


                        <div class="ui-g-1">
                            <p-radioButton name="enableForcedFPChain" value="0" label="Disable" [(ngModel)]="fpChain"></p-radioButton>
                        </div>
                        <div class="ui-g-2">
                            <p-radioButton name="enableForcedFPChain" value="1" label="Enable" [(ngModel)]="fpChain"></p-radioButton>
                        </div>
                        <div class="ui-g-3">
                            <p-radioButton name="enableForcedFPChain" value="2" label="Enable all with complete FP" [(ngModel)]="fpChain"></p-radioButton>
                        </div>
                    </div>-->
                    <div class="ui-g-12">
                        <div class="ui-g-1"> </div>
                        <div class="ui-g-3">
                            <label>CPU time capturing</label>
                        </div>
                        <div class="ui-g-1">
                            <p-radioButton name="enableCpuTime" value="0" label="Disable" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                        <div class="ui-g-3 radioButtoncss">
                            <p-radioButton name="enableCpuTime" value="1" label="Enable at flowpath/ Business transaction level" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                        <div class="ui-g-3" style="margin-left:20px">
                            <p-radioButton name="enableCpuTime" value="2" label="Enable at method and flowpath level" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                        <!--<p-dropdown name="enableForcedFPChain" [style]="{'width': '100%'}" scrollHeight="150px" [(ngModel)]="flowPath.enableForcedFPChain.value" [options]="enableForcedFPChainSelectItem"  required ngModel></p-dropdown>-->
                        <!--<div class="ui-g-2">
                            <p-dropdown name="enableCpuTime" [style]="{'width': '100%'}" scrollHeight="150px" [(ngModel)]="flowPath.enableCpuTime.value"
                                [options]="enableCpuTimeSelectItem"  required ngModel></p-dropdown>
                        </div>-->
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <!--<div class="ui-g-3">
                            <p-checkbox name="enableCaptureHeader" label="Enable correlation ID using HTTP header" [(ngModel)]="enableCaptureHeader" binary="true"></p-checkbox>
                        </div>-->
                        <div class="ui-g-3">
                            <label>Correlation ID using HTTP header</label>
                        </div>
                        <div class="ui-g-2">
                            <input name="correlationIDHeader" title="When this is enabled NDE allows to search for flowpaths based on this header" type="text" size="30" pInputText [(ngModel)]="correlationIDHeader" min={{correlationIDHeader.min}} max={{correlationIDHeader.max}} title="Please enter valid correlation ID header.   &#013;Please enter maximum upto 50 characters.  &#013;Whitespaces are not allowed."
                                pattern="[^\s]{0,49}$" ngModel/>
                            <span></span>
                        </div>

                    </div>
                    <!--<div class="ui-g-12" style="padding-left: 20px">
                            <div class="ui-g-1"></div>
                            <div class="ui-g-3" style="margin-left: 16px">
                                <label>Capture HTTP Header for Correlation ID</label>
                            </div>
                            <div class="ui-g-2">
                                <input disabled="{{!flowPath.correlationIDHeader}}" name="correlationIDHeader" type="number" size="30" pInputText [(ngModel)]="flowPath.correlationIDHeader.value" min={{flowPath.correlationIDHeader.min}} max={{flowPath.correlationIDHeader.max}} required
                                    ngModel/>
                            </div>
                        </div>-->

                    <!--<div class="ui-g-12">
                        <div class="ui-g-1"> </div>
                        <div class="ui-g-3">
                            <label>Capture HTTP Header for Correlation ID</label>
                        </div>

                        <div class="ui-g-3">
                            <input name="correlationIDHeader" type="number" size="30" [(ngModel)]="flowPath.correlationIDHeader.value" min={{flowPath.correlationIDHeader.min}}
                                max={{flowPath.correlationIDHeader.max}} required ngModel/>
                        </div>
                    </div>-->
                </div>
            </div>
        </p-panel>

    </div>
</form>