<form *ngIf="flowPath" (ngSubmit)="saveKeywordData()" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Settings
            <div class="pull-right">
                    <i class="fa fa-question-circle" title="Help" (click)="sendHelpNotification()"></i>
                <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Reset to Default"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordsDataToDefault()" label="Reset to Default"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordData()" label="Reset"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="resetKeywordData()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Save"></button>
                <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable" label="Save"></button>
            </div>
        </div>
        <p-panel class="hideheader">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid configui-hideheader" *ngIf="agentType == 'Java' || agentType == '-'">
                <div class="ui-g">

                    <div class="ui-g-12">
                        <!--<div class = "ui-g-6">-->
                        <!-- <div class="ui-g-1"> </div> -->
                        <div class="ui-g-3">
                            <label>Flowpath Instrumentation (%)</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Percentage of Flowpath(s) to be captured for all Business Transaction monitored by Application agent.Slow,very Slow, and Error Flowpath is always captured."></i>
                        </div>
                        <div class="ui-g-2">
                            <input type="number" name="bciInstrSessionPct" step=0.01 pInputText min={{flowPath.bciInstrSessionPct.min}} max={{flowPath.bciInstrSessionPct.max}} [(ngModel)]="flowPath.bciInstrSessionPct.value" style="width:80%" required />
                        </div>
                    </div>

                    <!--<div class="ui-g-12">
                        <div class="ui-g-1"> </div>
                        <div class="ui-g-3">
                            <label>Force detection of end to end transaction flow</label>
                        </div>


                        <div class="ui-g-1">
                            <p-radioButton name="enableForcedFPChain" value="0" label="Disable" [(ngModel)]="fpChain"></p-radioButton>
                        </div>
                        <div class="ui-g-2">
                            <p-radioButton name="enableForcedFPChain" value="1" label="Enable" [(ngModel)]="fpChain"></p-radioButton>
                        </div>
                        <div class="ui-g-3">
                            <p-radioButton name="enableForcedFPChain" value="2" label="Enable all with complete FP" [(ngModel)]="fpChain"></p-radioButton>
                        </div>
                    </div>-->


                    <div class="ui-g-12">
                        <!-- <div class="ui-g-1"></div> -->
                        <!--<div class="ui-g-3">
                            <p-checkbox name="enableCaptureHeader" label="Enable HTTP Header Name for CorrelationID" [(ngModel)]="enableCaptureHeader" binary="true"></p-checkbox>
                        </div>-->
                        <div class="ui-g-3">
                            <label>HTTP Header Name for CorrelationID</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="HTTP Header name used by Application to pass CorrelationID."></i>
                        </div>
                        <div class="ui-g-2">
                            <input name="correlationIDHeader" title="When this is enabled NDE allows to search for flowpaths based on this header" type="text" size="30" pInputText [(ngModel)]="correlationIDHeader" min={{correlationIDHeader.min}} max={{correlationIDHeader.max}} title="Please enter valid correlation ID header.   &#013;Please enter maximum upto 1024 characters.  &#013;Whitespaces are not allowed."
                                pattern="[^\s]{0,1024}$" style="width:80%" ngModel/>
                            <span></span>
                        </div>

                    </div>
                    <div class="ui-g-12">
                        <!-- <div class="ui-g-1"></div> -->
                        <div class="ui-g-6" style="padding-left:6px">
                            <!-- <input name="captureMethodForAllFP" type="number" pInputText min={{flowPath.captureMethodForAllFP.min}} max={{flowPath.captureMethodForAllFP.max}}
                [(ngModel)]="flowPath.captureMethodForAllFP.value" style="width:80%" />
              <span></span> -->
                            <p-checkbox name="captureMethodForAllFP" [(ngModel)]="captureMethodForAllFPChk" binary="true" ngModel label="Capture callstacks of all offending business transaction(s)"></p-checkbox>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Capture all instrumented methods of slow/very slow/error flowpath"></i>
                        </div>

                    </div>
                    <div class="ui-g-12">
                        <!-- <div class="ui-g-1"> </div> -->
                        <div class="ui-g-3">
                            <label>CPU Profiling</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Capture CPU Time consumed by Business transactions"></i>
                        </div>
                        <div class="ui-g-1">
                            <p-radioButton name="enableCpuTime" value="0" label="Disable" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                        <div class="ui-g-3 radioButtoncss">
                            <p-radioButton name="enableCpuTime" value="1" label="Business Transaction Level" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                        <div class="ui-g-3 configui-flowpath-css">
                            <p-radioButton name="enableCpuTime" value="3" label="Method and Business Transaction Level" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                        <div class="ui-g-2 configui-flowpath-css">
                            <p-checkbox name="childCpuFp" label="Include child flowpath" [disabled]="cpuTime == 0" [(ngModel)]="childCpuFp" binary="true"></p-checkbox>
                        </div>
                        <!--<p-dropdown name="enableForcedFPChain" [style]="{'width': '100%'}" scrollHeight="150px" [(ngModel)]="flowPath.enableForcedFPChain.value" [options]="enableForcedFPChainSelectItem"  required ngModel></p-dropdown>-->
                        <!--<div class="ui-g-2">
                            <p-dropdown name="enableCpuTime" [style]="{'width': '100%'}" scrollHeight="150px" [(ngModel)]="flowPath.enableCpuTime.value"
                                [options]="enableCpuTimeSelectItem"  required ngModel></p-dropdown>
                        </div>-->
                    </div>
                    <div class="ui-g-12">
                        <!-- <div class="ui-g-1"> </div> -->
                        <div class="ui-g-3">
                            <label>Capture Time Breakdown</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Capture wait and sync time"></i>
                        </div>
                        <div class="ui-g-1">
                            <p-radioButton name="enableMethodBreakDownTime" value="0" label="Disable" [(ngModel)]="methodBreakDownTime"></p-radioButton>
                        </div>
                        <div class="ui-g-3 radioButtoncss">
                            <p-radioButton name="enableMethodBreakDownTime" value="1" label="Business Transaction Level" [(ngModel)]="methodBreakDownTime"></p-radioButton>
                        </div>
                        <div class="ui-g-3 configui-flowpath-css">
                            <p-radioButton name="enableMethodBreakDownTime" value="3" label="Method and Business Transaction Level" [(ngModel)]="methodBreakDownTime"></p-radioButton>
                        </div>
                        <div class="ui-g-2 configui-flowpath-css">
                            <p-checkbox name="childBrkDown" label="Include child flowpath" [disabled]="methodBreakDownTime == 0" [(ngModel)]="childBrkDown" binary="true"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-2">
                            <p-checkbox name="dumpOnlyMethodExitInFp" label="Optimize Flowpath data size" [(ngModel)]="dumpOnlyMethodExitInFP" binary="true"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-2" style="padding-left: 10px">
                            <p-checkbox name="methodResponseTimeFilter" [disabled]="dumpOnlyMethodExitInFP == false" label="Method Response time filter" [(ngModel)]="enableDisableMethodResTimeFilter" binary="true"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-2" style="padding-left: 10px">
                            <label>Normal Method Response Time</label>
                        </div>
                        <div class="ui-g-1">
                            <input name="normalMethodResponseTime" type="number" #from (input)="checkFrom(from,to)" [disabled]="dumpOnlyMethodExitInFP == false" [(ngModel)]="normalMethodResponseTime" min={{flowPath.methodResponseTimeFilter.min}} max={{flowPath.methodResponseTimeFilter.max}}
                                pInputText required ngModel>
                        </div>
                        <div class="ui-g-2">
                            <label>Slow Very Slow Method Response Time</label>
                        </div>
                        <div class="ui-g-1">
                            <input name="slowVerySlowMethodResponseTime" type="number" #to (input)="checkTo(from,to)" [disabled]="dumpOnlyMethodExitInFP == false" [(ngModel)]="slowVerySlowMethodResponseTime" min={{flowPath.methodResponseTimeFilter.min}} max={{flowPath.methodResponseTimeFilter.max}}
                                pInputText required ngModel>
                        </div>
                    </div>
                    <!-- <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-3">
                            <label>Set maximum cached queries to</label>
                        </div>
                        <div class="ui-g-2">
                             <input type="number" name="maxQueryDetailsmapSize" [(ngModel)]="flowPath.maxQueryDetailsmapSize.value" min={{flowPath.maxQueryDetailsmapSize.min}} max={{flowPath.maxQueryDetailsmapSize.max}} required ngModel>
                            <span></span>
                        </div>

                    </div> -->
                    <!--<div class="ui-g-12" style="padding-left: 20px">
                            <div class="ui-g-1"></div>
                            <div class="ui-g-3" style="margin-left: 16px">
                                <label>Capture HTTP Header for Correlation ID</label>
                            </div>
                            <div class="ui-g-2">
                                <input disabled="{{!flowPath.correlationIDHeader}}" name="correlationIDHeader" type="number" size="30" pInputText [(ngModel)]="flowPath.correlationIDHeader.value" min={{flowPath.correlationIDHeader.min}} max={{flowPath.correlationIDHeader.max}} required
                                    ngModel/>
                            </div>
                        </div>-->

                    <!--<div class="ui-g-12">
                        <div class="ui-g-1"> </div>
                        <div class="ui-g-3">
                            <label>Capture HTTP Header for Correlation ID</label>
                        </div>

                        <div class="ui-g-3">
                            <input name="correlationIDHeader" type="number" size="30" [(ngModel)]="flowPath.correlationIDHeader.value" min={{flowPath.correlationIDHeader.min}}
                                max={{flowPath.correlationIDHeader.max}} required ngModel/>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid configui-hideheader" *ngIf="agentType == 'NodeJS'">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <!--<div class = "ui-g-6">-->
                        <!-- <div class="ui-g-1"> </div> -->
                        <div class="ui-g-3">
                            <label>Flowpath Instrumentation (%)</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Percentage of Flowpath(s) to be captured for all Business Transaction monitored by Application agent.Slow,very Slow, and Error Flowpath is always captured."></i>
                        </div>
                        <div class="ui-g-2">
                            <input type="number" name="bciInstrSessionPct" step=0.01 pInputText min={{flowPath.bciInstrSessionPct.min}} max={{flowPath.bciInstrSessionPct.max}} [(ngModel)]="flowPath.bciInstrSessionPct.value" style="width:80%" required />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <!-- <div class="ui-g-1"></div> -->
                        <div class="ui-g-3">
                            <label>HTTP Header Name for CorrelationID</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="HTTP Header name used by Application to pass CorrelationID."></i>
                        </div>
                        <div class="ui-g-2">
                            <input name="correlationIDHeader" title="When this is enabled NDE allows to search for flowpaths based on this header" type="text" size="30" pInputText [(ngModel)]="correlationIDHeader" min={{correlationIDHeader.min}} max={{correlationIDHeader.max}} title="Please enter valid correlation ID header.   &#013;Please enter maximum upto 50 characters.  &#013;Whitespaces are not allowed."
                                pattern="[^\s]{0,49}$" style="width:80%" ngModel/>
                            <span></span>
                        </div>
                        <div class="ui-g-12" style="margin-left: -3px">
                            <!-- <div class="ui-g-1"></div> -->
                            <div class="ui-g-5">
                                <p-checkbox name="excludeMethodOnRespTime" [(ngModel)]="excludeMethodOnRespTimeChk" binary="true" ngModel label="Enable excluding of methods which are taking more time then keyword value"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid configui-hideheader" *ngIf="agentType == 'Dot Net'">
                <div class="ui-g">

                    <div class="ui-g-12">
                        <!--<div class = "ui-g-6">-->
                        <!-- <div class="ui-g-1"> </div> -->
                        <div class="ui-g-3">
                            <label>Flowpath Instrumentation (%)</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Percentage of Flowpath(s) to be captured for all Business Transaction monitored by Application agent.Slow,very Slow, and Error Flowpath is always captured."></i>
                        </div>
                        <div class="ui-g-2">
                            <input type="number" name="bciInstrSessionPct" step=0.01 pInputText min={{flowPath.bciInstrSessionPct.min}} max={{flowPath.bciInstrSessionPct.max}} [(ngModel)]="flowPath.bciInstrSessionPct.value" required />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-3">
                            <label>HTTP Header Name for CorrelationID</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="HTTP Header name used by Application to pass CorrelationID."></i>
                        </div>
                        <div class="ui-g-2">
                            <input name="correlationIDHeader" title="When this is enabled NDE allows to search for flowpaths based on this header" type="text" size="30" pInputText [(ngModel)]="correlationIDHeader" min={{correlationIDHeader.min}} max={{correlationIDHeader.max}} title="Please enter valid correlation ID header.   &#013;Please enter maximum upto 1024 characters.  &#013;Whitespaces are not allowed."
                                pattern="[^\s]{0,1024}$" style="width:80%" ngModel/>
                            <span></span>
                        </div>

                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-6" style="padding-left:6px">
                            <p-checkbox name="captureMethodForAllFP" [(ngModel)]="captureMethodForAllFPChk" binary="true" ngModel label="Capture callstacks of all offending business transaction(s)"></p-checkbox>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Capture all instrumented methods of slow/very slow/error flowpath"></i>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <!-- <div class="ui-g-1"> </div> -->
                        <div class="ui-g-3">
                            <label>CPU Profiling</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Capture CPU Time consumed by Business transactions"></i>
                        </div>
                        <div class="ui-g-1">
                            <p-radioButton name="enableCpuTime" value="0" label="Disable" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                        <div class="ui-g-3 radioButtoncss">
                            <p-radioButton name="enableCpuTime" value="1" label="Business Transaction Level" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                        <div class="ui-g-3 configui-flowpath-css">
                            <p-radioButton name="enableCpuTime" value="3" label="Method and Business Transaction Level" [(ngModel)]="cpuTime"></p-radioButton>
                        </div>
                    </div>

                </div>
            </div>
        </p-panel>

    </div>
</form>