<div class='tabs-all'>
    <p-tabView (onChange)="handleChange($event)">
        <p-tabPanel header="NV-ND sessions" [selected]="index == 0">
            <app-nvcookie *ngIf="index == 0" [saveDisable]="saveDisable" (keywordData)="saveKeywordData($event)"></app-nvcookie>
        </p-tabPanel>
    </p-tabView>
</div>

<p-dialog class="profile-dialog config-dialog-error" header="Runtime changes partially applied on instances" *ngIf="errDialog" [(visible)]="errDialog" modal="modal"
  width="500" responsive="true">
   <ul>
     <li *ngFor="let err of msg">
        <span>{{err}}</span>
     </li>
 </ul>
  <footer>
    <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
      <button type="button" pButton (click)="errDialog=false" icon="fa-check" label="Ok"></button>
    </div>
  </footer>
</p-dialog>