<div class='tabs-all'>
    <p-tabView (onChange)="handleChange($event)">
        <p-tabPanel header="NV-ND sessions" [selected]="index == 0">
            <app-nvcookie *ngIf="index == 0" [saveDisable]="saveDisable" (keywordData)="saveKeywordData($event)"></app-nvcookie>
        </p-tabPanel>
        <p-tabPanel *ngIf="agentType == 'Java'" header="NV-ND Auto Inject" [selected]="index == 1">
          <app-nv-auto-inject *ngIf="index == 1" [saveDisable]="saveDisable" (keywordData)="saveKeywordData($event)" [profileId]=profileId></app-nv-auto-inject>
      </p-tabPanel>
    </p-tabView>
</div>

<p-dialog class="profile-dialog" header="Runtime changes partially applied on instances" *ngIf="errDialog" [(visible)]="errDialog" modal="modal"
width="500" responsive="true">
<div style="max-height: 500px; overflow-y: auto;">
  Runtime changes successfully applied on: 
  <ul>
   <li *ngFor="let err of msg">
      <span>{{err}}</span>
   </li>
  </ul>
  Error while applying Runtime changes on:
  <ul>
    <li *ngFor="let e of errMsg">
       <span>{{e}}</span>
    </li>
   </ul>
</div>
<footer>
  <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
    <button type="button" pButton (click)="errDialog=false" icon="fa-check" label="Ok"></button>
  </div>
</footer>
</p-dialog>