<p-tabView>
    <p-tabPanel header="SERVICE ENTRY POINT">
        <app-service-entry-point></app-service-entry-point>
    </p-tabPanel>
    <p-tabPanel header="INTEGRATION PT DETECTION">
        <app-integration-pt-detection></app-integration-pt-detection>
    </p-tabPanel>
    <p-tabPanel header="TRANSACTION CONFIGURATION">
        <app-transaction-configuration></app-transaction-configuration>
    </p-tabPanel>
    <p-tabPanel header="INSTRUMENT MONITOS">
        <app-instrument-monitors></app-instrument-monitors>
    </p-tabPanel>
    <p-tabPanel header="ERROR DETECTION">
        <app-error-detection></app-error-detection>
    </p-tabPanel>
</p-tabView>