<!--<p>
  java-method works!
</p>-->

<!--For showing Method Based Custom Data-->
<p-dataTable [value]="tableData" [(selection)]="selectedJavaMethod" [rows]="6" [paginator]="tableData?.length > 6" [pageLinks]="3">
    <p-header>
        <span style="float: left"> Java Method Based Custom Data</span>
        <span style="float: right; margin-top:-5px">

                       <button pButton type="button" title="Add" [disabled]="saveDisable" (click)="openAddDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit" [disabled]="saveDisable" (click)="openEditDialog()" icon="fa-pencil" ></button>
                       <button pButton type="button" class="ui-button-danger" title="Delete" [disabled]="saveDisable" (click)="deleteJavaMethod()" icon="fa-trash"></button>
                    </span>
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

    <p-column class="col-overflow" field="fqm" header="Fully Qualified Method Name" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>

    <p-column class="col-overflow" field="returnTypeValue" header="Return Type" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>

    <p-column class="col-overflow" field="argumentTypeValue" header="Argument Type" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>
</p-dataTable>


<!--Dialog for adding -->
<p-dialog header="{{isNew ? 'Settings for Java Method Based Custom Data' : 'Edit Settings for Java Method Based Custom Data '}}" *ngIf="addEditDialog" [(visible)]="addEditDialog" modal="modal" width="700" responsive="true">
    <form (ngSubmit)="saveEditData(fqmField)" id="addMethodBasedForm" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Fully Qualified Name</label>
            </div>
            <div class="ui-g-8">
                <input name="fqm" disabled={{!isNew}} #fqmField type="text" size="60" pInputText [(ngModel)]="methodBasedCustomData.fqm" autofocus required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <p-checkbox name="enableReturnType" label="Custom Data using Method Return Value" [(ngModel)]="methodBasedCustomData.enableReturnType" binary="true"></p-checkbox>
            </div>

        </div>


        <div class="ui-g-12" *ngIf="methodBasedCustomData.enableReturnType">
            <p-dataTable [value]="returnTypeData" *ngIf="methodBasedCustomData.enableReturnType" [(selection)]="selectedReturnRules" [rows]="3" [paginator]="returnTypeData?.length > 3" [pageLinks]="3">
                <p-header>
                    <span>  Return Type Info </span>
                    <span style="float: right; margin-top:-5px">
                       <!--<button pButton type="add" title="Add" (click)="first=true" icon="fa-plus"></button>-->
                       <button pButton type="sumbit" title="Add" (click)="first=true" icon="fa-plus"></button>

                       <button pButton type="button" class="ui-button-danger" title="Delete" (click)="deleteReturnRules()" icon="fa-trash"></button>
                    </span>
                </p-header>
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column class="col-overflow" field="headerName" header="Name" [sortable]="true">
                    <template let-col let-application="rowData">
                   <!--<span title="{{application[col.field]}}"><a [routerLink]="[ ROUTING_PATH + '/tree-main', application['dcId']]">{{application[col.field]}}</a></span>-->
                </template>
                </p-column>

                <p-column class="col-overflow" field="typeName" header="Type" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" field="operation" header="Operation" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
                <p-column ngIfclass="col-overflow" field="operatorValue" header="Operator Value" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
            </p-dataTable>
        </div>



        <div class="ui-g-12">
            <div class="ui-g-6">
                <p-checkbox name="enableArgumentType" label="Custom Data using Method Argument Value" [(ngModel)]="methodBasedCustomData.enableArgumentType" binary="true"></p-checkbox>
            </div>
        </div>


        <div class="ui-g-12">
            <p-dataTable [value]="argumentTypeData" *ngIf="methodBasedCustomData.enableArgumentType" [(selection)]="selectedArgumentRules" [rows]="3" [paginator]="argumentTypeData?.length > 3" [pageLinks]="3">
                <p-header>
                    <span>  Argument Type Settings </span>
                    <span style="float: right; margin-top:-5px">
                       <button pButton type="submit" title="Add" (click)="second=true" icon="fa-plus"></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete" (click)="deleteArgumentsRules()" icon="fa-trash"></button>
                    </span>
                </p-header>
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column class="col-overflow" field="headerName" header="Name" [sortable]="true">
                    <template let-col let-application="rowData">
                   <!--<span title="{{application[col.field]}}"><a [routerLink]="[ ROUTING_PATH + '/tree-main', application['dcId']]">{{application[col.field]}}</a></span>-->
             </template>
                </p-column>

                <p-column class="col-overflow" field="indexVal" header="Index" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" field="typeName" header="Type" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" field="operationName" header="Operation" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
                <p-column class="col-overflow" field="operatorValue" header="Operator Value" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
            </p-dataTable>
        </div>



        <footer>
            <div class="ui-dialog-buttonpane ">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>


<!--Form for adding return Type Rules-->
<p-dialog header="Add Return Type Info" *ngIf="addReturnRulesDialog" [(visible)]="addReturnRulesDialog" modal="modal" width="620" responsive="true">
    <form (ngSubmit)="saveReturnRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Name</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="headerName" type="text" size="25" pInputText [(ngModel)]="returnTypeRules.headerName" placeholder="Value" autofocus required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Custom Type</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '100%'}" [options]="customValTypeList" [(ngModel)]="returnTypeRules.type" appendTo="body" placeholder=" --Select-- "></p-dropdown>
                </div>
            </div>
            <!--<div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Custom Value Type</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '150px'}" [options]="customValTypeList" [(ngModel)]="returnTypeRules.type" appendTo="body" placeholder=" --Select-- "></p-dropdown>
                </div>
            </div>-->
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Operation</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="operationName" [style]="{'width': '100%'}" [options]="operationList" [(ngModel)]="returnTypeRules.operation" appendTo="body" placeholder=" --Select-- "></p-dropdown>
                </div>
                <!--<div class="ui-g-6" *ngIf="!(returnTypeRules.operation =='CAPTURE')&&!(returnTypeRules.operation =='EXCEPTION')&&!(returnTypeRules.operation =='EXTRACT_SUBPART')">-->
                <div class="ui-g-2" *ngIf="!(returnTypeRules.operation =='CAPTURE')&&!(returnTypeRules.operation =='EXCEPTION')&&!(returnTypeRules.operation =='EXTRACT_SUBPART')">
                    <label>Operator Value</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px" *ngIf="!(returnTypeRules.operation =='CAPTURE')&&!(returnTypeRules.operation =='EXCEPTION')&&!(returnTypeRules.operation =='EXTRACT_SUBPART')">
                    <input name="operatorValue" type="text" size="25" pInputText [(ngModel)]="returnTypeRules.operatorValue" required ngModel/>
                </div>
                <!--</div>-->
            </div>
            <div class="ui-g-12" *ngIf="(returnTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-6">
                    <div class="ui-g-4">
                        <label>Left Bound</label>
                    </div>
                    <div class="ui-g-8" style="margin-top: -5px">
                        <input name="leftBound" type="text" size="25" pInputText [(ngModel)]="leftBoundReturn" placeholder=" left bound" required ngModel/>
                    </div>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-4">
                        <label>Right Bound</label>
                    </div>
                    <div class="ui-g-8" style="margin-top: -5px">
                        <input name="rightBound" type="text" size="25" pInputText [(ngModel)]="rightBoundReturn" placeholder=" Operation" required ngModel/>
                    </div>
                </div>
            </div>

            <!--<div class="ui-g-12" *ngIf="(returnTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-4">
                    <label>Right Bound</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="rightBound" type="text" size="30" pInputText [(ngModel)]="rightBoundReturn" placeholder=" Operation" required ngModel/>
                </div>
            </div>-->

        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeReturnDialog()" label="Cancel"></button>

            </div>
        </footer>
    </form>
</p-dialog>


<!--Form for adding Argument Type Rules-->
<p-dialog header="Add Argument Type Info" *ngIf="addArgumentRulesDialog" [(visible)]="addArgumentRulesDialog" modal="modal" width="650" responsive="true">
    <form (ngSubmit)="saveArgumentRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Name</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="headerName" type="text" size="27" pInputText [(ngModel)]="argumentTypeRules.headerName" placeholder="Value" autofocus required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Index</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '100%'}" placeholder="--Select--" [options]="indexList" [(ngModel)]="argumentTypeRules.indexVal" appendTo="body"></p-dropdown>
                </div>
            </div>


            <!--<div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Index</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="indexVal" type="text" size="30" pInputText [(ngModel)]="argumentTypeRules.indexVal" placeholder="Index" required ngModel/>
                </div>
            </div>-->

            <!--<div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Index</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '150px'}" placeholder="--Select--" [options]="indexList" [(ngModel)]="argumentTypeRules.indexVal" appendTo="body"></p-dropdown>
                </div>
            </div>-->


            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Custom Type</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '100%'}" [options]="customValTypeList" [(ngModel)]="argumentTypeRules.type" appendTo="body" placeholder="--Select--"></p-dropdown>
                </div>
                <div class="ui-g-2">
                    <label>Operation</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="operationName" [style]="{'width': '100%'}" [options]="operationList" [(ngModel)]="argumentTypeRules.operationName" placeholder="--Select--" (click)="operationListArgumentType()" appendTO="body"></p-dropdown>
                </div>
            </div>
            <!--<div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Operation</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="operationName" [style]="{'width': '150px'}" [options]="operationList" [(ngModel)]="argumentTypeRules.operationName" placeholder="--Select--" (click)="operationListArgumentType()"></p-dropdown>
                </div>
            </div>-->

            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Operator Value</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="operatorValue" type="text" size="27" pInputText [(ngModel)]="argumentTypeRules.operatorValue" required ngModel/>
                </div>
            </div>

            <!--<div class="ui-g-12" *ngIf="!(returnTypeRules.operation =='CAPTURE')&&!(returnTypeRules.operation =='EXCEPTION')&&!(returnTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-4">
                    <label>Operator Value</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="operatorValue" type="text" size="30" pInputText [(ngModel)]="returnTypeRules.operatorValue" placeholder=" Operation" required ngModel/>
                </div>
            </div>-->

            <div class="ui-g-12" *ngIf="(argumentTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-2">
                    <label>Left Bound</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="leftBound" type="text" size="27" pInputText [(ngModel)]="leftBoundArgument" placeholder=" left bound" required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Right Bound</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="rightBound" type="text" size="27" pInputText [(ngModel)]="rightBoundArgument" placeholder=" Operation" required ngModel/>
                </div>
            </div>

            <!--<div class="ui-g-12" *ngIf="(argumentTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-4">
                    <label>Right Bound</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="rightBound" type="text" size="30" pInputText [(ngModel)]="rightBoundArgument" placeholder=" Operation" required ngModel/>
                </div>
            </div>-->
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeArgumentDialog()" label="Cancel"></button>

            </div>
        </footer>
    </form>
</p-dialog>