<!--<p>
  java-method works!
</p>-->

<!--For showing Method Based Custom Data-->
<p-dataTable [value]="tableData" [(selection)]="selectedJavaMethod" [rows]="6" [paginator]="tableData?.length > 6" [pageLinks]="3">
    <p-header>
        <span style="float: left"> Java Method Based Custom Data</span>
        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openAddDialog()" icon="fa-plus"></button>
                       <button pButton type="button" class="ui-button-danger" title="Delete" (click)="deleteJavaMethod()" icon="fa-trash"></button>
                       <!--<button pButton type="button"class="ui-button-danger" title="Delete" (click)="deleteMethodTrans()" icon="fa-trash"></button>-->
                    </span>
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

    <p-column class="col-overflow" field="fqm" header="Fully Qualified Name" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>

    <p-column class="col-overflow" field="returnTypeValue" header="Return Type" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>

    <p-column class="col-overflow" field="argumentTypeValue" header="Argument Type" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>
</p-dataTable>


<!--Dialog for adding -->
<p-dialog header="{{isNew ? 'Settings for Method Based Custom Data' : 'Edit  Settings for Method Based Custom Data '}}" *ngIf="addEditDialog" [(visible)]="addEditDialog" modal="modal" width="700" responsive="true">
    <form (ngSubmit)="saveEditData(groupForm)" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Fully Qualified Name</label>
            </div>
            <div class="ui-g-8">
                <input name="fqm" type="text" size="60" pInputText [(ngModel)]="methodBasedCustomData.fqm" autofocus required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <p-checkbox name="enableReturnType" label="Enable Return Type" [(ngModel)]="methodBasedCustomData.enableReturnType" binary="true"></p-checkbox>
            </div>

        </div>


        <div class="ui-g-12" *ngIf="methodBasedCustomData.enableReturnType">
            <p-dataTable [value]="returnTypeData" *ngIf="methodBasedCustomData.enableReturnType" [(selection)]="selectedMethodRules" [rows]="3" [paginator]="returnTypeData?.length > 3" [pageLinks]="3">
                <p-header>
                    <span>  Return Type Info </span>
                    <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openAddReturnRulesDialog()" icon="fa-plus"></button>
                       <button pButton type="button" class="ui-button-danger" title="Delete" (click)="deleteReturnRules()" icon="fa-trash"></button>
                    </span>
                </p-header>
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column class="col-overflow" field="headerName" header="Name" [sortable]="true">
                    <template let-col let-application="rowData">
                   <!--<span title="{{application[col.field]}}"><a [routerLink]="[ ROUTING_PATH + '/tree-main', application['dcId']]">{{application[col.field]}}</a></span>-->
                </template>
                </p-column>

                <p-column class="col-overflow" field="type" header="Type" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" field="operationName" header="Operation" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
                <p-column class="col-overflow" field="operatorValue" header="Operator Value" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
            </p-dataTable>
        </div>



        <div class="ui-g-12">
            <div class="ui-g-6" style="margin-left: -5px">
                <p-checkbox name="enableArgumentType" label="Enable Argument Type" [(ngModel)]="methodBasedCustomData.enableArgumentType" binary="true"></p-checkbox>
            </div>
        </div>




        <div class="ui-g-12">
            <p-dataTable [value]="argumentTypeData" *ngIf="methodBasedCustomData.enableArgumentType" [(selection)]="selectedMethodRules" [rows]="3" [paginator]="argumentTypeData?.length > 3" [pageLinks]="3">
                <p-header>
                    <span>  Argument Type Settings </span>
                    <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openAddArgumentRulesDialog()" icon="fa-plus"></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete" (click)="deleteReturnRules()" icon="fa-trash"></button>
                    </span>
                </p-header>
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column class="col-overflow" field="headerName" header="Name" [sortable]="true">
                    <template let-col let-application="rowData">
                   <!--<span title="{{application[col.field]}}"><a [routerLink]="[ ROUTING_PATH + '/tree-main', application['dcId']]">{{application[col.field]}}</a></span>-->
             </template>
                </p-column>

                <p-column class="col-overflow" field="indexVal" header="Index" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" field="type" header="Type" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" field="operation" header="Operation" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
                <p-column class="col-overflow" field="operatorValue" header="Operator Value" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
            </p-dataTable>
        </div>



        <footer>
            <div class="ui-dialog-buttonpane ">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>


<!--Form for adding return Type Rules-->
<p-dialog header="Add Return Type Info" *ngIf="addReturnRulesDialog" [(visible)]="addReturnRulesDialog" modal="modal" width="400" responsive="true">
    <form (ngSubmit)="saveReturnRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Name</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="headerName" type="text" size="30" pInputText [(ngModel)]="returnTypeRules.headerName" placeholder="Value" autofocus required ngModel/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Custom Value Type</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="type" [options]="customValTypeList" [(ngModel)]="returnTypeRules.type" appendTo="body" placeholder="Select Custom Value Type"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Select Operation</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="operationName" [options]="operationList" [(ngModel)]="returnTypeRules.operationName" appendTo="body" placeholder="Select Operation"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Operator Value</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="operatorValue" type="text" size="30" pInputText [(ngModel)]="returnTypeRules.operatorValue" placeholder="Select Operation" required ngModel/>
                </div>
            </div>

        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeReturnDialog()" label="Cancel"></button>

            </div>
        </footer>
    </form>
</p-dialog>


<!--Form for adding Argument Type Rules-->
<p-dialog header="Add Argument Type Info" *ngIf="addArgumentRulesDialog" [(visible)]="addArgumentRulesDialog" modal="modal" width="400" responsive="true">
    <form (ngSubmit)="saveArgumentRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Name</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="headerName" type="text" size="30" pInputText [(ngModel)]="argumentTypeRules.headerName" placeholder="Value" autofocus required ngModel/>
                </div>
            </div>


            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Index</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="indexVal" type="text" size="30" pInputText [(ngModel)]="argumentTypeRules.indexVal" placeholder="Index" required ngModel/>
                </div>
            </div>


            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Custom Value Type</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="type" [options]="customValTypeList" [(ngModel)]="argumentTypeRules.type" appendTo="body" placeholder="Select Custom Value Type"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Select Operation</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="operationName" [options]="operationList" [(ngModel)]="argumentTypeRules.operation" appendTo="body" placeholder="Select Operation" (click)="operationListArgumentType()"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Operator Value</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="operatorValue" type="text" size="30" pInputText [(ngModel)]="argumentTypeRules.operatorValue" placeholder="Select Operation" required ngModel/>
                </div>
            </div>

        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeArgumentDialog()" label="Cancel"></button>

            </div>
        </footer>
    </form>
</p-dialog>