<!--<p>
  java-method works!
</p>-->

<!--For showing Method Based Custom Data-->
<p-dataTable class="nde-ui" [value]="tableData" [(selection)]="selectedJavaMethod" [rows]="6" [paginator]="tableData?.length > 6" [pageLinks]="3">
    <p-header>
        <span style="float: left"> Java method based custom data</span>
        <span style="float: right; margin-top:-5px">

                       <button pButton type="button" title="Add" [disabled]="saveDisable" (click)="openAddDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit" [disabled]="saveDisable" (click)="openEditDialog()" icon="fa-pencil" ></button>
                       <button pButton type="button" class="ui-button-danger" title="Delete" [disabled]="saveDisable" (click)="deleteJavaMethod()" icon="fa-trash"></button>
                   </span>
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

    <p-column class="col-overflow" field="fqm" [style]="{'width':'50%'}" header="Fully qualified method name" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>

    <p-column class="col-overflow"[style]="{'width':'25%'}" field="returnTypeValue" header="Return type" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>

    <p-column class="col-overflow" [style]="{'width':'25%'}"field="argumentTypeValue" header="Argument type" [sortable]="true">
        <template let-col let-tableData="rowData" pTemplate>
      <span title="{{tableData[col.field]}}">{{tableData[col.field]}}</span>
    </template>
    </p-column>
</p-dataTable>


<!--Dialog for adding -->
<p-dialog class="profile-dialog" header="{{isNew ? 'Settings for Java method based custom data' : 'Edit settings for Java method based custom data '}}" *ngIf="addEditDialog" [(visible)]="addEditDialog" modal="modal" width="700" responsive="true">
    <form (ngSubmit)="saveEditData(fqmField)" id="addMethodBasedForm" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Fully qualified method name</label>
            </div>
            <div class="ui-g-8">
                <input name="fqm" disabled={{!isNew}} #fqmField type="text" size="60" pInputText [(ngModel)]="methodBasedCustomData.fqm" autofocus required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <p-checkbox name="enableReturnType" label="Custom data using method return value" [(ngModel)]="methodBasedCustomData.enableReturnType" binary="true"></p-checkbox>
            </div>

        </div>


        <div class="ui-g-12" *ngIf="methodBasedCustomData.enableReturnType">
            <p-dataTable class="nde-ui" [value]="returnTypeData" *ngIf="methodBasedCustomData.enableReturnType" [(selection)]="selectedReturnRules" [rows]="3" [paginator]="returnTypeData?.length > 3" [pageLinks]="3">
                <p-header>
                    <span style="float: left">  Return type settings </span>
                    <span style="float: right; margin-top:-5px">
                       <!--<button pButton type="add" title="Add" (click)="first=true" icon="fa-plus"></button>-->
                       <button pButton type="sumbit" title="Add" (click)="first=true" icon="fa-plus"></button>

                       <button pButton type="button" class="ui-button-danger" title="Delete" (click)="deleteReturnRules()" icon="fa-trash"></button>
                    </span>
                </p-header>
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column class="col-overflow" [style]="{'width':'35%'}" field="headerName" header="Name" [sortable]="true">
                    <template let-col let-application="rowData">
                   <!--<span title="{{application[col.field]}}"><a [routerLink]="[ ROUTING_PATH + '/tree-main', application['dcId']]">{{application[col.field]}}</a></span>-->
                </template>
                </p-column>

                <p-column class="col-overflow"[style]="{'width':'15%'}" field="typeName" header="Type" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" [style]="{'width':'15%'}" field="operation" header="Operation" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
                <p-column ngIfclass="col-overflow" [style]="{'width':'20%'}" field="operatorValue" header="Operator value" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column ngIfclass="col-overflow" [style]="{'text-align':'right','width':'15%'}" field="mode" header="Mode" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>



            </p-dataTable>
        </div>



        <div class="ui-g-12">
            <div class="ui-g-6">
                <p-checkbox name="enableArgumentType" label="Custom data using method argument value" [(ngModel)]="methodBasedCustomData.enableArgumentType" binary="true"></p-checkbox>
            </div>
        </div>


        <div class="ui-g-12">
            <p-dataTable class="nde-ui" [value]="argumentTypeData" *ngIf="methodBasedCustomData.enableArgumentType" [(selection)]="selectedArgumentRules" [rows]="3" [paginator]="argumentTypeData?.length > 3" [pageLinks]="3">
                <p-header>
                    <span style="float: left">  Argument type settings </span>
                    <span style="float: right; margin-top:-5px">
                       <button pButton type="submit" title="Add" (click)="second=true" icon="fa-plus"></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete" (click)="deleteArgumentsRules()" icon="fa-trash"></button>
                    </span>
                </p-header>
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column class="col-overflow" [style]="{'width':'30%'}" field="headerName" header="Name" [sortable]="true">
                    <template let-col let-application="rowData">
                   <!--<span title="{{application[col.field]}}"><a [routerLink]="[ ROUTING_PATH + '/tree-main', application['dcId']]">{{application[col.field]}}</a></span>-->
             </template>
                </p-column>

                <p-column class="col-overflow" [style]="{'text-align':'right','width':'10%'}"  field="indexVal" header="Index" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" [style]="{'width':'15%'}" field="typeName" header="Type" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column class="col-overflow" [style]="{'width':'15%'}" field="operationName" header="Operation" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
                <p-column class="col-overflow"[style]="{'width':'15%'}" field="operatorValue" header="Operator value" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>

                <p-column ngIfclass="col-overflow" field="mode" [style]="{'text-align':'right','width':'10%'}" header="Mode" [sortable]="true">
                    <template let-col let-application="rowData">
                       <!--<span title="{{application[col.field]}}">{{application[col.field]}}</span>-->
                    </template>
                </p-column>
            </p-dataTable>
        </div>



        <footer>
            <div class="ui-dialog-buttonpane ">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>


<!--Form for adding return Type Rules-->
<p-dialog class="profile-dialog" header="Add return type settings" *ngIf="addReturnRulesDialog" [(visible)]="addReturnRulesDialog" modal="modal" width="620" responsive="true">
    <form (ngSubmit)="saveReturnRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Name</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="headerName" type="text" size="25" pInputText [(ngModel)]="returnTypeRules.headerName" autofocus required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Custom type</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '100%'}" [options]="customValTypeList" [(ngModel)]="returnTypeRules.type" placeholder=" --Select-- "></p-dropdown>
                </div>
            </div>
            <!--<div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Custom Value Type</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '150px'}" [options]="customValTypeList" [(ngModel)]="returnTypeRules.type"  placeholder=" --Select-- "></p-dropdown>
                </div>
            </div>-->
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Operation</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="operationName" [style]="{'width': '100%'}" [options]="operationList" [(ngModel)]="returnTypeRules.operation" placeholder=" --Select-- "></p-dropdown>
                </div>
                <!--<div class="ui-g-6" *ngIf="!(returnTypeRules.operation =='CAPTURE')&&!(returnTypeRules.operation =='EXCEPTION')&&!(returnTypeRules.operation =='EXTRACT_SUBPART')">-->
                <div class="ui-g-2" *ngIf="!(returnTypeRules.operation =='CAPTURE')&&!(returnTypeRules.operation =='EXCEPTION')&&!(returnTypeRules.operation =='EXTRACT_SUBPART')">
                    <label>Operator value</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px" *ngIf="!(returnTypeRules.operation =='CAPTURE')&&!(returnTypeRules.operation =='EXCEPTION')&&!(returnTypeRules.operation =='EXTRACT_SUBPART')">
                    <input name="operatorValue" type="text" size="25" pInputText [(ngModel)]="returnTypeRules.operatorValue" required ngModel/>
                </div>
                <!--</div>-->
            </div>
            <div class="ui-g-12" *ngIf="(returnTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-6">
                    <div class="ui-g-4">
                        <label>Left bound</label>
                    </div>
                    <div class="ui-g-8" style="margin-top: -5px">
                        <input name="leftBound" type="text" size="25" pInputText [(ngModel)]="leftBoundReturn" placeholder=" left bound" required ngModel/>
                    </div>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-4">
                        <label>Right bound</label>
                    </div>
                    <div class="ui-g-8" style="margin-top: -5px">
                        <input name="rightBound" type="text" size="25" pInputText [(ngModel)]="rightBoundReturn" placeholder=" Operation" required ngModel/>
                    </div>
                </div>
            </div>

            <!--<div class="ui-g-12" *ngIf="(returnTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-4">
                    <label>Right Bound</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="rightBound" type="text" size="30" pInputText [(ngModel)]="rightBoundReturn" placeholder=" Operation" required ngModel/>
                </div>
            </div>-->
            <div class="ui-g-12" style="margin-left: 6px">
                <p-radioButton name="BusinessTransaction" value="0" label="Capture custom data only" [(ngModel)]="returnTypeRules.mode"></p-radioButton>
            </div>
            <div class="ui-g-12" style="margin-left: 6px">
                <p-radioButton name="BusinessTransaction " value="1 " [(ngModel)]="returnTypeRules.mode " label="Capture custom data and also display the method in method sequence calling tree"></p-radioButton>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeReturnDialog()" label="Cancel"></button>

            </div>
        </footer>
    </form>
</p-dialog>


<!--Form for adding Argument Type Rules-->
<p-dialog class="profile-dialog" header="Add argument type settings" *ngIf="addArgumentRulesDialog" [(visible)]="addArgumentRulesDialog" modal="modal" width="650" responsive="true">
    <form (ngSubmit)="saveArgumentRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Name</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="headerName" type="text" size="27" pInputText [(ngModel)]="argumentTypeRules.headerName" autofocus required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Index</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '100%'}" placeholder="--Select--" [options]="indexList" [(ngModel)]="argumentTypeRules.indexVal"></p-dropdown>
                </div>
            </div>


            <!--<div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Index</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="indexVal" type="text" size="30" pInputText [(ngModel)]="argumentTypeRules.indexVal" placeholder="Index" required ngModel/>
                </div>
            </div>-->

            <!--<div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Index</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '150px'}" placeholder="--Select--" [options]="indexList" [(ngModel)]="argumentTypeRules.indexVal" ></p-dropdown>
                </div>
            </div>-->


            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Custom type</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="type" [style]="{'width': '100%'}" [options]="customValTypeList" [(ngModel)]="argumentTypeRules.type" placeholder="--Select--"></p-dropdown>
                </div>
                <div class="ui-g-2">
                    <label>Operation</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <p-dropdown name="operationName" [style]="{'width': '100%'}" [options]="operationList" [(ngModel)]="argumentTypeRules.operationName" placeholder="--Select--" (click)="operationListArgumentType()"></p-dropdown>
                </div>
            </div>
            <!--<div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Operation</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <p-dropdown name="operationName" [style]="{'width': '150px'}" [options]="operationList" [(ngModel)]="argumentTypeRules.operationName" placeholder="--Select--" (click)="operationListArgumentType()"></p-dropdown>
                </div>
            </div>-->

            <div class="ui-g-12" *ngIf="!(argumentTypeRules.operationName =='CAPTURE')&&!(argumentTypeRules.operationName =='EXCEPTION')&&!(argumentTypeRules.operationName =='EXTRACT_SUBPART')">
                <div class="ui-g-2">
                    <label>Operator value</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="operatorValue" type="text" size="27" pInputText [(ngModel)]="argumentTypeRules.operatorValue" required ngModel/>
                </div>
            </div>

            <!--<div class="ui-g-12" *ngIf="!(returnTypeRules.operation =='CAPTURE')&&!(returnTypeRules.operation =='EXCEPTION')&&!(returnTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-4">
                    <label>Operator Value</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="operatorValue" type="text" size="30" pInputText [(ngModel)]="returnTypeRules.operatorValue" placeholder=" Operation" required ngModel/>
                </div>
            </div>-->

            <div class="ui-g-12" *ngIf="(argumentTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-2">
                    <label>Left bound</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="leftBound" type="text" size="27" pInputText [(ngModel)]="leftBoundArgument" placeholder=" left bound" required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Right bound</label>
                </div>
                <div class="ui-g-4" style="margin-top: -5px">
                    <input name="rightBound" type="text" size="27" pInputText [(ngModel)]="rightBoundArgument" placeholder=" Operation" required ngModel/>
                </div>
            </div>

            <!--<div class="ui-g-12" *ngIf="(argumentTypeRules.operation =='EXTRACT_SUBPART')">
                <div class="ui-g-4">
                    <label>Right Bound</label>
                </div>
                <div class="ui-g-8" style="margin-top: -5px">
                    <input name="rightBound" type="text" size="30" pInputText [(ngModel)]="rightBoundArgument" placeholder=" Operation" required ngModel/>
                </div>
            </div>-->

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <p-radioButton name="BusinessTransaction" value="0" label="Capture custom data only" [(ngModel)]="argumentTypeRules.mode"></p-radioButton>
                </div>
                <div class="ui-g-1" style="width:3%">
                    <p-radioButton name="BusinessTransaction " value="1 " [(ngModel)]="argumentTypeRules.mode "></p-radioButton>
                </div>
                <div class="ui-g-7">
                    <label>Capture custom data and also display the Method in method Sequence Calling Tree</label>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ">
                <button type="submit " pButton icon="fa-check " label="Save "></button>
                <button type="button " pButton icon="fa-close " (click)="closeArgumentDialog() " label="Cancel "></button>

            </div>
        </footer>
    </form>
</p-dialog>