<div class="custom-breadcrumb">
    <div class="ui-g config-ui">
        <div class="ui-g-9">
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
        <div class="ui-g-3 togglebtn" *ngIf="displaySessionLabel">
            <md-slide-toggle class=' breadcrumb-toggle' (click)="enabledRTC()" [(ngModel)]="trData.switch" [disabled]="trData.trNo == null">
                Apply changes on Session no: {{ trData.trNo == null ? 'NA' : trData.trNo }}<a [routerLink]="[ ROUTING_PATH + '/auto-discover']" *ngIf="countAI>0" > | <i class="fa fa-spinner" title="Auto Instrumentation process is in progress (Total Active: {{countAI}} )"></i></a>
            </md-slide-toggle>
        </div>

    </div>
</div>