.config-ui-auto {
    padding-top: 97px
}

.instrumentation-css {
    background-color: rgb(63, 81, 181) !important;
    border: 1px solid rgb(63, 81, 181) !important;
}

.unInstrumentation-css {
    background-color: #D84315 !important;
    border: 1px solid #D84315 !important;
}

.config_instr_hdr{
    background:#006699;
    margin-left: -6px;
    border-radius: 3px;
    margin-bottom: -7px;
    color: white;
    padding: 0
}

.config_Uninstr_hdr{
    background:#006699;
    margin-left: 6px;
    border-radius: 3px;
    margin-bottom: -7px;
    color: white;
    height: 33px;
}

.config-instr-save-botton{
    background-color:  rgb(63, 81, 181) !important;
}