<div class="ui-grid">
    <fieldset>
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12" style="background-color:aliceblue">
                    <div class="ui-g-12">
                        <div class="ui-g-5 config_instr_hdr">
                            <div class="ui-g-5" style="margin-top: 3px">Auto Discovered data by agent</div>
                            <div class="ui-g-7">
                                <input type="text" [disabled]="true" [(ngModel)]="instanceFileName" required size=35 title="{{instanceFileName}}" pInputText>
                            </div>
                        </div>
                        <div class="ui-g-2"></div>
                        <div class="ui-g-5 config_Uninstr_hdr" align="center">
                            <div style="margin-top: 3px">Instrumented List</div>
                        </div>
                    </div>
                    <div class="ui-grid-col-5">
                        <p-tree [value]="leftSideTreeData" class="auto-config-tree" (onNodeExpand)="nodeExpand($event)" selectionMode="checkbox" [style]="{'height':'400px','width':'37.4em'}" [(selection)]="instrFromLeftSideTree">
                        </p-tree>
                    </div>
                    <div class="ui-grid-col-2 config-ui-auto" align="center">
                        <div>
                            <button class="instrumentation-css" type="button" (click)="getValuesForSelectedList()" pButton label=' Instrument  >> ' style="width:122px"> </button>
                        </div>
                        <div style="padding-top:5px;">
                            <button class="unInstrumentation-css" type="button" (click)="removeValuesFromSelectedList()" pButton label='<< Uninstrument' style="width:122px"></button>
                        </div>
                    </div>
                    <div class="ui-grid-col-5">
                        <p-tree [value]="rightSideTreeData" class="auto-config-tree" selectionMode="checkbox" [style]="{'height':'400px','width':'37.4em'}" [(selection)]="instrFromRightSideTree"></p-tree>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="ui-grid-col-12 " style="background-color:aliceblue ">
            <div class="ui-g-7"></div>
            <div class="ui-g-2" style="margin-top:4px">Save instrumentation profile as</div>
            <div class="ui-g-2 ">
                <input type="text" [(ngModel)]="instrfileName" size=25 pInputText (keydown.space)="$event.preventDefault()" (keydown.dot)="$event.preventDefault()">
            </div>
            <div class="ui-g-1">
                <button type="button " class="config-instr-save-botton " (click)="saveInstrumentationFile()" pButton label="Save " icon="fa-save "></button>
            </div>
        </div>
    </fieldset>
</div>
