<form *ngIf="exceptionForm" (ngSubmit)="saveKeywordData(form)" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Exception settings
            <div class="pull-right">
                <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable  || !enableGroupKeyword" (click)="resetKeywordData()" label="Reset"></button>
		<button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="resetKeywordData()" label="Reset"></button>
		<button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Save"></button>
		<button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable  || !enableGroupKeyword" label="Save"></button>
            </div>
        </div>
<p-panel class="hideheader">
  <div style="margin: 5px 0px" class="flowpathheader-accordion">
   <div style="margin-top:17px"></div>
    <p-fieldset legend="Exception Settings" [toggleable]="true" [collapsed]="false">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <p-checkbox label="Enable exception capturing" name="instrumentException" [(ngModel)]="exceptionData.instrumentException" binary="true"></p-checkbox>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-7" style="margin-left: 16px">
                    <p-checkbox [disabled]="!exceptionData.instrumentException" label="Capture exception logged using logging API (java.util.logging, log4j, ATG logger) " name="exceptionType" [(ngModel)]="exceptionData.exceptionType" binary="true">
                    </p-checkbox>
                </div>
            </div>
            <div class="ui-g-12">
                <!--<div class="ui-g-1"></div>-->
                <div class="ui-g-5" style="margin-left: 16px">
                    <label>Capture exception stack trace upto </label>
                    <input type="number" disabled={{!exceptionData.instrumentException}} [min]=1 [max]=9999 name="exceptionTraceDepth" size="20" [(ngModel)]="exceptionData.exceptionTraceDepth" required ngModel/> frames
                </div>
            </div>
            <div class="ui-g-12">
                <!--<div class="ui-g-1"></div>-->
                <div class="ui-g-7" style="margin-left: 16px">
                    <p-checkbox [disabled]="!exceptionData.instrumentException" label="Capture exception from not instrumented session also." name="exceptionCapturing" [(ngModel)]="exceptionData.exceptionCapturing" binary="true">
                    </p-checkbox>
                </div>
            </div>
        </div>
        <!-- <div class="ui-g-12" style="margin-left: 5px;"> -->
        <!--<div class="ui-g-1"></div>-->
        <!-- <div class="ui-g-5">
                <p-checkbox name="enableExceptionInSeqBlob" binary="true" label="Enable exception capturing in sequence Blob" [(ngModel)]="exception.enableExceptionInSeqBlob.value"></p-checkbox>
            </div>
        </div> -->
    </p-fieldset><br>



    <p-fieldset legend="Advance Settings" [toggleable]="true" [collapsed]="true" *ngIf="agentType == 'Java'">
        <div class="ui-g-12">
            <span style="font-weight: bold">Source Code Capturing</span>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=0 label="disable" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=1 label="Stack trace only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=2 label="Stack trace with source code only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=3 label="Stack trace with source code and class variables only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=4 label="Stack trace with source code,class variables and method parameters only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=5 label="Stack trace with source code, class variables, method parameters and local variables only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=6 label="Stack trace with source code, class variables, method parameters, local variables and threadLocal variables only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=7 label="Stack trace with source code, class variables, method parameters, local variables , threadLocal variables and variables inside Objects only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
    </p-fieldset>
</div>
</p-panel>
</div>
</form>

