<form *ngIf="exceptionForm" (ngSubmit)="saveKeywordData(form)" #form="ngForm" ngNativeValidate>

    <p-fieldset legend="Exception Settings" [toggleable]="true">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <p-checkbox label="Enable exception capturing" name="instrumentException" [(ngModel)]="exceptionData.instrumentException"
                        binary="true"></p-checkbox>
                </div>
            </div>
            <div class="ui-g-12">
                <!--<div class="ui-g-1"></div>-->
                <div class="ui-g-4" style="margin-left: 16px">
                    <p-radioButton name="CaptureException" [disabled]="!exceptionData.instrumentException" value="1" label="Enable complete exception capturing"
                        [(ngModel)]="exceptionData.exceptionCapturing"></p-radioButton>
                </div>
                <div class="ui-g-5" style="margin-left: 16px">
                    <p-radioButton name="CaptureException" [disabled]="!exceptionData.instrumentException" value="2" label="Enable complete and L1 flowpath exception capturing"
                        [(ngModel)]="exceptionData.exceptionCapturing"></p-radioButton>
                </div>
            </div>
            <div class="ui-g-12">
                <!--<div class="ui-g-1"></div>-->
                <div class="ui-g-5" style="margin-left: 16px">
                    <p-checkbox [disabled]="!exceptionData.instrumentException" label="Capture exception stack trace upto " name="exceptionTrace"
                        [(ngModel)]="exceptionData.exceptionTrace" binary="true">
                    </p-checkbox>
                    <input type="number" disabled={{!exceptionData.exceptionTrace||!exceptionData.instrumentException}} [min]=0 [max]=999 name="exceptionTraceDepth"
                        size="20" [(ngModel)]="exceptionData.exceptionTraceDepth" required ngModel/> frames
                </div>
            </div>
            <div class="ui-g-12">
                <!--<div class="ui-g-1"></div>-->
                <div class="ui-g-7" style="margin-left: 16px">
                    <p-checkbox [disabled]="!exceptionData.instrumentException" label="Capture exception logged using logging API (java.util.logging, log4j, ATG logger) "
                        name="exceptionType" [(ngModel)]="exceptionData.exceptionType" binary="true">
                    </p-checkbox>
                </div>
            </div>
        </div>
        <div class="ui-g-12" style="margin-left: 5px;">
            <!--<div class="ui-g-1"></div>-->
            <div class="ui-g-5">
                <p-checkbox name="enableExceptionInSeqBlob" binary="false" label="Enable exception capturing in sequence Blob" [(ngModel)]="exception.enableExceptionInSeqBlob.value"
                    binary="true"></p-checkbox>
            </div>
        </div>
    </p-fieldset>


    <p-fieldset legend="Advance Settings" [toggleable]="true" [collapsed]="true">
        <div class="ui-g-12">
            <span style="font-weight: bold">Source Code Capturing</span>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=0 label="disable" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=1 label="Stack trace only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=2 label="Source code only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=3 label="Source code and class variables only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=4 label="Source code,class variables and method parameters only" [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=5 label="Source code, class variables, method parameters and local variables only"
                [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=6 label="Source code, class variables, method parameters, local variables and threadLocal variables only"
                [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
        <div class="ui-g-12">
            <p-radioButton name="enable" value=7 label="Source code, class variables, method parameters, local variables , threadLocal variables and variables inside Objects only"
                [(ngModel)]="exception.enableExceptionsWithSourceAndVars.value"></p-radioButton>
        </div>
    </p-fieldset>
</form>