<form *ngIf="delayData" (ngSubmit)="saveKeywordData(form)" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Put Delay in Method Settings
            <div class="pull-right">
                <button type="button" pButton icon="fa-refresh" (click)="resetKeywordData()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="!enableGroupKeyword && saveDisable" label="Save"></button>
            </div>
        </div>
        <p-panel class="hideheader">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-g">

                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-2">
                            <label>Fully Qualified Method Name</label>
                        </div>
                        <div class="ui-g-4">
                            <input name="fullyQualifiedName" type="text" size="30" [(ngModel)]="delayData.fullyQualifiedName" pInputText autofocus required ngModel/>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>

                        <div class="ui-g-2">
                            <label>Delay Time Range(in ms)</label>
                        </div>

                        <div class="ui-g-2">
                            From: <input name="from" type="number" style="text-align: right" [(ngModel)]="delayData.from" pInputText required ngModel/>
                        </div>
                        <div class="ui-g-2">
                            To: <input name="to" type="number" style="text-align: right" [(ngModel)]="delayData.to" pInputText required ngModel/>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <!--<div class = "ui-g-6">-->

                        <div class="ui-g-2">
                            <p-checkbox name="cpuHogg" label="Is CPU Hogg" [(ngModel)]="delayData.cpuHoggChk" binary="true"></p-checkbox>
                        </div>

                        <div class="ui-g-4">
                            <i>(Add delay in any specified method using instrumentation)</i>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <!--<div class = "ui-g-6">-->

                        <div class="ui-g-2">
                            <p-checkbox name="autoInstrument" label="Is Auto Instrument" [(ngModel)]="delayData.autoInstrumentChk" binary="true"></p-checkbox>
                        </div>

                        <div class="ui-g-4">
                            <i>(Forcefully putDelay by auto-instrumenting the method if not mentioned in instrProfiles)</i>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</form>