<p-dataTable *ngIf="agentType == 'Java'" class="nde-ui config-ui" [value]="serviceEntryData" [rows]="12" [paginator]="serviceEntryData?.length > 12" [pageLinks]="3" [(selection)]="selectedServiceEntryData">
    <p-header>
            <span class="configui-float-css">
                    <p-checkbox name="groupname" value="val1" [(ngModel)]="checkboxtrue" binary="true" [disabled]="true"></p-checkbox>
                </span>
        <span style="float: left">Enable Service Entry Points</span>
        <span style="float :right; margin-top:-3px">
		 <i class="fa fa-question-circle" title="Help" (click)="sendHelpNotification()"></i>
                 <button pButton type="button" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-plus" title="Add Service Entry Point"></button>
                 <button pButton type="button" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openServiceEntryDialog()" icon="fa-plus" title="Add Service Entry Point"></button>
                 <button pButton type="button"  *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-pencil" title="Edit service entry point"></button>
                 <button pButton type="button" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openEditServiceEntryDialog()" icon="fa-pencil" title="Edit Service Entry Point"></button>
                 <button pButton class="ui-button-danger" type="button" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-trash" title="Delete Service Entry points(s)"></button>
                 <button pButton class="ui-button-danger" type="button" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteServiceEntryPoint()" icon="fa-trash" title="Delete Service Entry Point(s)"></button>
                 <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm"  label="Save"></button>
                 <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="saveServiceEntryOnFile()" label="Save"></button>
        </span>
    </p-header>

    <p-column [style]="{'width':'30px'}" selectionMode="multiple"></p-column>
    <p-column class="tableCss" field="entryType" header="Service Entry Type" [sortable]="true" [style]="{'width':'20%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="name" header="Service Entry Name" [sortable]="true" [style]="{'width':'35%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss config-ui" field="enabled" header="Enable Instrumentation" [sortable]="true" [style]="{'text-align':'center','width':'10%'}">
        <template class="config-ui" let-col let-service="rowData" pTemplate>
            <md-slide-toggle *ngIf="isProfilePerm" [disabled]="isProfilePerm" [(ngModel)]="service[col.field]"></md-slide-toggle>
            <md-slide-toggle *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="enableToggle(service)" [(ngModel)]="service[col.field]"></md-slide-toggle>
        </template>
    </p-column>
    <p-column class="tableCss" field="desc" header="Description" [sortable]="true" [style]="{'width':'40%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column field="isCustomEntry" header="Category" [style]="{'text-align':'center','width':'7%'}">
        <template let-col let-service="rowData" pTemplate>
        <span *ngIf="service[col.field]==true" title="Custom Service Entry Point"> <md-icon class="activeIconClass">border_color</md-icon></span>
        <span *ngIf="service[col.field]==false " title="Predefined Service Entry Point"><md-icon class="inActiveIconClass">enhanced_encryption</md-icon></span>
      </template>
    </p-column>
</p-dataTable>

<p-dataTable *ngIf="agentType == 'Dot Net'" class="nde-ui config-ui" [value]="serviceEntryData" [rows]="12" [paginator]="serviceEntryData?.length > 12" [pageLinks]="3" [(selection)]="selectedServiceEntryData">
    <p-header>
            <span class="configui-float-css">
                    <p-checkbox name="groupname" value="val1" [(ngModel)]="checkboxtrue" binary="true" [disabled]="true"></p-checkbox>
                </span>
        <span style="float: left">  Enable Service Entry Point(s)</span>
        <span style="float :right; margin-top:-3px">
                 <button pButton type="button" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-plus" title="Add Service Entry Point"></button>
                 <button pButton type="button" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openServiceEntryDialog()" icon="fa-plus" title="Add Service Entry Point"></button>
                 <button pButton type="button"  *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-pencil" title="Edit service entry point"></button>
                 <button pButton type="button" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openEditServiceEntryDialog()" icon="fa-pencil" title="Edit Service Entry Point"></button>
                 <button pButton class="ui-button-danger" type="button" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-trash" title="Delete Service Entry points(s)"></button>
                 <button pButton class="ui-button-danger" type="button" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteServiceEntryPoint()" icon="fa-trash" title="Delete Service Entry Point(s)"></button>
                 <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm"  label="Save"></button>
                 <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="saveServiceEntryOnFile()" label="Save"></button>

        </span>
    </p-header>

    <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
    <p-column class="tableCss" field="entryType" header="Type" [sortable]="true" [style]="{'width':'15%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="module" header="Module" [sortable]="true" [style]="{'width':'18%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="name" header="Name" [sortable]="true" [style]="{'width':'32%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss config-ui" field="enabled" header="Enabled" [sortable]="true" [style]="{'text-align':'center','width':'7%'}">
        <template class="config-ui" let-col let-service="rowData" pTemplate>
            <md-slide-toggle *ngIf="isProfilePerm" [disabled]="isProfilePerm" [(ngModel)]="service[col.field]"></md-slide-toggle>
            <md-slide-toggle *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="enableToggle(service)" [(ngModel)]="service[col.field]"></md-slide-toggle>
        </template>
    </p-column>
    <p-column class="tableCss" field="desc" header="Description" [sortable]="true" [style]="{'width':'28%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column field="isCustomEntry" header="Category" [style]="{'text-align':'center','width':'5%'}">
        <template let-col let-service="rowData" pTemplate>
        <span *ngIf="service[col.field]==true" title="Custom Service Entry Point"> <md-icon class="activeIconClass">border_color</md-icon></span>
        <span *ngIf="service[col.field]==false " title="Predefined Service Entry Point"><md-icon class="inActiveIconClass">enhanced_encryption</md-icon></span>
      </template>
    </p-column>
</p-dataTable>
<!-- Download reports as PDF,Excel and Word File  -->
   <div style="margin-top:5px">
          <label>Download Reports as: </label>
          <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download Word file" (click)='downloadReports("WordFile")' src='./images/iconWord.gif'></span>
          <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download Excel file" (click)='downloadReports("ExcelFile")' src='./images/iconExcel.gif'></span>
          <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download PDF file" (click)='downloadReports("PDFFile")' src='./images/iconPDF.gif'></span>
    </div>

<!--Dialog for New Service Entry -->
<p-dialog class="profile-dialog" header="{{isNewServiceEntryPoint ? 'Add Service Entry Point' : 'Edit Service Entry Point'}}" *ngIf="addEditServiceEntryDialog" [(visible)]="addEditServiceEntryDialog" modal="modal" width="700" responsive="true" [resizable]="false">

    <form (ngSubmit)="saveServiceEntryPointService()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Service Entry Type</label>
            </div>
            <div class="ui-g-8">
                <input name="dropdown" type="text" size="25" class='hidden-validator configinput' pInputText [(ngModel)]="serviceEntryPointDetail.entryTypeId" required ngModel/>
                <p-dropdown [options]="entryPointType" [style]="{'width':'180px'}" name="entryTypeId" [(ngModel)]="serviceEntryPointDetail.entryTypeId" placeholder="--Select--"></p-dropdown>
            </div>
        </div>

        <div class="ui-g" *ngIf="!type">
            <div class="ui-g-4">
                <label>Module</label>
            </div>
            <div class="ui-g-8">
                <input name="module" type="text" size="60" pInputText [(ngModel)]="serviceEntryPointDetail.module" required (keydown.space)="$event.preventDefault()" required ngModel/>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-4">
                <label>Service Entry Name</label>
            </div>
            <div class="ui-g-8">
                <input name="name" type="text" size="60" pInputText [(ngModel)]="serviceEntryPointDetail.name" title="Please Enter valid Service Entry Name. &#013;Rule 1: It will accept alphanumeric characters.  &#013;Rule 2: It will not accept special charcters other then (. @ # & - _ /). &#013;Rule 3: It will not accept whitespaces. &#013;Rule 4: Service entry point name is of maximum 100 characters."
                    required pattern="[a-zA-Z]+[a-zA-Z0-9_#@./&-]{0,99}$" (keydown.space)="$event.preventDefault()" ngModel/>
            </div>
        </div>
        <div class="ui-g" *ngIf="!type">
            <div class="ui-g-4">
                <label>Fully Qualified Method Name</label>
            </div>
            <div class="ui-g-8">
                <input name="fqm" type="text" size="60" pattern="[a-zA-Z]+[a-zA-Z0-9_$.]+(([;_$\/\[a-zA-Z0-9]*))+[;_$\/\[a-zA-Z0-9].*" (keydown.space)="$event.preventDefault()" pInputText [(ngModel)]="serviceEntryPointDetail.fqm" required ngModel/>
            </div>
        </div>
        <div class="ui-g" *ngIf="type">
            <div class="ui-g-4">
                <label>Fully Qualified Method Name</label>
            </div>
            <div class="ui-g-8">
                <input name="fqm" type="text" size="60" pattern="[a-zA-Z]+[a-zA-Z0-9_$.]+(\(([;_$\/\[a-zA-Z0-9]*)\))+[;_$\/\[a-zA-Z0-9]*"  (keydown.space)="$event.preventDefault()" pInputText [(ngModel)]="serviceEntryPointDetail.fqm" required ngModel/>
            </div>
        </div>
        <div class="ui-g config-ui">
            <div class="ui-g-4">
                <label>Enable Instrumentation</label>
            </div>
            <div class="ui-g-4">
                <md-slide-toggle [(ngModel)]="serviceEntryPointDetail.enabled" name="enabled" style="margin:0px 0px;"></md-slide-toggle>

            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Description</label>
            </div>
            <div class="ui-g-8">
                <textarea name="desc" rows="2" cols="60" pInputTextarea [(ngModel)]="serviceEntryPointDetail.desc" pattern="[^|]*" ngModel></textarea>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditServiceEntryDialog=false" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>
