<p-dataTable class="nde-ui" [value]="serviceEntryData" [rows]="12" [paginator]="serviceEntryData?.length > 12" [pageLinks]="3">
    <p-header>
        <span style="float: left">  Enable/Disable Service entry points</span>
        <span style="float :right; margin-top:-5px">
            <button pButton type="button" [disabled]="saveDisable" (click)="openServiceEntryDialog()" icon="fa-plus" title="Add Service entry point"></button>
        </span>
    </p-header>

    <!--<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>-->
    <p-column class="tableCss" field="entryType" header="Type" [sortable]="true" [style]="{'width':'15%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="name" header="Name" [sortable]="true" [style]="{'width':'30%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
    <p-column class="tableCss" field="enabled" header="Enabled" [sortable]="true" [style]="{'text-align':'center','width':'10%'}">
        <template let-col let-service="rowData" pTemplate>
            <md-slide-toggle [disabled]="saveDisable" class="toggle-space" (click)="enableToggle(service)" [(ngModel)]="service[col.field]"></md-slide-toggle>
        </template>
    </p-column>
    <p-column class="tableCss" field="desc" header="Description" [sortable]="true" [style]="{'width':'45%'}">
        <template let-col let-service="rowData" pTemplate>
            <span title="{{service[col.field]}}">{{service[col.field]}}</span>
        </template>
    </p-column>
</p-dataTable>

<!--Dialog for New Service Entry -->
<p-dialog header="Add Service entry point" *ngIf="displayNewService" [(visible)]="displayNewService" modal="modal" width="700"
    responsive="true">

    <form (ngSubmit)="saveServiceEntryPointService()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Entry point type</label>
            </div>
            <div class="ui-g-8">
                <input name="dropdown" type="text" size="25" class='hidden-validator' pInputText [(ngModel)]="serviceEntryPointDetail.entryTypeId"
                    required ngModel/>
                <p-dropdown [options]="entryPointType" [style]="{'width':'180px'}" name="entryTypeId" [(ngModel)]="serviceEntryPointDetail.entryTypeId"
                    placeholder="--Select--"></p-dropdown>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-4">
                <label>Name</label>
            </div>
            <div class="ui-g-8">
                <input name="name" type="text" size="60" pInputText [(ngModel)]="serviceEntryPointDetail.name" required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Fully qualified method name</label>
            </div>
            <div class="ui-g-8">
                <input name="fqm" type="text" size="60" pInputText [(ngModel)]="serviceEntryPointDetail.fqm" required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Enable</label>
            </div>
            <div class="ui-g-4">
                <md-slide-toggle [(ngModel)]="serviceEntryPointDetail.enabled" name="enabled" style="margin:0px 0px;"></md-slide-toggle>

            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Description</label>
            </div>
            <div class="ui-g-8">
                <textarea name="desc" rows="2" cols="60" pInputTextarea [(ngModel)]="serviceEntryPointDetail.desc" ngModel></textarea>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="displayNewService=false" label="Cancel"></button>
            </div>
        </footer>
    </form>
    </p-dialog>