<p-dataTable [value]="ndAgentStatusData" [rows]="15" [paginator]="true" [pageLinks]="3">
    <p-header>
        <span>  ND Agent Status </span>
    </p-header>
    <p-column class="col-overflow" field="tier" header="Tier" [sortable]="true"></p-column>

    <p-column class="col-overflow" field="server" header="Server" [sortable]="true"></p-column>

    <p-column class="col-overflow" field="instance" header="Instance" [sortable]="true"></p-column>

    <p-column class="col-overflow" field="installDir" header="Installation Dir" [sortable]="true"></p-column>

    <p-column class="col-overflow" field="version" header="Versionr" [sortable]="true"></p-column>

    <p-column class="col-overflow" field="bciRunningSince" header="Running Since" [sortable]="true"></p-column>

    <p-column class="col-overflow" field="state" header="State" [sortable]="true"></p-column>

</p-dataTable>