<form *ngIf="monitor" (ngSubmit)="saveKeywordData()" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Monitors settings
            <div class="pull-right">
                <button type="button" pButton icon="fa-refresh" [disabled]="saveDisable || !enableGroupKeyword" (click)="resetKeywordData()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="saveDisable || !enableGroupKeyword" label="Save"></button>
            </div>
        </div>
        <p-panel class="hideheader">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid configui-hideheader">
                <!--<div class="ui-g">
                    <div class="ui-g-1"></div>Monitors</div>-->
                <div class="ui-g-12">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <p-checkbox name="enableBTMonitor" [(ngModel)]="enableBTMonitorChk" label="Monitor business transactions" binary="true" ngModel></p-checkbox>
                    </div>
                </div>
                <!--<div class="ui-g">
                    <div class="ui-g-1"></div> Backend Monitors</div>-->
                <div class="ui-g-12">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <p-checkbox name="enableBackendMonitor" [(ngModel)]="enableBackendMonitorChk" binary="true" ngModel label="Backend monitor"></p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="agentType == 'NodeJS'">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <p-checkbox name="eventLoopMonitor" [(ngModel)]="eventLoopMonitorChk" binary="true" ngModel label="Average time taken by event loop"></p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="agentType == 'NodeJS'">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <p-checkbox name="gcProfiler" [(ngModel)]="gcProfilerChk" binary="true" ngModel label="GC and heap usage information"></p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="agentType == 'NodeJS'">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <p-checkbox name="nodeAsyncEventMonitor" [(ngModel)]="nodeAsyncEventMonitorChk" binary="true" ngModel label="Asynchronous events information"></p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="agentType == 'NodeJS'">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-4">
                        <p-checkbox name="nodeServerMonitor" [(ngModel)]="nodeServerMonitorChk" binary="true" ngModel label="Server request/response information on particular node server"></p-checkbox>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="agentType == 'NodeJS'">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-4">
                      <label>Profile CPU for particular time for nodejs agent (in seconds)</label>
                    </div>
        
                    <div class="ui-g-3">
                      <input type="number" name="nodejsCpuProfilingTime" [(ngModel)]="monitor.nodejsCpuProfilingTime.value"
                        class="configui-debug-css-2" required ngModel>
                    </div>
                  </div>
            </div>
        </p-panel>
    </div>
</form>