<p-panel header="Backend Monitors Settings">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

    <form *ngIf="backend" (ngSubmit)="saveKeywordData()" #form="ngForm">
      
        <div class="ui-g-12" style="padding-left: 50px">
         
         <div class="ui-g-2"> <p-checkbox name="enableBackendMonitor" [(ngModel)]="enableBackendMonitorChk" binary="true" ngModel label="Backend Monitor">
          </p-checkbox></div>
      
      </div>

      <div class="pull-right">
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="submit" pButton icon="fa-check" label="Save"></button>
          <button type="button" pButton icon="fa-refresh" label="Reset"></button>
        </div>
      </div>
    </form>
  </div>
</p-panel>