<div class='tabs-all'>
    <p-tabView (onChange)="handleChange($event)">
        <p-tabPanel header="Flowpath" [selected]="index == 0">
            <app-flowpath *ngIf="index == 0" [saveDisable]="saveDisable" (keywordData)="saveKeywordData($event)"></app-flowpath>
        </p-tabPanel>
        <p-tabPanel header="Hotspot" [selected]="index == 1">
            <app-hotspot *ngIf="index == 1" (keywordData)="saveKeywordData($event)"></app-hotspot>
        </p-tabPanel>
        <p-tabPanel header="Thread CPU Monitor" [selected]="index == 2">
            <app-thread-stats *ngIf="index == 2" (keywordData)="saveKeywordData($event)"></app-thread-stats>
        </p-tabPanel>
        <p-tabPanel header="Exception" [selected]="index == 3">
            <app-exception *ngIf="index == 3" (keywordData)="saveKeywordData($event)"></app-exception>
        </p-tabPanel>
        <p-tabPanel header="Flowpath Header" [selected]="index == 4">
            <app-header *ngIf="index == 4" (keywordData)="saveKeywordData($event)"></app-header>
        </p-tabPanel>
        <p-tabPanel header="Intrumentation Profiles" [selected]="index == 5">
            <app-instrumentation-profiles [profileId]="profileId" *ngIf="index == 5" (keywordData)="saveKeywordData($event)"></app-instrumentation-profiles>
        </p-tabPanel>
    </p-tabView>
</div>