<div class='tabs-all'>
  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Flowpath" [selected]="index == 0">
      <app-flowpath *ngIf="index == 0" [saveDisable]="saveDisable" (keywordData)="saveKeywordData($event)"></app-flowpath>
    </p-tabPanel>
    <p-tabPanel header="Hotspot" [selected]="index == 1">
      <app-hotspot *ngIf="index == 1" [saveDisable]="saveDisable" (keywordData)="saveKeywordData($event)"></app-hotspot>
    </p-tabPanel>
    <p-tabPanel header="Exception" [selected]="index == 2">
      <app-exception *ngIf="index == 2" (keywordData)="saveKeywordData($event)"></app-exception>
    </p-tabPanel>
    <p-tabPanel header="Flowpath Header" [selected]="index == 3">
      <app-header *ngIf="index == 3" [saveDisable]="saveDisable" (keywordData)="saveKeywordData($event)"></app-header>
    </p-tabPanel>
    <p-tabPanel header="Instrumentation Profiles" [selected]="index == 4">
      <app-instrumentation-profiles [profileId]="profileId" *ngIf="index == 4" [saveDisable]="saveDisable" (keywordData)="saveKeywordData($event)"></app-instrumentation-profiles>
    </p-tabPanel>
  </p-tabView>
</div>

<p-dialog class="profile-dialog" header="Runtime changes partially applied on instances" *ngIf="errDialog" [(visible)]="errDialog" modal="modal"
  width="500" responsive="true">
  <div style="max-height: 500px; overflow-y: auto;">
    Runtime changes successfully applied on: 
    <ul>
     <li *ngFor="let err of msg">
        <span>{{err}}</span>
     </li>
    </ul>
    Error while applying Runtime changes on:
    <ul>
      <li *ngFor="let e of errMsg">
         <span>{{e}}</span>
      </li>
     </ul>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-wnameget-content ui-helper-clearfix">
      <button type="button" pButton (click)="errDialog=false" icon="fa-check" label="Ok"></button>
    </div>
  </footer>
</p-dialog>
