<form (ngSubmit)="saveKeywordData()" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Integration Point Settings
            <div class="pull-right">
                    <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Reset to Default"></button>
                     <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordsDataToDefault()" label="Reset to Default"></button>
                     <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordData()" label="Reset"></button>
                     <button type="button"  pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="resetKeywordData()" label="Reset"></button>
                     <button type="submit" *ngIf="isProfilePerm" [disabled]="isProfilePerm" pButton icon="fa-check" label="Save"></button>
                     <button type="submit" *ngIf="!isProfilePerm" pButton icon="fa-check" [disabled]="saveDisable" label="Save"></button>


            </div>
        </div>
        <p-panel class="hideheader">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid configui-hideheader">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-g-3">
                                <p-checkbox name="enableIPResourceURL" label="Capture URL" [(ngModel)]="enableIPResourceURL" binary="false"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-5">
                            <p-checkbox  [disabled]="!this.enableIPResourceURL" name="enableURLCapturing" label="Capture Endpoint URL" [(ngModel)]="enableFormatIPResourceURL" binary="false"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-5" style="padding-left:25px">
                            <p-checkbox [disabled]="!this.enableFormatIPResourceURL || !this.enableIPResourceURL" name="includeParameter" label="Capture request parameters" [(ngModel)]="urlCapturingData.includeParameter" binary="true"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-2" style="padding-left:25px;width: 10%">
                            <label>Extract URL from</label>
                        </div>
                        <div class="ui-g-1">
                            <input [disabled]="!this.enableFormatIPResourceURL || !this.enableIPResourceURL" name="urlOffset" type="number" #offset (input)="checkOffset(offset, maxChar)" min="0" max="10000" [(ngModel)]="urlCapturingData.urlOffset" pInputText ngModel/>
                        </div>
                        <div class="ui-g-1" style="width: 2%">
                            <label>to</label>
                        </div>
                        <div class="ui-g-1">
                            <input [disabled]="!this.enableFormatIPResourceURL || !this.enableIPResourceURL" name="maxChar" type="number" #maxChar (input)="checkMaxChar(offset, maxChar)" min="0" max="10000" [(ngModel)]="urlCapturingData.maxChar" pInputText ngModel/>
                        </div>
                        <div class="ui-g-1">
                            <label>characters</label>
                        </div>
                    </div>

                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3">
                            <p-checkbox name="dumpDefaultCassandraQuery" label="Capture cassandra query" [(ngModel)]="dumpDefaultCassandraQuery" binary="false"></p-checkbox>
                    </div>
                </div>


                <div class="ui-g-12">
                    <div class="ui-g-3">
                            <p-checkbox name="enableTransformThreadSubClass" label="Capture Thread subclasses" [(ngModel)]="enableTransformThreadSubClass" binary="false"></p-checkbox>
                    </div>
                </div>

                <div class="ui-g-12">
                        <div class="ui-g-3">
                                <p-checkbox name="enableCaptureNetDelay" label="Capture Network Delay" [(ngModel)]="enableCaptureNetDelay" binary="false"></p-checkbox>
                        </div>
                    </div>
            </div>
        </p-panel>
    </div>
</form>
