<form (ngSubmit)="saveKeywordData()" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">
            <p-checkbox name="captureCustomData" label="Capture Custom Data from" [(ngModel)]="captureCustomData" binary="true">
            </p-checkbox>

            <div class="pull-right">
                <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Save"></button>
                <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable || !enableGroupKeyword" label="Save"></button>

            </div>
        </div>

        <p-tabView class="sessionTab">
            <p-tabPanel header="Method">
                <app-java-method [saveDisable]="saveDisable"></app-java-method>
            </p-tabPanel>
            <p-tabPanel header="Session Attribute">
                <app-session-attribute [saveDisable]="saveDisable"></app-session-attribute>
            </p-tabPanel>
            <p-tabPanel header="HTTP Request Header">
                <app-http-request [saveDisable]="saveDisable"></app-http-request>
            </p-tabPanel>
        </p-tabView>
    </div>
</form>