/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Open+Sans';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

/*---------------Fonts CSS---------------*/

@charset "UTF-8";
@font-face {
    font-family: "ndegui-icon";
    src: url("fonts/ndegui-icon.eot");
    src: url("fonts/ndegui-icon.eot?#iefix") format("embedded-opentype"), url("fonts/ndegui-icon.woff") format("woff"), url("fonts/ndegui-icon.ttf") format("truetype"), url("fonts/ndegui-icon.svg#ndegui-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "ndegui-icon" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ndegui-"]:before,
[class*=" ndegui-"]:before {
    font-family: "ndegui-icon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ndegui-application:before {
    content: "\e00d";
}

.ndegui-group:before {
    content: "\e00e";
}

.ndegui-home1:before {
    content: "\e00f";
}

.ndegui-nd-agent:before {
    content: "\e010";
}

.ndegui-profile:before {
    content: "\e011";
}

.ndegui-topology:before {
    content: "\e012";
}

.ndegui-server:before {
    content: "\e013";
}

.ndegui-tier:before {
    content: "\e014";
}

.ndegui-topology-1:before {
    content: "\e015";
}

.ndegui-instance:before {
    content: "\e016";
}

.ndeicon {
    margin: 0;
    overflow: hidden;
    font-size: 2em;
}


/*------------------*/

body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: url('assets/img/ocean.jpg') center #000000;
}

.nde-ui .ui-datatable .ui-datatable-thead>tr>th {
    background: #3c8fe8 !important;
    color: white;
    font-weight: 600;
}

.nde-ui .ui-datatable .ui-datatable-tfoot>tr>td,
.ui-datatable .ui-datatable-data>tr>td {
    height: 30px !important;
    text-overflow: ellipsis !important;
}

.nde-ui .ui-datatable thead tr {
    height: 24px;
    /*background: #3c8fe8 !important;*/
}

.main .ui-g {
    margin: 0px !important;
}


/*-----------------Cutom CSS---------------*/

.ndegui-sidenav {
    background: #000;
    margin-right: 15px;
    min-width: 6%;
    overflow: initial;
    top: 30px;
    min-height: 580px;
}

.ndegui-sidenav .mat-sidenav {
    top: 30px;
    background-color: black !important;
    height: 580px;
}

button[md-icon-button] {
    border-bottom: 1px #353535 solid;
}

.top-nav-bar {
    font-size: 12px;
    background: rgba(255, 255, 255, 0.75) !important;
    margin: 1px -15px;
    margin-bottom: 8px;
}

ul.cav-menu-ul {
    margin-top: 0;
}

.custom-breadcrumb .ui-breadcrumb {
    border-radius: 0px;
    border: 0;
    padding: 0.5em;
}

.top-nav-bar .ui-breadcrumb ul li.fa {
    margin: 0 !important;
}

.top-nav-bar .ui-widget-header {
    background: transparent;
}

li.ui-breadcrumb-chevron.fa.fa-chevron-right {
    font-size: 10px;
}

.header-button {
    padding-top: 5px !important;
}

.widget {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 4px;
    box-shadow: 0 0 8px 2px #2d2d2d;
    padding: 8px;
}

.widget .header {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 6px;
    margin: -8px -8px 10px;
    background: #183D65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.header-content {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 6px;
    margin: 10px 0 0 0;
    background: #31669f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.ndegui_left button {
    background: transparent !important;
}

.ui-datatable-odd {
    background-color: #e8f4ff;
}

.table-css .ui-datatable .ui-datatable-data>tr>td {
    border: 1px #adadad solid;
}

.tabs-all {
    box-shadow: 0 0 8px 2px #2d2d2d;
    background: rgba(255, 255, 255, 0.65);
}

.tabs-all .ui-tabview {
    background: rgba(255, 255, 255, 0.65);
    padding: 1em;
}

.tabs-all .ui-tabview .ui-tabview-nav>li.ui-state-default.ui-state-active {
    background: #71a1e6;
    font-weight: normal;
    color: #fff;
}

.tabs-all .ui-tabview .ui-tabview-nav>li.ui-state-default {
    background: #e7eef5;
}

.tabs-all .ui-tabview .ui-tabview-nav li a,
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
    color: #000 !important;
}

.tabs-all .ui-tabview.ui-tabview-top>.ui-tabview-nav {
    padding: 0;
}

.tabs-all .ui-tabview .ui-tabview-panel {
    border: 1px #2b5797 solid;
    /*background: rgba(43, 87, 151, 0.15);*/
    /*#2b5797;*/
}

.tabs-all .ui-panel .ui-panel-content {
    background: #fff;
}

.tabs-all .ui-g {
    padding: 5px;
}

.tabsincontent {
    border-radius: 4px;
}

.tabsincontent .header {
    color: #fff;
    font-size: 12px;
    padding: 4px 6px 2px;
    background: #183D65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.tabsincontent .header .pull-right {
    margin: -2px 0 0;
}

.hyperlink {
    text-decoration: underline;
    cursor: pointer;
}

.card-toggle .mat-slide-toggle-thumb {
    height: 16px;
    width: 16px;
}

.card-toggle .mat-slide-toggle-bar {
    width: 33px;
    height: 12px;
}

.hideheader .ui-panel.ui-widget .ui-panel-titlebar.ui-corner-all {
    opacity: 0 !important;
}


/* 
hide it behind the dropdown component, the required 
  HTML5 pop up still shows which is good and the form
 is still marked as not valid 
*/

.hidden-validator {
    position: absolute;
    /*left: 272px;*/
    z-index: -1;
}


/*.ui-radiobutton .ui-radiobutton-box {
    width: 12px !important;
    height: 12px !important
}*/

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #77d218 !important;
}

.mat-slide-toggle-thumb {
    background-color: #cccccc;
}

.mat-slide-toggle-bar {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(92, 136, 48) !important;
}

.profile-dialog .ui-dialog .ui-dialog-titlebar {
    margin: 0 !important;
    padding: 5px !important;
    background: #183D65 !important;
    color: #fff;
    font-size: 11px;
}

.profile-dialog .ui-dialog .ui-dialog-titlebar-close {
    color: #fff;
}

.profile-dialog .ui-dialog .ui-dialog-buttonpane {
    padding: 0px !important;
}

input[type="number"] {
    text-align: right;
}

.flowpathheader-accordion {
    color: #000;
}

.flowpathheader-accordion .ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    /*Comment because of it effects on Scenario Module*/
    /*color: #000 !important;*/
}

.flowpathheader-accordion .ui-accordion .ui-accordion-header.ui-state-active {
    background: #ececec;
}

.config-tree {
    min-height: 480px;
    max-height: 480px;
    width: 100%;
    background: rgba(255, 255, 255, 0.65);
    overflow-y: auto;
    overflow-x: hidden;
}


/*For hiding scroll in tree node */

.config-tree>.ui-tree .ui-tree-container {
    overflow: hidden;
}

.sessionTab .ui-tabview .ui-tabview-panel {
    min-height: 64px;
}

.ui-widget-content {
    overflow: visible !important;
}

.ui-datatable .ui-datatable-header {
    height: 25px;
}

.iconCss .icon {
    float: initial !important;
}