/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
body {
    font-family: Roboto;
    background: url('assets/img/wall_num5.jpg');
}

.ui-datatable .ui-datatable-thead>tr>th {
    background: #3c8fe8;
}

.ui-datatable .ui-datatable-thead>tr>th,
.ui-datatable .ui-datatable-tfoot>tr>td,
.ui-datatable .ui-datatable-data>tr>td {
    height: 29px;
    text-overflow: ellipsis;
}

.ui-datatable .ui-datatable-thead>tr>th {
    color: white;
}