<div class="ui-g">
    <div class="ui-g-6" style="margin-bottom:5px; font-weight: bold">
        HTTP Business transaction configuration
    </div>

    <div class="ui-g-12" style="background: #ededf0">
        <div class="ui-g-6">
            <p-radioButton name="BusinessTransaction" value="global" label="URI without query parameters" (click)="setSelectedValueOfBT('global')" [(ngModel)]="selectedQueryPattern"></p-radioButton>
        </div>
        <div class="ui-g-6">
            <p-radioButton name="BusinessTransaction" value="pattern" label="Pattern" (click)="setSelectedValueOfBT('pattern')" [(ngModel)]="selectedQueryPattern"></p-radioButton>
        </div>
    </div>
</div>
<div class="ui-g" *ngIf="selectedQueryPattern == 'global'" style="margin-bottom:10px; border: ridge;">
    <form (ngSubmit)="saveBusinessTransaction()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g-12 header-font-size">
            <div class="ui-g-6"> Select part of URI used in transaction name </div>
            <div class="ui-g-6" style="text-align:right">
                <button type="button" pButton icon="fa-refresh" (click)="resetBusinessTransaction()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="saveDisable" label="Save"></button>
            </div>
        </div>
        <div class="ui-g-12 padding-left-css">
            <p-radioButton name="partOfURI" label="Complete" value="complete" [(ngModel)]="segmentURI"></p-radioButton>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2 segment-type-css">
                <p-radioButton name="partOfURI" label="Segment of URI" value="segmentOfURI" [(ngModel)]="segmentURI"></p-radioButton>
            </div>
            <div class="ui-g-2">
                <p-dropdown name="segmentType" [disabled]="!(segmentURI == 'segmentOfURI')" [style]="{'width':'68%'}" [options]="segmentList" [(ngModel)]="globalBtDetail.segmentType"></p-dropdown>
            </div>
            <div class="ui-g-2" style="margin-top:4px">
                Segment(s) of URI in transaction</div>
            <div class="ui-g-2"> <input name="segmentValue" style="text-align:right" [disabled]="!(segmentURI == 'segmentOfURI')" type="text" style="width: 50%" pInputText [(ngModel)]="globalBtDetail.segmentValue" required/>
            </div>
        </div>

        <div class="ui-g-12 header-font-size">
            <label>Transaction threshold</label>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-1"><label>Slow</label></div>
            <div class="ui-g-10 text-box-Css">
                <input name="slowTransaction" #slow (input)="checkSlow(slow, vslow)" style="text-align:right; width:70px " type="number" min=1 pInputText [(ngModel)]="globalBtDetail.slowTransaction" required/>(ms)
            </div>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-1"> <label>Very slow</label> </div>
            <div class="ui-g-10 text-box-Css">
                <input name="verySlowTransaction" #vslow (input)="checkVSlow(slow, vslow)" style="text-align:right ; width:70px" type="number" min=1 pInputText [(ngModel)]="globalBtDetail.verySlowTransaction" required />(ms)
            </div>
        </div>
        <div class="ui-g-12 header-font-size">
            <p-checkbox name="dynamicReqType" label="Choose dynamic request type" [(ngModel)]="globalBtDetail.dynamicReqType" binary="true"></p-checkbox>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton disabled="{{!globalBtDetail.dynamicReqType}}" name="dynamicReqValue" value="requestParam" label="Query parameter" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10 ">
                <input name="requestParam" [disabled]="(!(globalBtDetail.dynamicReqValue == 'requestParam') || !globalBtDetail.dynamicReqType) " type="text" size="32" pInputText [(ngModel)]="globalBtDetail.requestParam" required />
            </div>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton disabled="{{!globalBtDetail.dynamicReqType}}" name="dynamicReqValue" value="httpMethod" label="HTTP method" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10">
                Use the request method (GET/POST/PUT) in transaction names.
            </div>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton disabled="{{!selectedDynamicRequestType}}" name="dynamicReqValue" value="requestHeader" label="HTTP header" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10">
                <input name="requestHeader" [disabled]="(!(globalBtDetail.dynamicReqValue == 'requestHeader') || !globalBtDetail.dynamicReqType)" type="text " size="32 " pInputText [(ngModel)]="globalBtDetail.requestHeader " placeholder="HTTP HEADER " required />
            </div>
        </div>
    </form>
</div>

<div class="ui-g" *ngIf="selectedQueryPattern == 'pattern'" style="margin-bottom:10px; border: ridge;">
    <!--For showing Bussiness Transaction Pattern(s) list -->
    <p-dataTable [value]="businessTransPatternInfo" [(selection)]="selectedPatternData" [rows]="10" [paginator]="businessTransPatternInfo?.length > 10" [pageLinks]="3">
        <p-header [style]="{'height':'25px'}">
            <span style="float: left;">Bussiness transaction pattern list</span>
            <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add a bussiness transaction pattern" [disabled]="saveDisable" (click)="openAddPatternDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit a bussiness transaction pattern" [disabled]="saveDisable" (click)="editPatternDialog()" icon="fa-pencil" ></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete bussiness transaction pattern" [disabled]="saveDisable" (click)="deletePattern()" icon="fa-trash"></button>
                    </span>
        </p-header>
        <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
        <p-column class="col-overflow" field="btName" header="Name" [sortable]="true" [style]="{'width':'19%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}"><a [routerLink]="['/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="matchType" header="Match type" [sortable]="true" [style]="{'width':'8%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="urlName" header="URL" [sortable]="true" [style]="{'width':'23%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="include" header="BT included" [sortable]="true" [style]="{'width':'6%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="slowTransaction" header="Slow transaction threshold(ms)" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}" style="float:right">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="verySlowTransaction" header="Very slow transaction threshold(ms)" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}" style="float:right">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="paramKeyValue" header="Req param key value" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="reqMethod" header="HTTP method" [sortable]="true" [style]="{'width':'6%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="headerKeyValue" header="Req header key value" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>

    </p-dataTable>
</div>

<!--Dialog for ADD and Edit Pattern-->
<p-dialog header="{{isNewApp ? 'Add business transaction pattern' : 'Edit business transaction pattern'}}" *ngIf="addEditPatternDialog" [(visible)]="addEditPatternDialog" modal="modal" width="950" responsive="true">
    <form (ngSubmit)="saveADDEditBTPatternTrans()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>Bussiness transaction name</label>
                </div>
                <div class="ui-g-5">
                    <input name="btName" type="text" size="40" pInputText [(ngModel)]="businessTransPatternDetail.btName" autofocus required ngModel/>
                </div>
                <div class="ui-g-4">
                    <p-checkbox name="include" label="Include" [(ngModel)]="chkInclude" binary="false"></p-checkbox>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>URL pattern</label>
                </div>
                <div class="ui-g-5">
                    <input name="urlName" type="text" size="40" pInputText [(ngModel)]="businessTransPatternDetail.urlName" required ngModel />
                </div>
                <div class="ui-g-4">
                    <input name="dropdown" type="text" size="10" class='hidden-validator' pInputText [(ngModel)]="businessTransPatternDetail.matchType" required ngModel/>
                    <p-dropdown name="matchType" [style]="{'width':'100px'}" [options]="matchModeList" placeholder="Select mode" [(ngModel)]="businessTransPatternDetail.matchType" required ngModel></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12 header-font-size">
                <label>Transaction threshold (ms)</label>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6">
                    <div class="ui-g-3" style="padding-left: 20px">
                        Slow </div>
                    <div class="ui-g-7"><input name="slowTransaction" style="text-align:right" type="text" size="10" pInputText [(ngModel)]="businessTransPatternDetail.slowTransaction" placeholder="Slow" required ngModel />(ms)
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <div class="ui-g-3" style="padding-left: 20px">
                        Very slow </div>
                    <div class="ui-g-8">
                        <input name="verySlowTransaction" type="text" style="text-align:right" size="10" pInputText [(ngModel)]="businessTransPatternDetail.verySlowTransaction" placeholder="Very Slow" required ngModel />(ms)
                    </div>
                </div>
            </div>

            <div class="ui-g-12 header-font-size">
                <p-checkbox name="dynamicPartReq" label="Dynamic part request  (Please select atleast one dynamic part)" [(ngModel)]="businessTransPatternDetail.dynamicPartReq" binary="false"></p-checkbox>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6" style="padding-left: 20px">
                    <div class="ui-g-5">
                        <label>Request parameter key</label>
                    </div>
                    <div class="ui-g-7">
                        <input name="reqParamKey" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqParamKey" />
                    </div>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-2">
                        <label>Value</label>
                    </div>
                    <div class="ui-g-8">
                        <input name="reqParamValue" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqParamValue" />
                    </div>
                </div>

            </div>

            <div class="ui-g-12">
                <div class="ui-g-6" style="padding-left: 20px">
                    <div class="ui-g-5">
                        <label>Request header key</label>
                    </div>
                    <div class="ui-g-7">
                        <input name="reqHeaderKey" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqHeaderKey" />
                    </div>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-2">
                        <label>Value</label>
                    </div>
                    <div class="ui-g-8">
                        <input name="reqHeaderValue" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqHeaderValue" />
                    </div>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6" style="padding-left: 20px">
                    <div class="ui-g-5">
                        <label>Method type</label>
                    </div>
                    <div class="ui-g-7">
                        <p-dropdown name="reqMethod" [disabled]="!businessTransPatternDetail.dynamicPartReq" [style]="{'width':'70%'}" [options]="methodTypeList" [(ngModel)]="businessTransPatternDetail.reqMethod"></p-dropdown>
                    </div>
                </div>
            </div>

        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>