<div class="ui-g">
    <div class="ui-g-6" style="margin-bottom:5px; font-weight: bold">
        HTTP Business Transaction Configuration
    </div>

    <div class="ui-g-12" style="background: #ededf0">
        <div class="ui-g-6">
            <p-radioButton name="BusinessTransaction" value="uriWithoutQueryParameters" label="URI without Query Parameters" [(ngModel)]="selectedQueryPattern"></p-radioButton>
        </div>
        <div class="ui-g-6">
            <p-radioButton name="BusinessTransaction" value="pattern" label="Pattern" [(ngModel)]="selectedQueryPattern"></p-radioButton>
        </div>
    </div>
</div>
<div class="ui-g" *ngIf="selectedQueryPattern == 'uriWithoutQueryParameters'" style="margin-bottom:10px; border: ridge;">
    <form (ngSubmit)="saveBusinessTransaction()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g-12 header-font-size">
            <div class="ui-g-6"> Select part of URI used in Transaction name </div>
            <div class="ui-g-6" style="text-align:right">
                <button type="button" pButton icon="fa-refresh" (click)="resetBusinessTransaction()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" label="Save"></button>
            </div>
        </div>
        <div class="ui-g-12 padding-left-css">
            <p-radioButton name="partOfURI" label="Complete" value="complete" [(ngModel)]="segmentURI"></p-radioButton>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2 segment-type-css">
                <p-radioButton name="partOfURI" label="Segment of URI" value="segmentOfURI" [(ngModel)]="segmentURI"></p-radioButton>
            </div>
            <div class="ui-g-2">
                <p-dropdown name="segmentType" [disabled]="!(segmentURI == 'segmentOfURI')" [style]="{'width':'68%'}" [options]="segmentList" [(ngModel)]="globalBtDetail.segmentType"></p-dropdown>
            </div>
            <div class="ui-g-2" style="margin-top:4px">
                Segments of URI in Transaction</div>
            <div class="ui-g-2"> <input name="segmentValue" style="text-align:right" [disabled]="!(segmentURI == 'segmentOfURI')" type="text" size="10" pInputText [(ngModel)]="globalBtDetail.segmentValue" />
            </div>
        </div>

        <div class="ui-g-12 header-font-size">
            <label>Transaction Threshold</label>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-1"><label>Slow</label></div>
            <div class="ui-g-10 text-box-Css"> <input name="slowTransaction" style="text-align:right" type="text" size="10" pInputText [(ngModel)]="globalBtDetail.slowTransaction" />(ms)</div>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-1"> <label>Very Slow</label> </div>
            <div class="ui-g-10 text-box-Css"> <input name="verySlowTransaction" style="text-align:right" type="text" size="10" pInputText [(ngModel)]="globalBtDetail.verySlowTransaction" />(ms)</div>
        </div>
        <div class="ui-g-12 header-font-size">
            <p-checkbox name="dynamicReqType" label="Choose Dynamic Request type" [(ngModel)]="globalBtDetail.dynamicReqType" binary="true"></p-checkbox>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton disabled="{{!globalBtDetail.dynamicReqType}}" name="dynamicReqValue" value="requestParam" label="Query Parameter" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10 ">
                <input name="requestParam" [disabled]="(!(globalBtDetail.dynamicReqValue == 'requestParam') || !globalBtDetail.dynamicReqType) " type="text" size="32" pInputText [(ngModel)]="globalBtDetail.requestParam" placeholder="Query Parameter " />
            </div>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton disabled="{{!globalBtDetail.dynamicReqType}}" name="dynamicReqValue" value="httpMethod" label="HTTP METHOD" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10">
                Use the request method (GET/POST/PUT) in Transaction names.
            </div>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton disabled="{{!selectedDynamicRequestType}}" name="dynamicReqValue" value="requestHeader" label="HTTP HEADER" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10">
                <input name="requestHeader" [disabled]="(!(globalBtDetail.dynamicReqValue == 'requestHeader') || !globalBtDetail.dynamicReqType)" type="text " size="32 " pInputText [(ngModel)]="globalBtDetail.requestHeader " placeholder="HTTP HEADER " />
            </div>
        </div>
    </form>
</div>

<div class="ui-g" *ngIf="selectedQueryPattern == 'pattern'" style="margin-bottom:10px; border: ridge;">
    <!--For showing Bussiness Transaction Pattern(s) list -->
    <p-dataTable [value]="businessTransPatternInfo" [(selection)]="selectedPatternData" [rows]="15" [paginator]="true" [pageLinks]="3">
        <p-header>
            <span>  Bussiness Transaction Pattern(s) </span>
            <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openAddPatternDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit"(click)="editPatternDialog()" icon="fa-pencil" ></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete" (click)="deletePattern()" icon="fa-trash"></button>
                    </span>
        </p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column class="col-overflow" field="btName" header="Name" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}"><a [routerLink]="['/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="matchType" header="Match Type" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="urlName" header="URL" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                      <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="include" header="BT Included" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="slowTransaction" header="Slow Transaction Threshold(ms)" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="verySlowTransaction" header="Very Slow Transaction Threshold(ms)" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="paramKeyValue" header="Req Param key Value" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="reqMethod" header="HTTP Method" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>
        <p-column class="col-overflow" field="headerKeyValue" header="Req Header key Value" [sortable]="true">
            <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
        </p-column>

    </p-dataTable>
</div>

<!--Dialog for ADD and Edit Pattern-->
<p-dialog header="{{isNewApp ? 'Add Business Transaction Pattern' : 'Edit Business Transaction Pattern'}}" *ngIf="addEditPatternDialog" [(visible)]="addEditPatternDialog" modal="modal" width="950" responsive="true">
    <form (ngSubmit)="saveADDEditBTPatternTrans()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>Bussiness Transaction Name</label>
                </div>
                <div class="ui-g-5">
                    <input name="btName" type="text" size="40" pInputText [(ngModel)]="businessTransPatternDetail.btName" placeholder="Bussiness Transaction Name" autofocus required ngModel/>
                </div>
                <div class="ui-g-4">
                    <p-checkbox name="include" label="Include" [(ngModel)]="businessTransPatternDetail.include" binary="false"></p-checkbox>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>URL</label>
                </div>
                <div class="ui-g-5">
                    <input name="urlName" type="text" size="40" pInputText [(ngModel)]="businessTransPatternDetail.urlName" placeholder="URL" required ngModel />
                </div>
                <div class="ui-g-4">
                    <p-dropdown name="matchType" [style]="{'width':'40%'}" [options]="matchModeList" [(ngModel)]="businessTransPatternDetail.matchType" appendTo="body" required ngModel placeholder="Match Mode"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12 header-font-size">
                <label>Transaction Threshold (ms)</label>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6">
                    <div class="ui-g-3" style="padding-left: 20px">
                        Slow </div>
                    <div class="ui-g-7"><input name="slowTransaction" style="text-align:right" type="text" size="10" pInputText [(ngModel)]="businessTransPatternDetail.slowTransaction" placeholder="Slow" required ngModel />(ms)
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <div class="ui-g-3" style="padding-left: 20px">
                        Very Slow </div>
                    <div class="ui-g-8">
                        <input name="verySlowTransaction" type="text" style="text-align:right" size="10" pInputText [(ngModel)]="businessTransPatternDetail.verySlowTransaction" placeholder="Very Slow" required ngModel />(ms)
                    </div>
                </div>
            </div>

            <div class="ui-g-12 header-font-size">
                <p-checkbox name="dynamicPartReq" label="Dynamic Part Request  (Please select atleast one Dynamic Part)" [(ngModel)]="businessTransPatternDetail.dynamicPartReq" binary="false"></p-checkbox>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6" style="padding-left: 20px">
                    <div class="ui-g-5">
                        <label>Request Parameter key</label>
                    </div>
                    <div class="ui-g-7">
                        <input name="reqParamKey" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqParamKey" placeholder="Request Parameter key" />
                    </div>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-2">
                        <label>Value</label>
                    </div>
                    <div class="ui-g-8">
                        <input name="reqParamValue" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqParamValue" placeholder="Value" />
                    </div>
                </div>

            </div>

            <div class="ui-g-12">
                <div class="ui-g-6" style="padding-left: 20px">
                    <div class="ui-g-5">
                        <label>Request Header key</label>
                    </div>
                    <div class="ui-g-7">
                        <input name="reqHeaderKey" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqHeaderKey" placeholder="Request Header key" />
                    </div>
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-2">
                        <label>Value</label>
                    </div>
                    <div class="ui-g-8">
                        <input name="reqHeaderValue" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqHeaderValue" placeholder="Value" />
                    </div>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-6" style="padding-left: 20px">
                    <div class="ui-g-5">
                        <label>Select Method Type</label>
                    </div>
                    <div class="ui-g-7">
                        <p-dropdown name="reqMethod" [disabled]="!businessTransPatternDetail.dynamicPartReq" [style]="{'width':'70%'}" [options]="methodTypeList" [(ngModel)]="businessTransPatternDetail.reqMethod" placeholder="Select Method Type" appendTo="body"></p-dropdown>
                    </div>
                </div>
            </div>

        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>