<div class="ui-g">
    <div class="ui-g-6" style="margin-bottom:5px; font-weight: bold">
        Business Transaction Configuration Rule Type
    </div>

    <div class="ui-g-12">
        <div class="ui-g-3">
            <p-radioButton name="BusinessTransaction" value="global" label="Global Configuration" *ngIf="isProfilePerm" [disabled]="isProfilePerm" [(ngModel)]="selectedQueryPattern"></p-radioButton>
            <p-radioButton name="BusinessTransaction" value="global" label="Global Configuration" *ngIf="!isProfilePerm" [disabled]="saveDisable" [(ngModel)]="selectedQueryPattern"></p-radioButton>
            <i class="fa fa-info-circle" aria-hidden="true" title="Rule to Create Business Transaction Name(s) using URI and Dynamic Reqeust Properties(HTTP Method, Query Parameter(s) etc)."></i>
        </div>
        <div class="ui-g-9">
            <p-radioButton name="BusinessTransaction" value="pattern" label="Pattern Configuration" *ngIf="isProfilePerm" [disabled]="isProfilePerm" [(ngModel)]="selectedQueryPattern"></p-radioButton>
            <p-radioButton name="BusinessTransaction" value="pattern" label="Pattern Configuration" *ngIf="!isProfilePerm" [disabled]="saveDisable" [(ngModel)]="selectedQueryPattern"></p-radioButton>
            <i class="fa fa-info-circle" aria-hidden="true" title="Provide Pattern(s) of URI and Dynamic Request Properties(HTTP Method, Query Parameter(s) etc .) to identify Businesss Transactions."></i>
        </div>
    </div>
</div>
<div class="ui-g" *ngIf="selectedQueryPattern == 'global'" style="margin-bottom:10px; border: ridge;">
    <form #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g-12 header-font-size">
            <div class="ui-g-6">URI used in Transaction Name</div>
            <div class="ui-g-6" style="text-align:right">
                    <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Reset to Default"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordsDataToDefault()" label="Reset to Default"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetBusinessTransaction()" label="Reset"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="resetBusinessTransaction()" label="Reset"></button>
            </div>
        </div>
        <div class="ui-g-12 padding-left-css">
            <p-radioButton name="partOfURI" label="Complete" value="complete" [(ngModel)]="segmentURI"></p-radioButton>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2 segment-type-css">
                <p-radioButton name="partOfURI" label="Select" value="segmentOfURI" [(ngModel)]="segmentURI"></p-radioButton>
            </div>
            <div class="ui-g-2">
                <p-dropdown class="nde-ui" name="segmentType" [disabled]="!(segmentURI == 'segmentOfURI')" [style]="{'width':'70%'}" [options]="segmentList" [(ngModel)]="globalBtDetail.segmentType"></p-dropdown>
            </div>
            <div class="ui-g-2">
                <input name="segmentValue" style="text-align:right" [disabled]="!(segmentURI == 'segmentOfURI')" *ngIf="globalBtDetail.segmentType == 'FromFirst'  || globalBtDetail.segmentType == 'FromLast'" type="text" style="width: 50%" pInputText [(ngModel)]="globalBtDetail.segmentValue"
                    title="Please enter Segment(s) of URI in valid format. &#013;Rule-1: Numeric characters alone are accepted.  &#013;For example 2 or 5" required pattern="[1-9]+[0-9]*" ngModel />
            </div>
            <div class="ui-g-3" style="margin-top:4px;margin-left:-90px">
                Segment(s) of URI in Business Transaction</div>
        </div>

        <div class="ui-g-12 header-font-size">
            <label>Transaction Response Time Threshold Value</label>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-1"><label>Slow</label></div>
            <div class="ui-g-1">
                <input name="slowTransaction" #slow (input)="checkSlow(slow, vslow)" style="text-align:right; width:70px " type="number" min=1 pInputText [(ngModel)]="globalBtDetail.slowTransaction" required/>
            </div>
            <div class="ui-g-1" style="margin-left: -27px;margin-top: 2px">
                ms
            </div>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-1"> <label>Very Slow</label> </div>
            <div class="ui-g-1">
                <input name="verySlowTransaction" #vslow (input)="checkVSlow(slow, vslow)" style="text-align:right ; width:70px" type="number" min=1 pInputText [(ngModel)]="globalBtDetail.verySlowTransaction" required />
            </div>
            <div class="ui-g-1" style="margin-left: -27px;margin-top: 2px">
                ms
            </div>
        </div>
        <div class="ui-g-12 header-font-size" *ngIf="agentType == 'NodeJS'">
            <label>Dynamic Threshold(Optional)</label>
        </div>

        <div class="ui-g-12 padding-left-css" *ngIf="agentType == 'NodeJS'">
            <div class="ui-g-1"><label>Slow</label></div>
            <div class="ui-g-10">
                <input name="slowThreshold" #slowthresh style="text-align:right; width:70px " type="number" min=0 pInputText [(ngModel)]="globalBtDetail.slowDynamicThreshold" /> %
            </div>
        </div>

        <div class="ui-g-12 padding-left-css" *ngIf="agentType == 'NodeJS'">
            <div class="ui-g-1"> <label>Very Slow</label> </div>
            <div class="ui-g-10">
                <input name="verySlowThreshold" #vslowthresh style="text-align:right ; width:70px" type="number" min=0 pInputText [(ngModel)]="globalBtDetail.verySlowDynamicThreshold" /> %
            </div>
        </div>
        <div class="ui-g-12 header-font-size">
            <p-checkbox name="dynamicReqType" label="Select Dynamic Request Properties" [(ngModel)]="globalBtDetail.dynamicReqType" binary="true"></p-checkbox>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton [disabled]="!globalBtDetail.dynamicReqType" name="dynamicReqValue1" value="requestParam" label="Query Parameter" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10 ">
                <input name="requestParam" type="text" [disabled]="(!(globalBtDetail.dynamicReqValue == 'requestParam') || !globalBtDetail.dynamicReqType) " size="32" pInputText [(ngModel)]="globalBtDetail.requestParam" title="Please enter valid parameter value. &#013;Rule 1 :Cannot include whitespaces & Can't start with special characters .&#013;Rule 2 :In between alphanumeric character only these special character accepted (.-_%@$)"
                    (keydown.space)="$event.preventDefault()" pattern="[a-zA-Z0-9]+[a-zA-Z0-9_%&=@.$-]*$" required />
            </div>
        </div>

        <div class="ui-g-12 padding-left-css">
            <p-radioButton [disabled]="!globalBtDetail.dynamicReqType" name="dynamicReqValue2" value="httpMethod" label="Use HTTP Request Method(GET/POST/PUT) in Transaction names" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
        </div>

        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton [disabled]="!globalBtDetail.dynamicReqType" name="dynamicReqValue3" value="requestHeader" label="HTTP Header" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10">
                <input name="requestHeader" type="text" [disabled]="(!(globalBtDetail.dynamicReqValue == 'requestHeader') || !globalBtDetail.dynamicReqType)" size="32" pInputText [(ngModel)]="globalBtDetail.requestHeader " title="Please enter valid Header Value. &#013;Rule 1 :Cannot include whitespaces & Can't start with special characters .&#013;Rule 2 :In between alphanumeric character only these special character accepted (.-_%@$)"
                    (keydown.space)="$event.preventDefault()" pattern="[a-zA-Z0-9]+[a-zA-Z0-9_%@.$-]*$" required />
            </div>
        </div>
        <div class="ui-g-12 padding-left-css">
            <div class="ui-g-2">
                <p-radioButton [disabled]="!globalBtDetail.dynamicReqType" name="dynamicReqValue4" value="segmentNo" label="Segment Number" [(ngModel)]="globalBtDetail.dynamicReqValue"></p-radioButton>
            </div>
            <div class="ui-g-10">
                <input name="segmentNo" type="text" [disabled]="(!(globalBtDetail.dynamicReqValue == 'segmentNo') || !globalBtDetail.dynamicReqType)" size="32" pInputText [(ngModel)]="globalBtDetail.segmentNo " title="Please enter valid header value. &#013;Rule 1 :Cannot include whitespaces & Can't start with special characters .&#013;Rule 2 :In between alphanumeric character only these special character accepted (,)"
                    (keydown.space)="$event.preventDefault()" pattern="[0-9,]+[0-9]*$" required />
            </div>
        </div>
    </form>
</div>
<!--For showing Business Transaction Pattern(s) list -->
<div class="ui-g" *ngIf="selectedQueryPattern == 'pattern'" style="margin-bottom:10px; border: ridge;">
    <p-dataTable class="nde-ui" [value]="businessTransPatternInfo" [(selection)]="selectedPatternData" [rows]="10" [paginator]="businessTransPatternInfo?.length > 10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100,200,400]" scrollable="true" scrollHeight="210px">
        <p-header [style]="{'height':'25px'}">
            <span style="float: left;">Business Transaction Pattern List</span>
            <span style="float: right; margin-top:-3px">
                       <button pButton type="button" title="Configure Global Threshold Value(s)" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="openGlobalThresholdDialog()" icon="fa-globe"></button>
                       <button pButton type="button" title="Configure Global Threshold Value(s)" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openGlobalThresholdDialog()" icon="fa-globe"></button>
                       <button pButton type="button" title="Browse" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="openFileManager()" icon="fa-folder-open"></button>
                       <button pButton type="button" title="Browse" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openFileManager()" icon="fa-folder-open"></button>
                       <button pButton type="button" title="Add a Business Transaction Pattern" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="openAddPatternDialog()" icon="fa-plus"></button>
		               <button pButton type="button" title="Add a Business Transaction Pattern" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openAddPatternDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit a Business Transaction Pattern" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="editPatternDialog()" icon="fa-pencil" ></button>
		               <button pButton type="button" title="Edit a Business Transaction Pattern" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="editPatternDialog()" icon="fa-pencil" ></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete Business Transaction Pattern(s)" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="deletePattern()" icon="fa-trash"></button>
		               <button pButton type="button"class="ui-button-danger" title="Delete Business Transaction Pattern(s)" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deletePattern()" icon="fa-trash"></button>
                    </span>
        </p-header>
        <p-column [style]="{'width':'3%'}" selectionMode="multiple"></p-column>
        <p-column class="col-overflow" field="btName" header="BT Name" [sortable]="true" [style]="{'width':'19%'}">
            <template let-col let-application="rowData" pTemplate type="body">
                <span title="{{application[col.field]}}" *ngIf="application.asyncTrans == true"><a [routerLink]="['/tree-main', application['dcId']]"><i class="fa fa-adn" ></i> {{application[col.field]}}</a></span>
                <span title="{{application[col.field]}}" *ngIf="application.asyncTrans == false"><a [routerLink]="['/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
            </template>
        </p-column>
        <p-column class="col-overflow" field="matchType" header="Match Type" [sortable]="true" [style]="{'width':'8%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="urlName" header="URL" [sortable]="true" [style]="{'width':'23%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="include" header="BT Included" [sortable]="true" [style]="{'width':'6%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="slowTransaction" header="Slow Transaction Threshold(ms)" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}" style="float:right">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="verySlowTransaction" header="Very Slow Transaction Threshold(ms)" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}" style="float:right">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column *ngIf="agentType == 'NodeJS'" class="col-overflow" field="slowDynamicThreshold" header="Slow Dynamic Threshold(%)" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}" style="float:right">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column *ngIf="agentType == 'NodeJS'" class="col-overflow" field="verySlowDynamicThreshold" header="Very Slow Dynamic Threshold(%)" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}" style="float:right">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="reqParamKeyVal" header="Query HTTP Parameters Key" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="reqMethod" header="HTTP Method Type" [sortable]="true" [style]="{'width':'6%'}">
            <template let-col let-application="rowData" pTemplate type="body">
        <span title="{{application[col.field]}}">{{application[col.field]}}</span>
      </template>
        </p-column>
        <p-column class="col-overflow" field="headerKeyValue" header="HTTP Request Headers Key" [sortable]="true" [style]="{'width':'9%'}">
            <template let-col let-application="rowData" pTemplate type="body">
              <span title="{{application[col.field]}}">{{application[col.field]}}</span>
            </template>
        </p-column>
    </p-dataTable>

    <!-- Download reports as PDF,Excel and Word File  -->
    <div style="margin-top:5px">
        <label>Download Reports as: </label>
        <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download Word file" (click)='downloadReports("WordFile")' src='./images/iconWord.gif'></span>
        <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download Excel file" (click)='downloadReports("ExcelFile")' src='./images/iconExcel.gif'></span>
        <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download PDF file" (click)='downloadReports("PDFFile")' src='./images/iconPDF.gif'></span>
    </div>
</div>

<!--Dialog for ADD and Edit Pattern-->
<p-dialog class="profile-dialog" header="{{isNewApp ? 'Add Business Transaction Pattern' : 'Edit Business Transaction Pattern'}}" *ngIf="addEditPatternDialog" [(visible)]="addEditPatternDialog"  width="950" responsive="true" [resizable]="false">
        <form (ngSubmit)="saveADDEditBTPatternTrans()" #groupForm="ngForm" ngNativeValidate>   
        <div class="pull-right">
                <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable"  label="Save"></button>
            </div>
        <p-tabView>
                <p-tabPanel header="Configure Detection Rules">
        <div class="ui-g">
            <div class="pattern-dialog-border">
                <div class="ui-g-12">
                    <div class="ui-g-2">
                        <label>Business Transaction Name</label>
                    </div>
                    <div class="ui-g-4">
                        <input name="btName" type="text" size="40" pInputText pattern="^[a-zA-Z0-9_#@./&*-]{0,99}$" [(ngModel)]="businessTransPatternDetail.btName" autofocus required ngModel/>
                    </div>
                    <div class="ui-g-4">
                        <p-checkbox name="chkInclude" label="Exclude this Business Transaction" [(ngModel)]="chkInclude" binary="false"></p-checkbox>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-2">
                        <label>URL Pattern</label>
                    </div>
                    <div class="ui-g-4">
		<input name="urlName" type="text" size="40" pInputText pattern="[a-zA-Z0-9-_\/.|@?*%#$:&=\{\}]{0,249}$" title="Please enter valid URL. &#013;Rule1 : Cannot include whitespaces				. &#013;Rule2 : Can include alphanumerics ,@,#,$,%,&,*,-{},=,?,.,|,/,: and underscore. &#013;Rule3 :Maximum of 250 characters are allowed."
                            [(ngModel)]="businessTransPatternDetail.urlName" required ngModel />
                    </div>
                    <div class="ui-g-3">
                        <input name="dropdown" type="text" size="10" class='hidden-validator' pInputText [(ngModel)]="businessTransPatternDetail.matchType" required ngModel/>
                        <p-dropdown name="matchType" [style]="{'width':'100px'}" [options]="matchModeList" placeholder="Select Mode" [(ngModel)]="businessTransPatternDetail.matchType" required ngModel></p-dropdown>
                    </div>
                    <div class="ui-g-3">
                        <p-checkbox name="include" label="Asynchronous Transaction" [(ngModel)]="asyncTrans" binary="false"></p-checkbox>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 pattern-dialog-border">
                <div class="ui-g-3 label">
                    <label>Transaction Response Time Threshold Value</label>
                </div>
                <div class="ui-g-1 label" style="margin-left: 15px; margin-right: -27px;">
                    <label>Slow</label>
                </div>
                <div class="ui-g-2" style="margin-left: -4px">
                    <input name="slowTransaction" disabled="{{globalCheck}}" #slow (input)="checkSlow(slow, vslow)" style="text-align:right; width:115px " type="number" min=1 pInputText [(ngModel)]="businessTransPatternDetail.slowTransaction" required ngModel /> ms
                </div>
                <div class="ui-g-1 label" style="margin-right: -8px">
                    <label>Very Slow</label>
                </div>
                <div class="ui-g-2">
                    <input name="verySlowTransaction" disabled="{{globalCheck}}" #vslow (input)="checkSlow(slow, vslow)" style="text-align:right; width:115px " type="number" min=1 pInputText [(ngModel)]="businessTransPatternDetail.verySlowTransaction" required ngModel /> ms
                </div>
                <div class="ui-g-3" style="margin-left:24px;">
                        Apply Global Threshold Value(s)  <md-slide-toggle name="globalCheck" class="config-ui" (click)="changeThresholdOnClick()" [(ngModel)]="globalCheck"></md-slide-toggle>
                </div>
            </div>

            <div class="ui-g-12 pattern-dialog-border" *ngIf="agentType == 'NodeJS'">
                <div class="ui-g-3 label">
                    <label>Dynamic Threshold (%)</label>
                </div>
                <div class="ui-g-1 label">
                    <label>Slow</label>
                </div>
                <div class="ui-g-3">
                    <input name="slowDynamic" style="text-align:right;margin-top:4px" type="text" size="10" pInputText [(ngModel)]="businessTransPatternDetail.slowDynamicThreshold" ngModel /> %
                </div>
                <div class="ui-g-1 label">
                    <label>Very Slow</label>
                </div>
                <div class="ui-g-3">
                    <input name="verySlowDynamic" type="text" style="text-align:right;margin-top:4px" size="10" pInputText [(ngModel)]="businessTransPatternDetail.verySlowDynamicThreshold" ngModel /> %
                </div>
            </div>

            <div class="pattern-dialog-border">
                <div class="ui-g-12">
                    <p-checkbox name="dynamicPartReq" label="Select Dynamic HTTP Request Properties" [(ngModel)]="businessTransPatternDetail.dynamicPartReq" binary="false"></p-checkbox>
                </div>


                <div class="ui-g-12">
                    <div class="ui-g-6" style="padding-left: 20px">
                        <div class="ui-g-5">
                            <label>Request Parameter Key</label>
                        </div>
                        <div class="ui-g-7">
                            <input name="reqParamKey" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqParamKey" title="Please enter valid key value. &#013;Rule 1:Cannot include whitespaces & special characters . &#013;Rule 2: First character can't be numeric"
                                pattern="[a-zA-Z_-]+[a-zA-Z0-9]*$" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                    <div class="ui-g-6" style="margin-left: -40px">
                        <div class="ui-g-2">
                            <label>Value</label>
                        </div>
                        <div class="ui-g-8">
                            <input name="reqParamValue" [disabled]="((!businessTransPatternDetail.dynamicPartReq) || (!this.businessTransPatternDetail.reqParamKey))" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqParamValue" title="Please enter valid value. &#013;Rule1 : Cannot include whitespaces. &#013;Rule2 : Cannot include special characters except /,@,|,-,*,? and underscore"
                                pattern="[a-zA-Z0-9_\/.|@?&=*-]+$" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-6" style="padding-left: 20px">
                        <div class="ui-g-5">
                            <label>HTTP Request Headers Key</label>
                        </div>
                        <div class="ui-g-7">
                            <input name="reqHeaderKey" disabled="{{!businessTransPatternDetail.dynamicPartReq}}" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqHeaderKey" title="Please enter valid key value. &#013;Rule 1:Cannot include whitespaces & special characters . &#013;Rule 2: First character can't be numeric"
                                pattern="[a-zA-Z_-]+[a-zA-Z0-9]*$" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                    <div class="ui-g-6" style="margin-left: -40px">
                        <div class="ui-g-2">
                            <label>Value</label>
                        </div>
                        <div class="ui-g-8">
                            <input name="reqHeaderValue" [disabled]="((!businessTransPatternDetail.dynamicPartReq) || (!this.businessTransPatternDetail.reqHeaderKey))" type="text" size="25" pInputText [(ngModel)]="businessTransPatternDetail.reqHeaderValue" title="Please enter valid value. &#013;Rule1 : Cannot include whitespaces. &#013;Rule2 : Cannot include special characters except /,@,|,-,*,? and underscore"
                                pattern="[a-zA-Z0-9_\/.|@&=?*-]+$" (keydown.space)="$event.preventDefault()" />
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-6" style="padding-left: 20px">
                        <div class="ui-g-5">
                            <label>HTTP Method Type</label>
                        </div>
                        <div class="ui-g-7">
                            <p-dropdown name="reqMethod" [disabled]="!businessTransPatternDetail.dynamicPartReq" [style]="{'width':'72.5%'}" [options]="methodTypeList" placeholder="--Select method--" [(ngModel)]="businessTransPatternDetail.reqMethod" appendTo="body"></p-dropdown>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</p-tabPanel>
    <p-tabPanel *ngIf="agentType != 'Dot Net'" header="Split by Method Execution">
            <app-method-bt-configuration (keywordData)="saveKeywordData($event)"></app-method-bt-configuration>
        </p-tabPanel>
        <p-tabPanel header="Split by Request Headers">
            <bt-http-headers (keywordData)="saveKeywordData($event)"></bt-http-headers>
        </p-tabPanel>
         <p-tabPanel header="Split by Response Headers">
                    <bt-response-headers (keywordData)="saveKeywordData($event)"></bt-response-headers>
         </p-tabPanel>
         <p-tabPanel *ngIf="agentType == 'Dot Net'" header="Split by HTTP Body">
            <bt-http-body (keywordData)="saveKeywordData($event)"></bt-http-body>
         </p-tabPanel>
    </p-tabView>
</form>
</p-dialog>

<!--Dialog to open file explorer dialog -->
<p-dialog class="profile-dialog browseTopCss headerCss" header="File Manager" *ngIf="openFileExplorerDialog" [(visible)]="openFileExplorerDialog"  width="650" responsive="true" [resizable]="false">

    <!-- This will look for this component in the ProductUI at this path -
     ..\ProductUI\gui\src\app\modules\file-explorer\components\config-nd-file-explorer-->

    <!-- <app-config-nd-file-explorer></app-config-nd-file-explorer> -->
</p-dialog>

<!--Dialog to edit/update global threshold values -->
<p-dialog class="profile-dialog" header='Apply Global Threshold Value(s)' *ngIf="globalThresholdDialog" [(visible)]="globalThresholdDialog"  width="300" responsive="true" [resizable]="false">
    <form (ngSubmit)="applyGlobalThresholdValues()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="pattern-dialog-border">
                <!-- Slow Value -->
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <label>Slow</label>
                    </div>
                    <div class="ui-g-4">
                        <input class="textBoxSize" name="slowThresholdGlobalValue" type="number" size="20" #slowThreshold (input)="checkGlobalThresholdValidity(slowThreshold, vslowThreshold)" min=0 pInputText [(ngModel)]="slowThresholdGlobalValue" autofocus required ngModel/> ms
                    </div>
                </div>

                <!-- Very slow value -->
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <label>Very Slow</label>
                    </div>
                    <div class="ui-g-4">
                        <input class="textBoxSize" name="vslowThresholdGlobalValue" type="number" size="20" #vslowThreshold (input)="checkGlobalThresholdValidity(slowThreshold, vslowThreshold)" min=0 pInputText [(ngModel)]="vslowThresholdGlobalValue" required ngModel/> ms
                    </div>
                </div>
            </div>
        </div>
            <footer>
                <div class="ui-dialog-buttonpane ui-widget-content">
                   <button type="submit" pButton icon="fa-check" label={{globalSaveLabel}}></button>
                   <button type="button" pButton icon="fa-close" (click)="globalThresholdDialog=false" label="Cancel"></button>
                </div>
            </footer>
    </form>
</p-dialog>
