<!--For showing HTTP Request Header list -->
<p-dataTable [value]="httpRequestHdrComponentInfo" [(selection)]="selectedHTTPReqHeader" [rows]="5" [paginator]="httpRequestHdrComponentInfo?.length > 5 " [pageLinks]="3">
    <p-header>
        <span style="float: left"> HTTP Request Header (s) </span>
        <span style="float: right; margin-top:-5px">`
                       <button pButton type="button" title="Add" [disabled]="saveDisable" (click)="openAddHTTPReqDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit" [disabled]="saveDisable" (click)="editHTTPReqDialog()" icon="fa-pencil" ></button>
                       <button pButton type="button" class="ui-button-danger" title="Delete" [disabled]="saveDisable" (click)="deleteHTTPReqHeader()" icon="fa-trash"></button>
                    </span>
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column class="col-overflow" field="headerName" header="Name" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
    <p-column class="col-overflow" field="dumpMode" header="Capture Mode" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
    <p-column class="col-overflow" field="valueNames" header="Rules" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
</p-dataTable>

<!--Dialog for ADD and Edit HTTP Request Header (s)-->
<p-dialog header="{{isNew ? 'Add HTTP Request Header' : 'Edit HTTP Request Header'}}" *ngIf="httpRequestCustomDialog" [(visible)]="httpRequestCustomDialog" modal="modal" width="550" responsive="true">
    <form (ngSubmit)="saveADDEditHTTPReqHeader()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>Header Name</label>
                </div>
                <div class="ui-g-5">
                    <input name="headerName" type="text" size="40" pInputText [(ngModel)]="httpRequestHdrDetail.headerName" autofocus required ngModel/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <p-checkbox name="complete" label="Complete" [(ngModel)]="httpRequestHdrDetail.complete" binary="false"></p-checkbox>
                </div>
                <div class="ui-g-4">
                    <p-checkbox name="specific" label="Specific" [(ngModel)]="httpRequestHdrDetail.specific" binary="false"></p-checkbox>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="httpRequestHdrDetail.specific">
                <p-dataTable [value]="rulesDataInfo" [(selection)]="selectedRulesData" [rows]="5" [paginator]="rulesDataInfo?.length > 5" [pageLinks]="3">
                    <p-header>
                        <span> Detail(s) </span>
                        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openHTTPReqTypeValueDialog()" icon="fa-plus"></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete" (click)="deleteRules()" icon="fa-trash"></button>
                    </span>
                    </p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column class="col-overflow" field="valName" header="Display Name" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="customValTypeName" header="Type" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="lb" header="Left Bound" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="rb" header="Right Bound" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--Dialog for ADD Value Types-->
<p-dialog header="Add Custom Settings" *ngIf="rulesDialog" [(visible)]="rulesDialog" modal="modal" width="550" responsive="true">
    <form (ngSubmit)="saveRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Name</label>
                </div>
                <div class="ui-g-4">
                    <input name="valName" type="text" size="20" pInputText [(ngModel)]="rulesDataDetail.valName" placeholder="Name" autofocus required ngModel/>
                </div>
                <div class="ui-g-4">
                    <p-dropdown name="customValueType" [style]="{'width':'100%'}" [options]="customValueType" [(ngModel)]="rulesDataDetail.customValTypeName" appendTo="body" required ngModel placeholder="Custom value Type"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Left Bound</label>
                </div>
                <div class="ui-g-4">
                    <input name="lb" type="text" size="20" pInputText [(ngModel)]="rulesDataDetail.lb" placeholder="Left Bound" autofocus required ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Right Bound</label>
                </div>
                <div class="ui-g-4">
                    <input name="rb" type="text" size="20" pInputText [(ngModel)]="rulesDataDetail.rb" placeholder="Right Bound" autofocus required ngModel/>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="rulesDialog = false" label="Cancel"></button>
            </div>
        </footer>
    </form>

</p-dialog>