For showing HTTP Request Header list
<p-dataTable [value]="httpRequestHeader" [(selection)]="selectedbusinessTransMethod" [rows]="15" [paginator]="true" [pageLinks]="3">
    <p-header>
        <span> HTTP Request Header (s)) </span>
        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openMethodDialog()" icon="fa-plus"></button>
                       <button pButton type="button"title="Delete" (click)="deleteMethodTrans()" icon="fa-trash"></button>
                    </span>
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column class="col-overflow" field="name" header="Name" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
    <p-column class="col-overflow" field="captureMode" header="Capture Mode" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
    <p-column class="col-overflow" field="rules" header="Rules" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
</p-dataTable>


<!--Dialog for adding Business Transaction Method-->
<p-dialog header="Capture HTTP Request Custom Data" *ngIf="httpRequestCustomDialog" [(visible)]="httpRequestCustomDialog" modal="modal" width="700" responsive="true">
    <form (ngSubmit)="submitHTTPRequestCustomData()" #groupForm="ngForm" ngNativeValidate>

        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Header Name</label>
                </div>
                <div class="ui-g-8">
                    <input name="headerName" type="text" size="48" pInputText [(ngModel)]="businessTransMethodDetail.fqm" autofocus required ngModel/>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <p-checkbox name="enableArgumentType" label="Complete" [(ngModel)]="businessTransMethodDetail.enableArgumentType" binary="false"></p-checkbox>
                </div>
                <div class="ui-g-8">
                    <p-checkbox name="enableArgumentType" label="Specific" [(ngModel)]="businessTransMethodDetail.enableArgumentType" binary="false"></p-checkbox>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-3">
                    Return Type
                </div>
                <div class="ui-g-3">
                    <p-dropdown name="returnType" [style]="{'min-width':'100%'}" [options]="returnTypeList" [(ngModel)]="businessTransMethodDetail.returnType" appendTo="body" placeholder="Return Type"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <p-dataTable [value]="methodRulesInfo" *ngIf="businessTransMethodDetail.returnType" [(selection)]="selectedMethodRules" [rows]="5" [paginator]="true" [pageLinks]="3">
                    <p-header>
                        <span>  Return Type Info </span>
                        <span style="float: right; margin-top:-5px">
                       <button pButton type="button" title="Add" (click)="openAddRulesDialog()" icon="fa-plus"></button>
                       <button pButton type="button"title="Delete" (click)="deleteRules()" icon="fa-trash"></button>
                    </span>
                    </p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column class="col-overflow" field="value" header="Value" [sortable]="true">
                        <template let-col let-application="rowData">
                   <span title="{{application[col.field]}}"><a [routerLink]="[ ROUTING_PATH + '/tree-main', application['dcId']]">{{application[col.field]}}</a></span>
            </template>
                    </p-column>
                    <p-column class="col-overflow" field="operationName" header="Operation" [sortable]="true">
                        <template let-col let-application="rowData">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="btName" header="BT Name" [sortable]="true">
                        <template let-col let-application="rowData">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="OK"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>