<!--For showing HTTP Request Header list -->
<p-dataTable [value]="httpRequestHdrComponentInfo" class="nde-ui" [(selection)]="selectedHTTPReqHeader" [rows]="5" [paginator]="httpRequestHdrComponentInfo?.length > 5 " [pageLinks]="3">
    <p-header>
        <span class="configui-float-css"> HTTP request header (s) </span>
        <span class="configui-float">`
                       <button pButton type="button" title="Add" [disabled]="saveDisable" (click)="openAddHTTPReqDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit" [disabled]="saveDisable" (click)="editHTTPReqDialog()" icon="fa-pencil" ></button>
                       <button pButton type="button" class="ui-button-danger" title="Delete" [disabled]="saveDisable" (click)="deleteHTTPReqHeader()" icon="fa-trash"></button>
                    </span>
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column class="col-overflow" field="headerName" header="Name" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
    <p-column class="col-overflow" field="dumpMode" header="Capture mode" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
    <p-column class="col-overflow" field="valueNames" header="Rules" [sortable]="true">
        <template let-col let-application="rowData">
      <span></span>
    </template>
    </p-column>
</p-dataTable>

<!--Dialog for ADD and Edit HTTP Request Header (s)-->
<p-dialog class="profile-dialog" header="{{isNew ? 'Add HTTP request header' : 'Edit HTTP request header'}}" *ngIf="httpRequestCustomDialog" [(visible)]="httpRequestCustomDialog" modal="modal" width="550" responsive="true">
    <form (ngSubmit)="saveADDEditHTTPReqHeader()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>Header name</label>
                </div>
                <div class="ui-g-5">
                    <input name="headerName" type="text" size="40" pInputText [(ngModel)]="httpRequestHdrDetail.headerName" title="Please enter valid Header name.  &#013;Please enter maximum upto 50 characters." required pattern="[a-zA-Z0-9_-]*" ngModel/>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <p-checkbox name="complete" label="Complete" [(ngModel)]="httpRequestHdrDetail.complete" binary="false"></p-checkbox>
                </div>
                <div class="ui-g-4">
                    <p-checkbox name="specific" label="Specific" [(ngModel)]="httpRequestHdrDetail.specific" binary="false"></p-checkbox>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="httpRequestHdrDetail.specific">
                <p-dataTable class="nde-ui" [value]="rulesDataInfo" [(selection)]="selectedRulesData" [rows]="5" [paginator]="rulesDataInfo?.length > 5" [pageLinks]="3">
                    <p-header>
                        <span> Detail(s) </span>
                        <span class="configui-float">
                       <button pButton type="button" title="Add" (click)="openHTTPReqTypeValueDialog()" icon="fa-plus"></button>
                       <button pButton type="button" title="Edit" (click)="openEditHTTPReqTypeDialog()" icon="fa-pencil" ></button>
                       <button pButton type="button"class="ui-button-danger" title="Delete" (click)="deleteRules()" icon="fa-trash"></button>
                    </span>
                    </p-header>
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column class="col-overflow" field="valName" header="Display name" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="customValTypeName" header="Type" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="lb" header="Left bound" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                    <p-column class="col-overflow" field="rb" header="Right bound" [sortable]="true">
                        <template let-col let-application="rowData" pTemplate type="body">
                       <span title="{{application[col.field]}}">{{application[col.field]}}</span>
                    </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--Dialog for ADD Value Types-->
<p-dialog class="profile-dialog" header="{{!isNewRule ? 'Add custom settings ' : 'Edit custom settings'}}" *ngIf="rulesDialog" [(visible)]="rulesDialog" modal="modal" width="550" responsive="true">
    <form (ngSubmit)="saveRules()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Name</label>
                </div>
                <div class="ui-g-4">
                    <input name="valName" type="text" size="20" pInputText [(ngModel)]="rulesDataDetail.valName" autofocus title="Please enter valid Name.  &#013;Please enter maximum upto 50 characters." required pattern="[^]{0,49}$" ngModel/>
                </div>
                <div class="ui-g-4">
                    <input name="customValueType" type="text" class='hidden-validator' pInputText [(ngModel)]="rulesDataDetail.customValTypeName" required ngModel/>
                    <p-dropdown name="customValueType" [style]="{'width':'100%'}" [options]="customValueType" [(ngModel)]="rulesDataDetail.customValTypeName" required ngModel placeholder="Custom value type"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-2">
                    <label>Left bound</label>
                </div>
                <div class="ui-g-4">
                    <input name="lb" type="text" size="20" pInputText [(ngModel)]="rulesDataDetail.lb" autofocus title="Please enter valid Left bound.  &#013;Please enter maximum upto 50 characters." required pattern="[^]{0,49}$" ngModel/>
                </div>
                <div class="ui-g-2">
                    <label>Right bound</label>
                </div>
                <div class="ui-g-4">
                    <input name="rb" type="text" size="20" pInputText [(ngModel)]="rulesDataDetail.rb" autofocus title="Please enter valid Right bound.  &#013;Please enter maximum upto 50 characters." required pattern="[^]{0,49}$" ngModel/>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="rulesDialog = false" label="Cancel"></button>
            </div>
        </footer>
    </form>

</p-dialog>