.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.ui-widget-header {
    background: green!important;
}

//Newly Added For Top Nav Bar
.image {
    width: 8%;
    margin-top: -37px;
}

.login-settings {
    display: inline;
    margin-left: 18%;
    font-size: 12px;
    margin-top: -35px;
}

.cav-toolbar {
    min-height: 30px;
    height: 30px;
    /*background: linear-gradient(141deg, dodgerblue 17% , #1fc8db 50%,#0fb8ad 89% ); */
    background: rgba(255, 255, 255, 0.38) !important;
}

.cav-toolbar md-toolbar-row {
    height: 42px;
}

md-toolbar md-toolbar-row {
    height: 42px !important;
    font-size: 12px;
}

.listItem:hover {
    background-color: #E5E5E5;
}

.product-nav-bar {
    height: 40px;
    margin-bottom: 50px;
}

.product-nav-link {
    min-width: 10px;
    opacity: 1;
    margin-top: 3px;
}