<div id=top-div>
    <p-dataTable class="nde-ui config-ui" [value]="customKeywordsDataList" [(selection)]="selectedCustomKeywordsData">
        <p-header>
            <span class="configui-float-css">Custom Configuration list </span>
            <span class="configui-float">
            <button pButton type="button" title="Add Custom configuration" [disabled]="saveDisable" (click)="openAddDialog()" icon="fa-plus"></button>
            <button pButton type="button" title="Edit Custom configuration" [disabled]="saveDisable" (click)="openEditDialog()" icon="fa-pencil"></button>
            <!--<button pButton class="ui-button-danger" type="button" title="Delete method monitor" [disabled]="saveDisable" (click)="deleteMethodMonitor()" icon="fa-trash"></button>-->
        </span>
        </p-header>
        <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
        <p-column class="tableCss" field="keywordName" header="Name" [sortable]="true">
            <template let-col let-customKeywordsData="rowData" pTemplate>
            <span title="{{customKeywordsData[col.field]}}">{{customKeywordsData[col.field]}}</span>
        </template>
        </p-column>
        <p-column class="tableCss" field="value" header="Value" [sortable]="true">
            <template let-col let-customKeywordsData="rowData" pTemplate>
            <span title="{{customKeywordsData[col.field]}}">{{customKeywordsData[col.field]}}</span>
        </template>
        </p-column>
        <p-column class="tableCss" field="description" header="Description" [sortable]="true">
            <template let-col let-customKeywordsData="rowData" pTemplate>
            <span title="{{customKeywordsData[col.field]}}">{{customKeywordsData[col.field]}}</span>
        </template>
        </p-column>

        <p-column class="tableCss config-ui" field="enable" header="Enabled" [sortable]="true" [style]="{'text-align':'center','width':'13%'}">
            <template class="config-ui" let-col let-customKeywordsData="rowData" pTemplate>
            <md-slide-toggle  class="toggle-space config-ui" (click)="enableKeyword(customKeywordsData)" [(ngModel)]="customKeywordsData[col.field]"></md-slide-toggle>
        </template>
        </p-column>
    </p-dataTable>
</div>

<!--Dialog for method monitor-->

<p-dialog class="profile-dialog" header="{{isNew ? 'Add Custom configuration' : 'Edit Custom configuration'}}" *ngIf="addEditDialog" [(visible)]="addEditDialog" modal="modal" width="500" responsive="true" [resizable]="false">
    <form (ngSubmit)="saveCustomKeywords()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Name</label>
            </div>
            <!--<div class="ui-g-9">
                <input name="keywordName" [disabled]="!isNew" type="text" size="50" pInputText [(ngModel)]="customKeywords.keywordName" required autofocus ngModel/>
            </div>-->
            
            <div class="ui-g-6">
                <input name="dropdown" [disabled]="!isNew" type="text" size="25" class='hidden-validator' pInputText [(ngModel)]="customKeywords.keywordName" required ngModel/>
                <p-dropdown [options]="customKeywordsList" [disabled]="!isNew" [style]="{'width':'100%'}" name="keywordName" [(ngModel)]="customKeywords.keywordName" placeholder="--Select--" appendTo="body"></p-dropdown>
            </div>
            <div  class="custom-browse" *ngIf="customKeywords.keywordName=='NDHTTPRepHdrCfgListL1Fp' || customKeywords.keywordName=='ndHttpHdrCaptureFileList' || customKeywords.keywordName=='NDHTTPRepHdrCfgListFullFp' || customKeywords.keywordName=='NDAppLogFile' || customKeywords.keywordName=='ndBackendMonFile' || customKeywords.keywordName=='generateExceptionConfFile' || customKeywords.keywordName=='cavNVURLFile' || customKeywords.keywordName=='NDInterfaceFile'">
                <div class="ui-g-2">
                    <button pButton type="button" title="Browse" (click)="openFileManager()" icon="fa-folder-open" label="Browse"></button>
                </div>
            </div>
        </div>

        <div class="ui-g custom-config-dialog" *ngIf="customKeywords.keywordName=='NDHTTPRepHdrCfgListL1Fp' || customKeywords.keywordName=='ndHttpHdrCaptureFileList' || customKeywords.keywordName=='NDHTTPRepHdrCfgListFullFp' || customKeywords.keywordName=='NDAppLogFile' || customKeywords.keywordName=='ndBackendMonFile' || customKeywords.keywordName=='generateExceptionConfFile' || customKeywords.keywordName=='cavNVURLFile' || customKeywords.keywordName=='NDInterfaceFile'">
            <div class="ui-g-3">
                <label>Path</label>
            </div>
            <div class="ui-g-9">
                <input name="path" [disabled]="this.isValueDisabled == true" type="text" size="50" pInputText [(ngModel)]="customKeywords.value" (keydown.space)="$event.preventDefault()" ngModel/>
            </div>
        </div>


        <div class="ui-g" *ngIf="customKeywords.keywordName!='NDHTTPRepHdrCfgListL1Fp' && customKeywords.keywordName!='ndHttpHdrCaptureFileList' && customKeywords.keywordName!='NDHTTPRepHdrCfgListFullFp' && customKeywords.keywordName!='NDAppLogFile' && customKeywords.keywordName!='ndBackendMonFile' && customKeywords.keywordName!='generateExceptionConfFile' && customKeywords.keywordName!='cavNVURLFile' && customKeywords.keywordName!='NDInterfaceFile'">
            <div class="ui-g-3">
                <label>Value</label>
            </div>
            <div class="ui-g-9">
                <input name="value" type="text" size="50" class="configUI-common-len" pInputText [(ngModel)]="customKeywords.value" (keydown.space)="$event.preventDefault()" ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Description</label>
            </div>
            <div class="ui-g-9">
                <textarea name="Desc" rows="2" cols="50" class="configUI-common-len" pInputTextarea [(ngModel)]="customKeywords.description" ngModel></textarea>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditDialog=false" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--Dialog to open file explorer dialog -->
<p-dialog class="profile-dialog browseTopCss " [resizable]="false " header="File Manager " *ngIf="openFileExplorerDialog " [(visible)]="openFileExplorerDialog " modal="modal " width="650 " responsive="true ">

    <!-- This will look for this component in the ProductUI at this path -
         ..\ProductUI\gui\src\app\modules\file-explorer\components\config-nd-file-explorer\-->

    <!-- <app-config-nd-file-explorer></app-config-nd-file-explorer> -->
</p-dialog>
