<div id=top-div>
    <p-dataTable class="nde-ui config-ui" [value]="customKeywordsDataList" [(selection)]="selectedCustomKeywordsData">
        <p-header>
            <span class="configui-float-css">Custom Configuration List
                </span>
            <span class="configui-float">
		 <i class="fa fa-question-circle" title="Help" (click)="sendHelpNotification()"></i>
                 <button pButton type="button" title="Add Custom configuration" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-plus"></button>
                 <button pButton type="button" title="Add Custom configuration" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openAddDialog()" icon="fa-plus"></button>
                 <button pButton type="button" title="Edit Custom configuration" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-pencil"></button>
                 <button pButton type="button" title="Edit Custom configuration" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="openEditDialog()" icon="fa-pencil"></button>
                 <button pButton type="button" class="ui-button-danger" title="Delete Custom configuration" *ngIf="isProfilePerm" [disabled]="isProfilePerm" icon="fa-trash"></button>
                 <button pButton type="button" class="ui-button-danger" title="Delete Custom configuration" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="deleteCustomKeywords()" icon="fa-trash"></button>
                 <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Save"></button>
                 <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="saveKeywordData()" label="Save"></button>

            <!--<button pButton class="ui-button-danger" type="button" title="Delete method monitor" [disabled]="saveDisable" (click)="deleteMethodMonitor()" icon="fa-trash"></button>-->
        </span>
        </p-header>
        <p-column [style]="{'width':'2%'}" selectionMode="multiple"></p-column>
        <p-column class="tableCss" field="keywordName" header="Name" [sortable]="true">
            <template let-col let-customKeywordsData="rowData" pTemplate>
                <span title="{{customKeywordsData[col.field]}}">{{customKeywordsData[col.field]}}</span>
            </template>
        </p-column>
        <p-column class="tableCss" field="value" header="Value" [sortable]="true">
            <template let-col let-customKeywordsData="rowData" pTemplate>
                <span title="{{customKeywordsData[col.field]}}">{{customKeywordsData[col.field]}}</span>
            </template>
        </p-column>
        <p-column class="tableCss" field="description" header="Description" [sortable]="true">
            <template let-col let-customKeywordsData="rowData" pTemplate>
                <span title="{{customKeywordsData[col.field]}}">{{customKeywordsData[col.field]}}</span>
            </template>
        </p-column>

        <!-- <p-column class="tableCss config-ui" field="enable" header="Enabled" [sortable]="true" [style]="{'text-align':'center','width':'13%'}">
            <template class="config-ui" let-col let-customKeywordsData="rowData" pTemplate>
                <md-slide-toggle *ngIf="isProfilePerm" [disabled]="isProfilePerm" class="toggle-space config-ui" [(ngModel)]="customKeywordsData[col.field]"></md-slide-toggle>
                <md-slide-toggle *ngIf="!isProfilePerm" class="toggle-space config-ui" (click)="enableKeyword(customKeywordsData)" [(ngModel)]="customKeywordsData[col.field]"></md-slide-toggle>
            </template>
        </p-column> -->
    </p-dataTable>
<!-- Download reports as PDF,Excel and Word File  -->
<div style="margin-top:5px">
    <label>Download Reports as: </label>
    <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download Word file" (click)='downloadReports("WordFile")' src='./images/iconWord.gif'></span>
    <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download Excel file" (click)='downloadReports("ExcelFile")' src='./images/iconExcel.gif'></span>
    <span><img border='0' width='15' height='15' style='margin-bottom: -3px; cursor:pointer' title="Download PDF file" (click)='downloadReports("PDFFile")' src='./images/iconPDF.gif'></span>
</div>
</div>

<!--Dialog for method monitor-->

<p-dialog class="profile-dialog" header="{{isNew ? 'Add Custom Configuration' : 'Edit Custom Configuration'}}" *ngIf="addEditDialog" [(visible)]="addEditDialog" modal="modal" width="500" responsive="true" [resizable]="false">
    <form (ngSubmit)="saveCustomKeywords()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Name</label>
            </div>
            <!--<div class="ui-g-9">
                <input name="keywordName" [disabled]="!isNew" type="text" size="50" pInputText [(ngModel)]="customKeywords.keywordName" required autofocus ngModel/>
            </div>-->

            <div class="ui-g-7">
                <input name="dropdown" *ngIf="isNew" type="text" size="35" class='hidden-validator' pInputText [(ngModel)]="customKeywords.keywordName" required ngModel/>
                <input name="dropdown" *ngIf="!isNew" type="text" size="35" [disabled]="!isNew" pInputText [(ngModel)]="customKeywords.keywordName" required ngModel/>
                <p-dropdown [options]="customKeywordsList" *ngIf="isNew" [style]="{'width':'100%'}" name="keywordName" [(ngModel)]="customKeywords.keywordName" (click)="getKeyList()" placeholder="--Select--" appendTo="body"></p-dropdown>
            </div>
            <div class="ui-g-2" style="padding-left: 0px; margin-left: -2px">
            <div class="custom-browse" *ngIf="customKeywords.keywordName=='NDHTTPReqHdrCfgListL1Fp' || customKeywords.keywordName=='NDHTTPRepHdrCfgListL1Fp' || customKeywords.keywordName=='ndHttpHdrCaptureFileList' || customKeywords.keywordName=='NDHTTPRepHdrCfgListFullFp' || customKeywords.keywordName=='NDHTTPReqHdrCfgListFullFp' || customKeywords.keywordName=='NDAppLogFile' || customKeywords.keywordName=='ndBackendMonFile' || customKeywords.keywordName=='generateExceptionConfFile' || customKeywords.keywordName=='cavNVURLFile' || customKeywords.keywordName=='NDInterfaceFile'">
                    <button pButton type="button" title="Browse" (click)="openFileManager()" icon="fa-folder-open" label="Browse"></button>
                </div>
            </div>
        </div>

        <div class="ui-g custom-config-dialog" *ngIf="customKeywords.keywordName=='NDHTTPReqHdrCfgListL1Fp' || customKeywords.keywordName=='NDHTTPRepHdrCfgListL1Fp' || customKeywords.keywordName=='ndHttpHdrCaptureFileList' || customKeywords.keywordName=='NDHTTPRepHdrCfgListFullFp' || customKeywords.keywordName=='NDHTTPReqHdrCfgListFullFp' || customKeywords.keywordName=='NDAppLogFile' || customKeywords.keywordName=='ndBackendMonFile' || customKeywords.keywordName=='generateExceptionConfFile' || customKeywords.keywordName=='cavNVURLFile' || customKeywords.keywordName=='NDInterfaceFile'">
            <div class="ui-g-3">
                <label>Path</label>
            </div>
            <div class="ui-g-9">
                <input name="path" [disabled]="true" type="text" size="50" pInputText [(ngModel)]="customKeywords.value" (keydown.space)="$event.preventDefault()" ngModel/>
            </div>
        </div>


        <div class="ui-g" *ngIf="customKeywords.keywordName!='NDHTTPReqHdrCfgListL1Fp' && customKeywords.keywordName!='NDHTTPRepHdrCfgListL1Fp' && customKeywords.keywordName!='ndHttpHdrCaptureFileList' && customKeywords.keywordName!='NDHTTPRepHdrCfgListFullFp' && customKeywords.keywordName!='NDHTTPReqHdrCfgListFullFp' && customKeywords.keywordName!='NDAppLogFile' && customKeywords.keywordName!='ndBackendMonFile' && customKeywords.keywordName!='generateExceptionConfFile' && customKeywords.keywordName!='cavNVURLFile' && customKeywords.keywordName!='NDInterfaceFile'">
            <div class="ui-g-3">
                <label>Value</label>
            </div>
            <div class="ui-g-9">
                <input name="value" type="text" #minmax (input)="checkMinMax(minmax)" size="50" class="configUI-common-len" pInputText [(ngModel)]="customKeywords.value" (keydown.space)="$event.preventDefault()" required ngModel/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                <label>Description</label>
            </div>
            <div class="ui-g-9">
                <textarea name="Desc" rows="2" cols="50" class="configUI-common-len" pInputTextarea [(ngModel)]="customKeywords.description" ngModel></textarea>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditDialog=false" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<!--Dialog to open file explorer dialog -->
<p-dialog class="profile-dialog browseTopCss " [resizable]="false " header="File Manager " *ngIf="openFileExplorerDialog " [(visible)]="openFileExplorerDialog " modal="modal " width="650 " responsive="true ">

    <!-- This will look for this component in the ProductUI at this path -
         ..\ProductUI\gui\src\app\modules\file-explorer\components\config-nd-file-explorer\-->

     <!-- <app-config-nd-file-explorer></app-config-nd-file-explorer> -->
</p-dialog>
