<!--Dialog for Hotspot Capturing-->
<p-panel header="Hotspot Capturing">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>As Sample Interval For Stack Trace</label>
                </div>
                <div class="ui-g-3">
                    <input id="in1" type="number" size="20" pInputText [(ngModel)]="sampleInterval" />
                </div>
                <div class="ui-g-3">
                    <label>As Thresold Match count</label>
                </div>
                <div class="ui-g-3">
                    <input id="in2" type="number" size="20" pInputText [(ngModel)]="matchCount" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>Hotspot Reporting Interval</label>
                </div>
                <div class="ui-g-3">
                    <input id="in1" type="number" size="20" pInputText [(ngModel)]="reportingInterval" />
                </div>
                <div class="ui-g-3">
                    <label>Min Stack Depth for Hotspot</label>
                </div>
                <div class="ui-g-3">
                    <input id="in2" type="number" size="20" pInputText [(ngModel)]="depthHotspot" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-3">
                    <label>As Trace Level</label>
                </div>
                <div class="ui-g-3">
                    <input id="in1" type="number" size="20" pInputText [(ngModel)]="traceLevel" />
                </div>
                <div class="ui-g-3">
                    <label>As Stack ComparingDepth</label>
                </div>
                <div class="ui-g-3">
                    <input id="in2" type="number" size="20" pInputText [(ngModel)]="comparingDepth" />
                </div>
            </div>
            <div class="ui-g-12">
                <label>Filter Settings</label>
            </div>
            <div class="ui-g-12">
                <label>List of thread names to be included in Hotspot data</label>
            </div>

            <div class="ui-g-12">
                <label>List of thread names to be excluded in Hotspot data</label>
            </div>
        </div>
        <!--<div class="">-->
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="text-align:right;">
            <button type="button" pButton icon="fa-close" (click)="hotspotCapturingDialog=false" label="Cancel"></button>
            <button type="button" pButton icon="fa-check" (click)="hotspotCapturingDialog=false" label="Save"></button>
        </div>
    </div>
</p-panel>