<p-dataTable [value]="httpStatsMonitorData" [(selection)]="selectedHttpStatsMonitorData" [rows]="15" [paginator]="true" [pageLinks]="3">
  <p-header>
    <span>HTTP Stats Condition Monitor(s) </span>
    <span style="float :right; margin-top:-5px">
            <button pButton type="button" title="Add" (click)="openAddHTTPStatsDialog()" icon="fa-plus"></button>
            <button pButton type="button" title="Edit" (click)="openEditHTTPStatsDialog()" icon="fa-pencil"></button>
            <button pButton type="button" title="Delete" (click)="deleteHTTPStats()" icon="fa-trash"></button>
        </span>
  </p-header>
  <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
  <p-column class="tableCss" field="conditionName" header="Condition Name" [sortable]="true">
    <template let-col let-HttpStatsMonitor="rowData" pTemplate>
      <span title="{{HttpStatsMonitor[col.field]}}">{{HttpStatsMonitor[col.field]}}</span>
    </template>
  </p-column>
  <p-column class="tableCss" field="condition" header="Condition" [sortable]="true">
    <template let-col let-HttpStatsMonitor="rowData" pTemplate>
      <span title="{{HttpStatsMonitor[col.field]}}">{{HttpStatsMonitor[col.field]}}</span>
    </template>
  </p-column>
  <p-column class="tableCss" field="description" header="Description" [sortable]="true">
    <template let-col let-HttpStatsMonitor="rowData" pTemplate>
      <span title="{{HttpStatsMonitor[col.field]}}">{{HttpStatsMonitor[col.field]}}</span>
    </template>
  </p-column>
  <p-column class="tableCss" field="fpDumpMode" header="FP Dump Mode" [sortable]="true">
    <template let-col let-HttpStatsMonitor="rowData" pTemplate>
      <span title="{{HttpStatsMonitor[col.field]}}">{{HttpStatsMonitor[col.field]}}</span>
    </template>
  </p-column>

</p-dataTable>

<!--Dialog for http stats monitor-->

<p-dialog header="{{isNewHttpStatsMonitor ? 'Add HTTP Stats Condition' : 'Edit HTTP Stats Condition'}}" *ngIf="addEditHttpStatsMonitorDialog"
  [(visible)]="addEditHttpStatsMonitorDialog" modal="modal" width="800" responsive="true">
  <form (ngSubmit)="saveHttpStatsMonitor()" #groupForm="ngForm" ngNativeValidate>
    <div class="ui-g">
      <div class="ui-g-3">
        <label>Name</label>
      </div>
      <div class="ui-g-3">
        <input name="httpStatsMonitorName" type="text" placeholder="Enter Condition Name" [(ngModel)]="httpStatsMonitorDetail.conditionName"
          style="width:177px;" pInputText autofocus required ngModel/>
      </div>
      <div class="ui-g-3">
        <label>Select Flowpath Dump Mode</label>
      </div>
      <div class="ui-g-3">
        <p-dropdown name="flowDump" [style]="{'width': '100%'}" scrollHeight="150px" [autoWidth]="true" [options]="flowDumpData"
          [(ngModel)]="httpStatsMonitorDetail.fpDumpMode" appendTo="body" required ngModel></p-dropdown>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3">
        <label>Select Header Type</label>
      </div>
      <div class="ui-g-3">
        <p-dropdown name="headerTypeName" [style]="{'width': '100%'}" [autoWidth]="true" [options]="headerType" [(ngModel)]="selectedHeaderType"
          appendTo="body" required ngModel></p-dropdown>
      </div>

      <div class="ui-g-3" *ngIf="selectedHeaderType!=3">
        <label>Select Header</label>
      </div>
      <div class="ui-g-3" *ngIf="!(selectedHeaderType==1)&&!(selectedHeaderType==2)&&!(selectedHeaderType==3)">
        <p-dropdown name="requestHeader" [style]="{'width': '100%'}" disabled="true" [autoWidth]="true" [options]="requestHeader"
          [(ngModel)]="selectedRequestHeader" appendTo="body" required ngModel></p-dropdown>
      </div>
      <div class="ui-g-3" *ngIf="selectedHeaderType==1">
        <p-dropdown name="requestHeader" [style]="{'width': '100%'}" [autoWidth]="true" [options]="requestHeader" [(ngModel)]="selectedRequestHeader"
          appendTo="body" required ngModel></p-dropdown>
      </div>
      <div class="ui-g-3" *ngIf="selectedHeaderType==2">
        <p-dropdown name="responseHeader" [style]="{'width': '100%'}" [autoWidth]="true" [options]="responseHeader" [(ngModel)]="selectedResponseHeader"
          appendTo="body" required ngModel></p-dropdown>
      </div>
      <div class="ui-g-3" *ngIf="selectedHeaderType==3">
        <label>Cookie Name</label>
      </div>
      <div class="ui-g-3" *ngIf="selectedHeaderType==3">
        <input name="cookieName" type="text" style="width:177px;" [(ngModel)]="httpStatsMonitorDetail.cookieName" pInputText autofocus required ngModel/>
      </div>

    </div>
    <div class="ui-g">
      <div class="ui-g-3">
        <label>Select Value Type</label>
      </div>
      <div class="ui-g-3" *ngIf="!selectedRequestHeader&&!selectedResponseHeader&&!(selectedHeaderType==3)">
        <p-dropdown name="ValueTypeName" [style]="{'width': '100%'}" disabled="true" [autoWidth]="true" [options]="valueType" [(ngModel)]="selectedValueType"
          appendTo="body" required ngModel></p-dropdown>
      </div>
      <div class="ui-g-3" *ngIf="selectedRequestHeader||selectedResponseHeader||selectedHeaderType==3">
        <p-dropdown name="ValueTypeName" [style]="{'width': '100%'}" [autoWidth]="true" [options]="valueType" [(ngModel)]="selectedValueType"
          appendTo="body" required ngModel></p-dropdown>
      </div>
      <div class="ui-g-3">
        <label>Select Operator Type</label>
      </div>
      <div class="ui-g-3" *ngIf="!(selectedValueType==1)&&!(selectedValueType==2)&&!(selectedValueType==3)">
        <p-dropdown name="StringOPTypeName" [style]="{'width': '100%'}" disabled="true" [autoWidth]="true" [options]="stringOP" appendTo="body"
          required ngModel></p-dropdown>
      </div>
      <div class="ui-g-3" *ngIf="selectedValueType==1">
        <p-dropdown name="StringOPTypeName" [style]="{'width': '100%'}" [autoWidth]="true" [options]="stringOP" [(ngModel)]="selectedStringOp"
          appendTo="body" required ngModel></p-dropdown>
      </div>
      <div class="ui-g-3" *ngIf="selectedValueType==2">
        <p-dropdown name="NumericOPTypeName" [style]="{'width': '100%'}" [autoWidth]="true" [options]="numericOP" [(ngModel)]="selectedNumericOp"
          appendTo="body" required ngModel></p-dropdown>
      </div>
      <div class="ui-g-3" *ngIf="selectedValueType==3">
        <p-dropdown name="OthersOPTypeName" [style]="{'width': '100%'}" [autoWidth]="true" [options]="othersOP" [(ngModel)]="selectedOthersOp"
          appendTo="body" required ngModel></p-dropdown>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3">
        <label>Comparison  Value</label>
      </div>
      <div class="ui-g-3">
        <input name="ComparisonValue" [disabled]="!selectedOthersOp&&!selectedNumericOp&&!selectedStringOp" type="text" style="width:177px;"[(ngModel)]="httpStatsMonitorDetail.compValue"
          pInputText autofocus required ngModel/>
      </div>

      <div class="ui-g-3">
        <label>Description</label>
      </div>
      <div class="ui-g-3">
        <input name="Description" [disabled]="!selectedOthersOp&&!selectedNumericOp&&!selectedStringOp" type="text" style="width:177px;" [(ngModel)]="httpStatsMonitorDetail.description"
          pInputText autofocus required ngModel/>
      </div>
    </div>

    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="submit" pButton icon="fa-check" label="Save"></button>
        <button type="button" pButton icon="fa-close" (click)="addEditHttpStatsMonitorDialog=false" label="Cancel"></button>
      </div>
    </footer>
  </form>
  </p-dialog>