<form (ngSubmit)="saveKeywordData(form)" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Instrumentation Profiles
            <div class="pull-right">
                <button type="button" pButton icon="fa-refresh" (click)="resetKeywordData()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="!enableGroupKeyword" (click)="validateInstrProfiles()" label="Save"></button>
            </div>
        </div>
        <p-panel class="hideheader">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">


                <div class="ui-g-12">
                    <div class="ui-g-1"></div>
                    <label> Select profiles to instrument application methods</label>
                </div>

                <div class="ui-g-12">

                    <div class="ui-g-1"></div>
                    <div class="ui-g-5">

                        <!--<input name="multiSelect" type="text" size="50" class='hidden-validator' pInputText [(ngModel)]="instrProfiles" required ngModel/>-->
                        <p-multiSelect name="instrProfiles" [options]="instrProfileSelectItem" [(ngModel)]="instrProfiles" required ngModel></p-multiSelect>
                    </div>

                </div>
            </div>
        </p-panel>
    </div>
</form>