<form (ngSubmit)="saveKeywordData(form)" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
      <div class="header">Settings
        <div class="pull-right">
             <i class="fa fa-question-circle" title="Help" (click)="sendHelpNotification()"></i>
             <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Reset to Default"></button>
             <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetToDefault()" label="Reset to Default"></button>
             <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable || !enableGroupKeyword" (click)="resetKeywordData()" label="Reset"></button>
             <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="resetKeywordData()" label="Reset"></button>
             <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Save"></button>
             <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable || !enableGroupKeyword" label="Save"></button>
        </div>
      </div>
      <p-panel class="hideheader instrprofileheaderhght">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid configui-hideheader">
  
  
          <div class="ui-g-12">
            <!-- <div class="ui-g-1"></div> -->
            <label>Select Instrumentation Profiles to Monitor Application methods</label>
          </div>
  
          <div class="ui-g-12">
  
            <!-- <div class="ui-g-1"></div> -->
            <div class="ui-g-5">
  
              <!--<input name="multiSelect" type="text" size="50" class='hidden-validator' pInputText [(ngModel)]="instrProfiles" required ngModel/>-->
              <p-multiSelect name="instrProfiles" class="nde-ui" [options]="instrProfileSelectItem" [(ngModel)]="instrProfiles" ngModel></p-multiSelect>
            </div>
           <div class="ui-g-1">
              <button type="button" pButton icon="fa-folder-open" *ngIf="!isProfilePerm" [disabled]="saveDisable || !enableGroupKeyword" (click)="openFileManager()" label="Browse"></button>
              <button type="button" pButton icon="fa-folder-open" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="openFileManager()" label="Browse"></button>
            </div>
  
          </div>
        </div>
      </p-panel>
    </div>
  </form>
  <!--Dialog to open file explorer dialog -->
  <p-dialog  class="profile-dialog browseTopCss headerCss" header="File Manager" *ngIf="openFileExplorerDialog" [(visible)]="openFileExplorerDialog" modal="modal" width="650" responsive="true" [resizable]="false">
    
        <!-- This will look for this component in the ProductUI at this path -
       ..\ProductUI\gui\src\app\modules\file-explorer\components\config-nd-file-explorer\-->
       
      <!-- <app-config-nd-file-explorer></app-config-nd-file-explorer> -->
  </p-dialog>
  
  
  