<form *ngIf="hotspot" (ngSubmit)="saveKeywordData()" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Settings
            <div class="pull-right">
                <i class="fa fa-question-circle" title="Help" (click)="sendHelpNotification()"></i>
                <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Reset to Default"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordsDataToDefault()" label="Reset to Default"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordData()"
                    label="Reset"></button>
                <button type="button" pButton icon="fa-refresh" *ngIf="isProfilePerm" [disabled]="isProfilePerm" (click)="resetKeywordData()"
                    label="Reset"></button>
                <button type="submit" pButton icon="fa-check" *ngIf="isProfilePerm" [disabled]="isProfilePerm" label="Save"></button>
                <button type="submit" pButton icon="fa-check" *ngIf="!isProfilePerm" [disabled]="saveDisable" label="Save"></button>

            </div>
        </div>
        <p-panel class="hideheader">
            <div style="margin: 5px 0px" class="flowpathheader-accordion" *ngIf="agentType == 'Java' || agentType == '-'">
                <p-fieldset legend="Hotspot Detection" [toggleable]="true">
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label>Thread Sampling Interval</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="The provided value defines the frequency interval for collecting thread samples"></i>
                        </div>
                        <div class="ui-g-2">
                            <input name="sampleInterval" type="number" class="configui-hotspot-css" title="Set this to 0 if you don't need this feature"
                                pInputText [(ngModel)]="hotspot.ASSampleInterval.value" min={{hotspot.ASSampleInterval.min}}
                                max={{hotspot.ASSampleInterval.max}} required ngModel /> (ms)
                        </div>
                        <div class="ui-g-3" style="margin-left: -47px;margin-top: 2px;width: 26%;">
                            <label>Consecutive matching samples to mark as Hotspot</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="No. of consecutive thread samples having same stack trace"></i>
                        </div>
                        <div class="ui-g-1">
                            <input name="matchCount" type="number" class="configui-hotspot-css" pInputText [(ngModel)]="hotspot.ASThresholdMatchCount.value"
                                min={{hotspot.ASThresholdMatchCount.min}} max={{hotspot.ASThresholdMatchCount.max}} required
                                ngModel/>
                        </div>
                        <div class="ui-g-4">
                            Compare top <input name="comparingDepth" type="number" class="configui-hotspot-css" pInputText
                                [(ngModel)]="hotspot.ASStackComparingDepth.value" min={{hotspot.ASStackComparingDepth.min}} max={{hotspot.ASStackComparingDepth.max}}
                                required ngModel /> stack frames of same thread
                            <i class="fa fa-info-circle" aria-hidden="true" title="Compare top <{{hotspot.ASStackComparingDepth.value}}> stack frames of same thread in consecutive matching samples"></i>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <!--<div class="ui-g-4">
                                        <label>Compare top frames</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <input name="comparingDepth" type="number" style="width: 50%" pInputText [(ngModel)]="hotspot.ASStackComparingDepth.value" min={{hotspot.ASStackComparingDepth.min}} max={{hotspot.ASStackComparingDepth.max}} required ngModel />
                                    </div>-->

                        <div class="ui-g-6">
                            <p-checkbox name="ASMethodHotspots" binary="true" [(ngModel)]="hotspot.ASMethodHotspots.value" label=" Enable Method Hotspot sensor"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4 configui-hotspot-css-2" style="width:34.3333%">
                            <label>Maximum Stack depth difference in consecutive matching samples</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="To consider a method as a Hotspot,search stuck methods in consecutive thread samples whose stack depth difference is not more than the specified value"></i>
                        </div>
                        <div class="ui-g-1">
                            <input name="maxStackSizeDiff" disabled="{{!hotspot.ASMethodHotspots.value}}" type="number" class="configui-hotspot-css"
                                pInputText [(ngModel)]="hotspot.maxStackSizeDiff.value" min={{hotspot.maxStackSizeDiff.min}}
                                max={{hotspot.maxStackSizeDiff.max}} required ngModel/>
                        </div>
                    </div>
                </p-fieldset>
            </div>

            <div style="margin: 5px 0px" class="flowpathheader-accordion" *ngIf="agentType == 'Java' || agentType == '-'">
                <p-fieldset legend="Filter" [toggleable]="true" [collapsed]="true">
                    <div class="ui-g-12">
                        <div class="ui-g-3" style="width:23%">
                            <label>Minimum Hotspot Thread Depth</label>
                        </div>
                        <div class="ui-g-2" style="padding-left:8px">
                            <input name="depthDebug" type="number" class="configui-hotspot-css" pInputText [(ngModel)]="hotspot.ASDepthFilter.value" min={{hotspot.ASDepthFilter.min}} max={{hotspot.ASDepthFilter.max}} required ngModel />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4" style="width: 21.5%;">
                            <label>Thread names to be included in Hotspot</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Consider only provided thread names for Hotspot detection from all threads of Application"></i>
                            <!--<p-checkbox name="ExceptionChk" [(ngModel)]="includedExceptionChk" binary="true" ngModel label="Thread names to be included in hotspot"></p-checkbox>-->
                        </div>
                        <div class="ui-g-5 configui-hotspot-css-2">
                            <p-chips [(ngModel)]="includedException" name="includedException" ngModel required></p-chips>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4" style="width: 21.5%;">
                            <label>Thread names to be excluded in Hotspot</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Do not consider provided thread names for Hotspot detection"></i>
                            <!--<p-checkbox name="ExceptionChk" [(ngModel)]="excludedExceptionChk" binary="true" ngModel ></p-checkbox>-->
                        </div>
                        <div class="ui-g-5 configui-hotspot-css-2">
                            <p-chips [(ngModel)]="excludedException" name="excludedExcepion" ngModel required></p-chips>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <!-- <p-fieldset legend="Advanced Settings" [toggleable]="true" [collapsed]="true"> -->
                    <!--<div class="ui-g-12">
                                    <div class="ui-g-1"></div>

                                    <div class="ui-g-3">
                                        <label>Report hotspot threads at each interval(ms)</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <input name="reportingInterval" type="number" size="20" pInputText [(ngModel)]="hotspot.ASReportInterval.value" min={{hotspot.ASReportInterval.min}} max={{hotspot.ASReportInterval.max}} required ngModel />
                                    </div>

                                </div>-->
                    <!-- <div class="ui-g-12"> -->
                    <!-- <div class="ui-g-1"></div> -->
                    <!-- <div class="ui-g-3">
                                        <label>Hotspot trace log level</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <input name="traceLevel" type="number" class="configui-hotspot-css" pInputText [(ngModel)]="hotspot.ASTraceLevel.value" min={{hotspot.ASTraceLevel.min}} max={{hotspot.ASTraceLevel.max}} required ngModel />
                                    </div>
                                </div> -->
                    <!-- </p-fieldset> -->
                </div>
            </div>
            <div *ngIf="agentType == 'NodeJS'" style="margin: 5px 0px" class="flowpathheader-accordion">
                <p-fieldset legend="Hotspot Detection" [toggleable]="true">
                    <div class="ui-g-12">
                        <div class="ui-g-3">
                            <label>Thread Sampling Interval</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="The provided value defines the frequency interval for collecting thread samples"></i>
                        </div>
                        <div class="ui-g-2">
                            <input name="sampleInterval" type="number" class="configui-hotspot-css" title="Set this to 0 if you don't need this feature"
                                pInputText [(ngModel)]="hotspot.ASSampleInterval.value" min={{hotspot.ASSampleInterval.min}}
                                max={{hotspot.ASSampleInterval.max}} required ngModel /> (ms)
                        </div>
                        <div class="ui-g-3">
                            <label>Consecutive matching samples to mark as Hotspot</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="No. of consecutive thread samples having same stack trace"></i>
                        </div>
                        <div class="ui-g-2">
                            <input name="matchCount" type="number" class="configui-hotspot-css" pInputText [(ngModel)]="hotspot.ASThresholdMatchCount.value"
                                min={{hotspot.ASThresholdMatchCount.min}} max={{hotspot.ASThresholdMatchCount.max}} required
                                ngModel/>
                        </div>
                    </div>
                </p-fieldset>
            </div>

            <div style="margin: 5px 0px" class="flowpathheader-accordion" *ngIf="agentType == 'NodeJS'">
                <p-fieldset legend="Capture Long Stack Trace" [toggleable]="true" [collapsed]="true">
                    <div class="ui-g-12">
                        <div class="ui-g-3" style="width:23%">
                            <label>Long Stack Type</label>
                        </div>
                        <div class="ui-g-2" style="padding-left:8px">
                            <p-dropdown [options]="stackType" name="stackType" [style]="{'width':'40%'}" [(ngModel)]="selectedStack"
                            (ngModelChange)="getEventSelected($event)"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4" style="width: 21.5%;">
                            <label>Maximum Stack Depth</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Consider only provided maximum stack depth"></i>
                        </div>
                        <div class="ui-g-5 configui-hotspot-css-2">
                            <input name="maxStackDepth" type="number" [disabled]= "selectedStack == 'Disable'"  class="configui-hotspot-css" pInputText [(ngModel)]="maxStackDepth"  min={{hotspot.enableHSLongStack.min}} max =100  required/>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4" style="width: 21.5%;">
                            <label>Events to be excluded in Hotspot</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="Do not consider provided event names for Hotspot detection"></i>
                        </div>
                        <div class="ui-g-5 configui-hotspot-css-2">
                            <p-chips [(ngModel)]="excludedEvent"  [disabled]= "selectedStack == 'Disable'" name="excludedEvent" ngModel required></p-chips>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            
            <div *ngIf="agentType == 'Dot Net'" style="margin: 5px 0px" class="flowpathheader-accordion">
                <p-fieldset legend="Hotspot Detection" [toggleable]="true">
                    <div class="ui-g-12">
                        <div class="ui-g-2">
                            <label>Thread Sampling Interval</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="The provided value defines the frequency interval for collecting thread samples"></i>
                        </div>
                        <div class="ui-g-2">
                            <input name="sampleInterval" type="number" class="configui-hotspot-css" title="Set this to 0 if you don't need this feature"
                                pInputText [(ngModel)]="hotspot.ASSampleInterval.value" min={{hotspot.ASSampleInterval.min}}
                                max={{hotspot.ASSampleInterval.max}} required ngModel /> (ms)
                        </div>
                        <div class="ui-g-3">
                            <label>Consecutive matching samples to mark as Hotspot</label>
                            <i class="fa fa-info-circle" aria-hidden="true" title="No. of consecutive thread samples having same stack trace"></i>
                        </div>
                        <div class="ui-g-1">
                            <input name="matchCount" type="number" class="configui-hotspot-css" pInputText [(ngModel)]="hotspot.ASThresholdMatchCount.value"
                                min={{hotspot.ASThresholdMatchCount.min}} max={{hotspot.ASThresholdMatchCount.max}} required
                                ngModel/>
                        </div>
                        <div class="ui-g-4">
                            Compare top <input name="comparingDepth" type="number" class="configui-hotspot-css" pInputText
                                [(ngModel)]="hotspot.ASStackComparingDepth.value" min={{hotspot.ASStackComparingDepth.min}} max={{hotspot.ASStackComparingDepth.max}}
                                required ngModel /> stack frames of same thread
                            <i class="fa fa-info-circle" aria-hidden="true" title="Compare top <{{hotspot.ASStackComparingDepth.value}}> stack frames of same thread in consecutive matching samples"></i>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </p-panel>
    </div>
</form>
