<form *ngIf="hotspot" (ngSubmit)="saveKeywordData()" #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header">Hotspot Detection settings
            <div class="pull-right">
                <button type="button" pButton icon="fa-refresh" (click)="resetKeywordData()" label="Reset"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="!enableGroupKeyword && saveDisable" label="Save"></button>

            </div>
        </div>
        <p-panel class="hideheader">

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

                <div class="ui-g">

                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-10">
                            <p-fieldset legend="Hotspot Detection Settings" [toggleable]="true">
                                <div class="ui-g-12">
                                    <div class="ui-g-4">
                                        <label>Sampling interval for collecting thread information</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <input name="sampleInterval" type="number" style="width: 50%" title="Set this to 0 if you don't need this feature" pInputText [(ngModel)]="hotspot.ASSampleInterval.value" min={{hotspot.ASSampleInterval.min}} max={{hotspot.ASSampleInterval.max}} required
                                            ngModel />(ms)
                                    </div>
                                    <div class="ui-g-4">
                                        <label>Match count for hotspot detection</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <input name="matchCount" type="number" style="width: 50%" pInputText [(ngModel)]="hotspot.ASThresholdMatchCount.value" min={{hotspot.ASThresholdMatchCount.min}} max={{hotspot.ASThresholdMatchCount.max}} required ngModel/>
                                    </div>
                                </div>

                                <div class="ui-g-12">
                                    <div class="ui-g-4">
                                        <label>Compare top frames</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <input name="comparingDepth" type="number" style="width: 50%" pInputText [(ngModel)]="hotspot.ASStackComparingDepth.value" min={{hotspot.ASStackComparingDepth.min}} max={{hotspot.ASStackComparingDepth.max}} required ngModel />
                                    </div>

                                    <div class="ui-g-6">
                                        <p-checkbox name="ASMethodHotspots" [(ngModel)]="hotspot.ASMethodHotspots.value" binary="true" ngModel label=" Enable Method Hotspot Sensor"></p-checkbox>
                                    </div>
                                </div>

                                <div class="ui-g-12">
                                    <div class="ui-g-6"></div>
                                    <div class="ui-g-4" style="margin-left:20px">
                                        <label>Max Stack Depth in Sample for Method Hotspot</label>
                                    </div>
                                    <div class="ui-g-1">
                                        <input name="maxStackSizeDiff" disabled="{{!hotspot.ASMethodHotspots.value}}" type="number" size="20" pInputText [(ngModel)]="hotspot.maxStackSizeDiff.value" min={{hotspot.maxStackSizeDiff.min}} max={{hotspot.maxStackSizeDiff.max}} required ngModel/>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-10">
                            <p-fieldset legend="Filter Settings" [toggleable]="true" [collapsed]="true">
                                <div class="ui-g-12">

                                    <div class="ui-g-1"></div>
                                    <div class="ui-g-5">
                                        <p-checkbox name="ExceptionChk" [(ngModel)]="includedExceptionChk" binary="true" ngModel label="Thread names to be included in hotspot"></p-checkbox>
                                    </div>
                                    <div class="ui-g-5">
                                        <p-chips [(ngModel)]="includedException" name="includedeException" [(ngModel)]="hotspot.ASPositiveThreadFilters.value" [disabled]="!includedExceptionChk" ngModel required></p-chips>
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-g-1"></div>
                                    <div class="ui-g-5">
                                        <p-checkbox name="ExceptionChk" [(ngModel)]="excludedExceptionChk" binary="true" ngModel label="Thread names to be excluded in hotspot"></p-checkbox>
                                    </div>
                                    <div class="ui-g-5">
                                        <p-chips [(ngModel)]="excludedException" name="excludedExcepion" [(ngModel)]="hotspot.ASNegativeThreadFilter.value" [disabled]="!excludedExceptionChk" ngModel required></p-chips>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-10">
                            <p-fieldset legend="Advanced Settings" [toggleable]="true">
                                <!--<div class="ui-g-12">
                                    <div class="ui-g-1"></div>

                                    <div class="ui-g-3">
                                        <label>Report hotspot threads at each interval(ms)</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <input name="reportingInterval" type="number" size="20" pInputText [(ngModel)]="hotspot.ASReportInterval.value" min={{hotspot.ASReportInterval.min}} max={{hotspot.ASReportInterval.max}} required ngModel />
                                    </div>

                                </div>-->
                                <div class="ui-g-12">
                                    <div class="ui-g-1"></div>
                                    <div class="ui-g-3">
                                        <label>Set hotspot trace logging level to</label>
                                    </div>
                                    <div class="ui-g-2">
                                        <input name="traceLevel" type="number" size="20" pInputText [(ngModel)]="hotspot.ASTraceLevel.value" min={{hotspot.ASTraceLevel.min}} max={{hotspot.ASTraceLevel.max}} required ngModel />
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </p-panel>

    </div>
</form>